{% load static wagtailimages_tags pandas_filters %}
<section class="align-center col-12 cid-s2gyxGxsge" style="margin-bottom: 5rem;"> 
    <div class="container" style="margin-bottom: 5rem;">
        {% include 'loans/loan_apply_page_elements/loan_apply_header.html' %}
    </div>
    <div class="d-flex flex-wrap">
    {% for loan, application_id in loans|zip2:application_ids %}
        <div class="container" style="margin-bottom:2rem;max-width:450px;">
            <div class="row d-flex justify-content-center" style="margin-bottom: 1rem;">
                <div class="col-xs-4">
                    <img src="{% static 'home/css/img/cd-logo-2-n.png' %}" height=72 alt="DigiKredi">
                </div>
                <div class="col-xs-4">
                    <img src="{% static 'home/css/img/arrow.gif' %}" width="48">
                </div>
                <div class="col-xs-4">
                    {% image loan.bank.logo fill-128x96 alt="{{ loan.bank.name }}" %}
                </div>
            </div>
            <div class="row d-flex justify-content-center">
                <div class="col-xs-12">
                    <div class="loan-detail-area loan-final-card">
                        {% include 'loans/loan_apply_page_elements/loan_apply_summary_card.html' %}
                    </div>
                </div>
            </div>
            {% if multiple_applications == 0 %}
            <div class="row d-flex justify-content-center" style="margin-top:1rem;">
                <form method = "post" action="/set-success">
                    {% csrf_token %}
                    <input type="hidden" name="loan_id" value="{{ loan.id }}"/>
                    <input type="hidden" name="application_id" value="{{ application_id }}"/>
                    <input type="hidden" name="apply_link" value="{{ loan.apply_link }}"/>
                    <button type="submit" class="btn-link display-7"><a>Yönlendirme gerçekleşmezse buraya tıklayabilirsiniz.</a></button>
                </form>
            </div>
            {% endif %}
        </div>
    {% endfor %}
    </div>
</section>