{% load pandas_filters %}
<div class="container">
    <div class="align-center border-bottom" style="min-width: 300px;">
        <span class="display-5">Kredi Özetiniz</span>
    </div>
    <div class="row d-flex justify-content-between">
        <div class="col-xs-6">
            <span class="display-6">Kredi Tutarı</span>
        </div>
        <div class="col-xs-6">
            <span class="display-3">{% as_currency loan.principal 'left' %}</span>
            <span class="display-8">{% as_currency loan.principal 'right' %}</span>
        </div>
    </div>
    <div class="row d-flex justify-content-between">
        <div class="col-xs-6">
            <span class="display-6">Vade</span>
        </div>
        <div class="col-xs-6">
            <span class="display-3">{{ loan.tenure.tenure|add_tenure_suffix }}</span>
        </div>
    </div>
    <div class="row d-flex justify-content-between">
        <div class="col-xs-6">
            <span class="display-6">Faiz Oranı</span>
        </div>
        <div class="col-xs-6">
            <span class="display-3">{{ loan.interest|as_percentage }}</span>
        </div>
    </div>
    <div class="row d-flex justify-content-between">
        <div class="col-xs-6">
            <span class="display-6">Aylık Taksit</span>
        </div>
        <div class="col-xs-6">
            <span class="display-3">{% as_currency loan.installment 'left' %}</span>
            <span class="display-8">{% as_currency loan.installment 'right' %}</span>
        </div>
    </div>
    {% if multiple_applications == 1 %}
        <div class="row d-flex justify-content-center" style="padding-top:0.4rem;">
            <form method = "post" action="/set-success">
                {% csrf_token %}
                <input type="hidden" name="loan_id" value="{{ loan.id }}"/>
                <input type="hidden" name="application_id" value="{{ application_id }}"/>
                <input type="hidden" name="apply_link" value="{{ loan.apply_link }}"/>
                <button type="submit" class="general-button bg-green display-6">Başvuru Sayfasına Git</button>
            </form>
        </div>
    {% endif %}
</div>