{% load wagtailimages_tags %}
{% load humanize %}
{% load pandas_filters %}
<div class="loan-query-title col-12 webkit-align-center">
    <span class="display-5 font-weight-bold">Başvuru Sayfasına Yönlendiriliyorsunuz...</span>
    {% if multiple_applications != 1 %}
	    <p class="display-7 text-primary">
	        DigiKredi'yi tercih ettiğiniz için teşekkür ederiz. Birkaç saniye içerisinde başvuru sayfasına yönlendirileceksiniz.
	    </p>
    {% else %}
    	<p class="display-7 text-primary">
	        Dikkat! Birden fazla sayıda krediye başvuracaksınız.<br><u>Güvenliğiniz için kredilerinize aşağıdaki "Başvuru Sayfasına Git" butonlarını kullanarak başvurunuz.</u>
	    </p>
    {% endif %}
</div>