{% load static %}
<script src="{% static 'loans/js/redirect_to_bank.js' %}"></script>
{% if multiple_applications == 0 %}
	<script src="{% static 'loans/js/redirect_to_bank_auto.js' %}"></script>
{% endif %}