<ul class="breadcrumb display-8 justify-content-center" id="breadcrumb-home">
	<li><a href="#kredi-sorgula">{{ loan_type_long }} Sorgula</a></li>
	<li><a href="#en-dusuk-faiz-oranlari">En Düşük Faiz Oranları</a></li>
	<li><a href="#bankalara-gore-faiz-oranlari">Bankalara göre Faiz Oranları</a></li>
	<!-- <li><a href="#haberler">label</a></li>
	<li><a href="#merak-edilenler">label</a></li> -->
	<li><a href="#bankalar">Banka Listesi</a></li>
	<li><a href="#one-cikan-krediler">Öne Çıkan Krediler</a></li>
	<li><a href="/sepet">Kayıtlı Kredilerim</a></li>
</ul>