{% load static pandas_filters wagtailimages_tags %}
<section class="cid-s3nMbhVkww section-margin">
  <div class="container">
    <div class="row justify-content-center position-relative icon-color section-title" style="margin:0 0 1rem 0">
      <div class="display-4 title-color-primary title"><i class="fa fa-sort-amount-asc" aria-hidden="true"></i>&nbsp;En Düşük Faiz Oranları</div>
      <br>
      <span class="col-md-12 straight-line"></span>
    </div>
    {% include "loantype_pages/local/loan_matrix_table.html" with loan_type="GPL" %}
</section>