{% load wagtailimages_tags pandas_filters %}
<div class="container scroll">
   <table class="table align-center" id = {{loan_summary_item.loan_type.loan_type}} >
      <thead>
         <th class="head-item mbr-fonts-style display-6">
         </th>
         <th class="head-item mbr-fonts-style display-7">
            <span class="display-6 font-weight-bold">Tutar</span><br>            
            <span class="display-8 font-weight-light">min-maks</span>
         </th>
         <th class="head-item mbr-fonts-style display-7">
            <span class="display-6 font-weight-bold">Vade</span><br>            
            <span class="display-8 font-weight-light">min-maks</span>
         </th>
         <th class="head-item mbr-fonts-style display-7">
            <span class="display-6 font-weight-bold">Faiz</span><br>            
            <span class="display-8 font-weight-light">min-maks</span>
         </th>
         <th class="head-item mbr-fonts-style display-6">
            Hızlı Sorgula
         </th>
      </thead>
      <tbody>
         {% for loan_summary_item in loan_summary %}
         
         <tr>
            <td>
              <a href="{{ '/banka/'|add:loan_summary_item.bank.slug }}">
               {% image loan_summary_item.bank.logo width-96 alt="{{ loan_summary_item.bank.name }}" %}
              </a>
            </td>
            <td class = "mbr-fonts-style display-7">
               <span class="display-7 mbr-semibold">
               {{ loan_summary_item.min_principal.principal|as_currency_plain_short  }} - 
               {{ loan_summary_item.max_principal.principal|as_currency_plain_short  }}
               </span>
            </td>
            <td>
               <span class="display-7 mbr-semibold">
               {{ loan_summary_item.min_tenure.tenure|add_tenure_suffix_plain  }} - 
               {{ loan_summary_item.max_tenure.tenure|add_tenure_suffix_plain  }}
               </span>
            </td>
            <td>
               <span class="display-7 mbr-semibold">
               {% concat_interests loan_summary_item.min_interest loan_summary_item.max_interest %}
               </span>
            </td>
            <!-- <input type="hidden" name="request_type" value="request_from_loan_summary_table" /> -->
            <td style="min-width: 180px">
              <form action="/show-detail"
                    method = "post"
                    id={% concat "quickLoanDetailRequestForm" loan_summary_item.loan_type.loan_type loan_summary_item.bank.id %} > 
               {% csrf_token %}
               <input type="hidden" name="loan_type" value="{{ loan_type.loan_type }}" />
               <input type="hidden" name="request_source" value="loan-summary-table" />
               <input type="hidden" name="bank" value="{{loan_summary_item.bank.slug}}" />
               
               <div class="row d-flex justify-content-between">
                 <div class="col-md-4 controls pad-mobile">
                    <!-- principal input widget -->
                    <div class="margin-bottom-04 form-group-loan-request display-7 min-height-3rem">
                        <input class="form-field principal-input" type="text" inputmode="numeric"
                             maxlength="10" name="principal" 
                             data-min="{{loan_summary_item.min_principal }}"
                               data-max="{{loan_summary_item.max_principal}}"
                               placeholder="Kredi Tutarı" 
                               required>
                        <span class="align-center" style="line-height: 2.2">TL</span>
                    </div>
                    <span name='principal-validator' class="display-7 mbr-red"></span>
                 </div>
                 <div class="col-md-4 controls pad-mobile">
                    <!-- tenure input widget -->
                    <div class="form-group-loan-request display-7">
                      <select class="select form-control min-height-3rem" name="tenure" required>
                      <option value="">Vade Seçiniz</option>
                      {% for tenure in loan_summary_tenures|get:loan_summary_item.id %}
                        <option value="{{ tenure.tenure }}" {% if tenure.tenure == initial_tenure|as_int %} selected {% endif %}>
                        {{ tenure.tenure|add_tenure_suffix }}
                        </option>
                      {% endfor %}
                      </select>
                    </div>
                 </div>
                 <div class="col-md-4">
                   <input type="submit" name="request-from-loan-summary-table" class="general-button bg-secondary display-7 w-100" value="Hesapla">
                 </div>
               </div>
               </form>
            </td>
         </tr>

         {% endfor %}
      </tbody>
   </table>
</div>