{% load static %}
{% comment %}
<section class="cid-s2gyxGxsge" style="background-image:url({{ loan_type.bg_image.file.url }}) ">
{% endcomment %}
<section class="cid-s2gyxGxsge">
    <div class="container">
        <div class="d-flex flex-column mb-3 align-items-center">
            <div class="p-2 display-2">{{ loan_type.loan_type_long }}</div>
            <div class="p-2">
                <div class="d-sm-flex flex-sm-row justify-content-center align-items-center">
                    <div class="p-2 m-2 loantype-pages-header">
                        <span class="display-4">
                            DigiKredi'de<br>
                            <span class="display-2 font-weight-bold"><u>en güncel</u><br></span>
                            <span class="display-3 font-weight-bold">faiz oranlarını<br></span>
                            keşfetmek için<br>
                            <i>kredileri listele!</i>
                        </span>
                    </div>
                    <div class="p-2 m-2 mobile-hidden" style="font-size:48px;">
                        &#187;
                    </div>
                    <div class="loan-final-card m-2" style="border-radius: 16px;">
                        <form
                            method = "post" id="loanRequestForm"
                            data-tenures-url="{% url 'ajax_load_tenures' %}"
                            get-principal-limits-url="{% url 'ajax_get_principal_limits' %}"
                            >
                            {% csrf_token %}
                            {{ form.media }}
                            <!-- <input type="hidden" name="request_type" value="main_request" /> -->
                            <input type="hidden" name="loan_type" id="id_loan_type" value="{{ loan_type.loan_type }}" />
                            <input type="hidden" name="request_source" value="{{ loan_type.loan_type|add:'-main' }}" />
                            <div id = "main-request-principal"></div>
                            <div id = "main-request-tenure"></div>
                            <input type="submit" style="margin-top:0.4rem;" name="main-request" class="general-button display-4 w-100" value="{{ loan_type.loan_type_long }} Listele">
                        </form>
                    </div>
                  </div>
            </div>
        </div>
    </div>
</section>