{% load static %}
<section class="cid-s3ZoaRMIHq">
    <div class="container">
        <div class="row-nice align-items-start justify-content-center">
            <div class="col-12 col-sm-6">
                <div id="main-navigation">
                    <a id="expand-loan-matrix-section" href="#en-dusuk-faiz-oranlari"><div class="row justify-content-center slide-up">
                        <div class="col-1"><i class="fa  fa-sort-amount-asc"></i></div>
                        <div class="col-9">
                            En Düşük Faiz Oranları<br>
                            <i class="display-8 form-info-text-color">Vade ve tutara göre en düşük faiz oranlarını inceleyin.</i></div>
                        <div class="col-1"><i class="fa fa-angle-right"></i></div>
                    </div></a>
                    <a id="expand-loan-summary-section" href="#bankalara-gore-faiz-oranlari" class="mobile-hidden"><div class="row justify-content-center slide-up">
                        <div class="col-1"><i class="fa fa-bar-chart-o"></i></div>
                        <div class="col-9">Banka Bazlı Faiz Oranları<br>
                            <i class="display-8 form-info-text-color">Bankalara göre faiz oranları özeti ve hızlı sorgulama seçeneği.</i></div>
                        <div class="col-1"><i class="fa fa-angle-right"></i></div>
                    </div></a>
                    {% if featured_loans|length > 0 %}
                    <a id="expand-featured-loans-section" href="#one-cikan-krediler"><div class="row justify-content-center slide-up">
                        <div class="col-1"><i class="fa fa-fire"></i></div>
                        <div class="col-9">En çok tercih edilen krediler<br>
                            <i class="display-8 form-info-text-color">Vade ve tutara göre en düşük faiz oranlarını inceleyin.</i></div>
                        <div class="col-1"><i class="fa fa-angle-right"></i></div>
                    </div></a>
                    {% endif %}
                    <a id="expand-bank-list-section" href="#bankalar"><div class="row justify-content-center slide-up">
                        <div class="col-1"><i class="fa fa-university"></i></div>
                        <div class="col-9">Banka Listesi<br>
                            <i class="display-8 form-info-text-color">Bankaları kendi özelinde inceleyebilirsin.</i></div>
                        <div class="col-1"><i class="fa fa-angle-right"></i></div>
                    </div></a>
                    <a id="expand-faq-section" href="#merak-edilenler"><div class="row justify-content-center slide-up">
                        <div class="col-1"><i class="fa fa-question-circle"></i></div>
                        <div class="col-9">Merak Edilenler<br>
                            <i class="display-8 form-info-text-color">Krediler hakkında merak edilen soruları cevapladık.</i></div>
                        <div class="col-1"><i class="fa fa-angle-right"></i></div>
                    </div></a>
                    <a id="expand-blog-section" href="#haberler"><div class="row justify-content-center slide-up">
                        <div class="col-1"><i class="fa fa-newspaper-o"></i></div>
                        <div class="col-9">Güncel Haberler<br>
                            <i class="display-8 form-info-text-color">Kredi, vade, ve faizlerle ilgili en güncel haberleri okuyabilirsin.</i></div>
                        <div class="col-1"><i class="fa fa-angle-right"></i></div>
                    </div></a>
                    {% comment %}
                    <a id="expand-subscription-section" href="#abone-ol"><div class="row justify-content-center slide-up">
                        <div class="col-1"><i class="fa fa-envelope"></i></div>
                        <div class="col-9">E-posta güncellemelerimize ücretsiz abone olun<br>
                            <i class="display-8 form-info-text-color">Vade ve tutara göre en düşük faiz oranlarını inceleyin.</i></div>
                        <div class="col-1"><i class="fa fa-angle-right"></i></div>
                    </div></a>
                    {% endcomment %}
                </div>
            </div>
        </div>
    </div>
</section>
