{% load static compress%}
<!DOCTYPE html>
<html lang="tr">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="generator" content="digikredi.com">
<!-- <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"> -->
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
<link rel="shortcut icon" type="image/png" href="{% static 'home/css/img/favicon.ico' %}"/>
{% if blog_page != None %} 
  {% block title %}{{ blog_page.title }}{% if blog_page.description %} | {{ blog_page.description }}{% endif %}{% endblock title %}
  <meta name="description" content="{% block meta_description %}{{ blog_page.search_description }}{% endblock meta_description %}"/>
  {% compress css %}
    <link rel="stylesheet" type="text/x-scss" href="{% static 'blog/scss/blog.scss' %}" rel="stylesheet" media="screen">
  {% endcompress %}
{% else %} 
  <title>DigiKredi - İhtiyaç Kredilerini Karşılaştır</title>
  <meta name="description" content="">
{% endif %}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" 
	  integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="{% static 'home/css/style.css' %}">
<link rel="stylesheet" href="{% static 'assets/intro-js/minified/introjs.min.css' %}">
<link rel="stylesheet" href="{% static 'assets/intro-js/themes/introjs-modern.css' %}">
</head>
{% comment %} {% block head %}{% include 'home/global/head.html' %}{% endblock %} {% endcomment %}
<!-- Bu margini CSS uzerinden bodye verirsek introjs pozisyonlamasi bozuluyor. bozmayin. -->
<div style="height: calc(50px + 1rem);"></div>
<div class="loader-div"><div class="lds-hourglass"></div></div>
{% block body %}{% endblock %}
{% block foot %}
{% endblock  %}
{% block scripts %}
{% endblock %}

<script type="text/javascript">
	function setVisible(selector, visible) {
	  document.querySelector(selector).style.display = visible ? 'block' : 'none';
	}

	let stateCheck = setInterval(() => {
	  if (document.readyState === 'complete') {
	    clearInterval(stateCheck);
	  	// setVisible('.loader-div', false);
	  	$(".loader-div").hide();
	  	$(document.body).css('overflow','visible');
	    // document ready
	  }
	}, 100);
</script>
</html>