{% extends 'base.html' %}
{% load static pandas_filters wagtailimages_tags crispy_forms_tags %}
{% comment %}
{% block head %}
    {% include 'home/global/head.html' %}
{% endblock %}
{% endcomment %}
{% block body %}
<body>
    {% include 'home/global/menu.html' %}
    {% include 'home/global/cd_cart.html' %}
    {% include 'home/index_page/header.html' %}
    <a class="anchor" id="discover"></a>
    {% include 'home/index_page/why_us.html' %}
    {% include 'home/index_page/our_business.html' %}
    {% include 'home/index_page/our_services.html' %}
    
    {% include 'home/index_page/post.html' %}
</body>
{% endblock %}
{% block foot %}
    {% include 'home/global/foot.html' %}
{% endblock %}
{% block scripts %}
    {% include 'home/global/scripts.html' %}
{% endblock %}