{% extends 'base.html' %}
{% load static pandas_filters wagtailimages_tags crispy_forms_tags %}
{% comment %}
{% block head %}
    {% include 'home/global/head.html' %}
{% endblock %}
{% endcomment %}
{% block body %}
<body>
    {% include 'home/global/menu.html' %}
    {% include 'home/global/cd_cart.html' %}
    <a class="anchor" id='kredi-sorgula'></a>
    {% include 'home/local/loan_request_section.html' %}
    <a class="anchor" id='en-dusuk-faiz-oranlari'></a>
    <div id="loanmatrix-tables-section"></div>
    {% comment %} {% include 'home/local/loan_matrix_section.html' %} {% endcomment %}
    <a class="anchor" id='one-cikan-krediler'></a>
    <div id="featured-loans-section"></div>
    {% comment %} {% include 'home/local/featured_loans_section.html' %} {% endcomment %}
    <a class="anchor" id='bankalara-gore-faiz-oranlari'></a>
    <div id="loansummary-section"></div>
    {% comment %} {% include 'home/local/loan_summary_section.html' %} {% endcomment %}
    <a class="anchor" id='bankalar'></a>
    <div id="banks-section"></div>
    {% comment %} {% include 'home/global/bank_list_section.html' with title='Kredi Çekebileceğiniz' subtitle='bankalar' description='' %} {% endcomment %}
    <a class="anchor" id='haberler'></a>
    <!-- <div id="blog-section"></div> -->
    {% include 'home/local/blog_section.html' with title="DigiKredi'den" subtitle='Haberler' description='' %}
    <a class="anchor" id='merak-edilenler'></a>
    <!-- <div id="faq-section"></div> -->
    {% include 'home/local/faq_section.html' with title='Krediler Hakkında' subtitle='Merak Edilenler' description='' %}
    <a class="anchor" id='abone-ol'></a>
    {% include 'home/local/subscription_section.html' %}
    {% include 'home/local/breadcrumb_home.html' %}

    
    {% include 'loans/widgets/subscription_notification.html' with notification_title='Kredilerle ilgili faiz değişikliklerinden anında haberdar olmak ister misiniz? E-posta adresinizi girin, gönderelim.' %}


</body>
{% endblock %}
{% block foot %}
    {% include 'home/global/foot.html' %}
{% endblock %}
{% block scripts %}
    {% include 'home/global/scripts.html' %}
    {% comment %}
        {% if show_subscription_notification %}
            {% include 'loans/widgets/subscription_notification.html' with notification_title='Kredilerle ilgili faiz değişikliklerinden anında haberdar olmak ister misiniz? E-posta adresinizi girin, gönderelim.' %}
        {% endif %}
    {% endcomment %}
{% endblock %}