{% load static %}
<section class="cid-s3ZoaRMIHq">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h3 class="display-4 align-center">
                    <strong>DigiKredi'de neler yapabilirsiniz?</strong>
                </h3>
            </div>
        </div>
        <div class="row align-items-stretch">
            <div class="card col-12 col-md-6 col-lg-3">
                <div class="card-wrapper">
                    <div class="card-box">
                        <div class="iconfont-wrapper">
                            <span class="fa fa-th-list fa-3x mbr-primary"></span>
                        </div>
                        <h5 class="display-6"><strong>Kredi Listeleyin</strong></h5>
                        <p class="display-7">En güncel <a href="/ihtiyac-kredisi">İhtiyaç</a>, Taşıt (<a href="/tasit-kredisi-0km/">0 Km</a>, <a href="/tasit-kredisi-2el/">2. El</a>), veya <a href="/konut-kredisi">Konut</a> kredilerini listeleyin. Türkiye'deki 26 bankanın kredi bilgilerini size sunuyoruz.</p>
                    </div>
                </div>
            </div>
            <div class="card col-12 col-md-6 col-lg-3">
                <div class="card-wrapper">
                    <div class="card-box">
                        <div class="iconfont-wrapper">
                            <span class="fa fa-bookmark fa-3x mbr-secondary"></span>
                        </div>
                        <h5 class="display-6"><strong>Kaydedin</strong></h5>
                        <p class="display-7">'Buna başvurabilirim' dediğiniz kredileri kaydetme butonunu kullanarak kaydedin. Krediyi kaydettikten sonra siteden çıkış yapmanız kaydı silmeyecektir.</p>
                    </div>
                </div>
            </div>
            <div class="card col-12 col-md-6 col-lg-3">
                <div class="card-wrapper">
                    <div class="card-box">
                        <div class="iconfont-wrapper">
                            <span class="fa fa-balance-scale fa-3x mbr-yellow"></span>
                        </div>
                        <h5 class="display-6"><strong>Karşılaştırma Yapın</strong></h5>
                        <p class="display-7">Sayfanın sağ üst kısmında kaç adet krediyi kaydettiğinizi görebilirsiniz. Kayıtlı Kredilerim sayfasına giderek istediğiniz kredileri karşılaştırabilirsiniz.</p>
                    </div>
                </div>
            </div>
            <div class="card col-12 col-md-6 col-lg-3">
                <div class="card-wrapper">
                    <div class="card-box">
                        <div class="iconfont-wrapper">
                            <span class="fa fa-check-circle fa-3x mbr-green"></span>
                        </div>
                        <h5 class="display-6"><strong>Kredinizi Seçin</strong></h5>
                        <p class="display-7">Size en çok uyan krediye karar verdiğinizde 'Başvur' butonunu kullanarak ilgili bankanın başvuru sayfasına gidin ve başvurunuzu tamamlayın.</p>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</section>