{% load static %}
<section class="cid-s3ZoaRMIHq fade-in">
   <div class="container-fluid">
      <div class="flex row align-items-stretch h-100 border-top">
         <div class="col-12 col-lg-6 bg-primary-tinted" id="index-nav">
                 <div class="row justify-content-center index-redirector-v2">
                     <img src="{% static 'home/css/img/cd-logo-2-n.png' %}" alt="DigiKredi" width="150">
                 </div>
         </div>
         <div class="col-12 col-lg-6" id="index-nav">
                 <div class="row justify-content-start index-redirector-v2">
                     <span class="main-title">
                         <h1 class="display-2 mbr-semibold">İhtiyaç Kredisi</h1>
                         <p class="display-6">Alışveriş kredisi, tatil kredisi, sağlık kredisi, eşya kredisi, evlilik kredisi, eğitim
                         kredisi, anında kredi gibi birçok kredi türü İhtiyaç Kredisi altında değerlendirilir.</p>
                         <p class="display-6">DigiKredi'de en güncel faiz oranlarını listeleyebilirsiniz.</p>
                     </span>
                     <a href="/ihtiyac-kredisi" class="general-button display-6 apply-button align-center mbr-semibold">İhtiyaç Kredisi Listele</a>
                 </div>

         </div>
      </div>

      <div class="flex row align-items-stretch h-100">
         <div class="col-12 col-lg-6 bg-primary-tinted order-1 order-lg-2" id="index-nav">
                 <div class="row justify-content-center index-redirector-v2">
                     <img src="{% static 'home/css/img/cd-logo-2-n.png' %}" alt="DigiKredi" width="150">
                 </div>
         </div>
         <div class="col-12 col-lg-6 order-2 order-lg-1" id="index-nav">
                 <div class="row justify-content-start index-redirector-v2">
                     <span class="main-title">
                         <h1 class="display-2 mbr-semibold">Taşıt Kredisi</h1>
                         <p class="display-6">Araç satın almak istiyorsanız DigiKredi üzerinden taşıt kredilerine başvurabilirsiniz. Taşıt kredilerini 0 Km veya 2. El olarak listeleyebilirsiniz.</p>
                     </span>
                     <a href="/tasit-kredisi-0km" class="general-button display-6 apply-button align-center mbr-semibold">0 Kilometre Taşıt Kredisi Listele</a>
                     <a href="/tasit-kredisi-2el" class="general-button display-6 apply-button align-center mbr-semibold">2. El Taşıt Kredisi Listele</a>
                 </div>

         </div>
      </div>

      <div class="flex row align-items-stretch h-100 border-bottom">
         <div class="col-12 col-lg-6 bg-primary-tinted" id="index-nav">
                 <div class="row justify-content-center index-redirector-v2">
                     <img src="{% static 'home/css/img/cd-logo-2-n.png' %}" alt="DigiKredi" width="150">
                 </div>
         </div>
         <div class="col-12 col-lg-6" id="index-nav">
                 <div class="row justify-content-start index-redirector-v2">
                     <span class="main-title">
                         <h1 class="display-2 mbr-semibold">Konut Kredisi</h1>
                         <p class="display-6">Kira öder gibi ev sahibi olmak ister miydiniz? DigiKredi sizin yanınızda. Hemen konut kredilerini listeleyin ve size uygun olan krediyi alın.</p>
                     </span>
                     <a href="/konut-kredisi" class="general-button display-6 apply-button align-center mbr-semibold">Konut Kredisi Listele</a>
                 </div>

         </div>
      </div>
      
   </div>
</section>