{% load static wagtailmd %}
<section class="cid-s3ZoaRMIHq" id="blog">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-lg-10">
                <h3 class="display-4 align-center">
                    <strong>{{ post.title }}</strong>
                </h3>
                {{ post.body|markdown|safe }}
            </div>
        </div>
    </div>
</section>