{% load static %}
<section class="cid-s3ZoaRMIHq">
    <div class="container">
        <div class="row align-items-stretch flasher mbr-white">
            <div class="card col-12 col-lg-4">
                <div class="card-wrapper">
                    <div class="card-box">
                        <div class="row align-items-start">
                            <div class="col-4 iconfont-wrapper align-center">
                                <span class="fa fa-calendar fa-4x"></span>
                            </div>
                            <div class="col-8 col-lg-8">
                                <h5 class="display-6 mbr-semibold">Hep Güncel</h5>
                                <p class="display-7">DigiKredi'deki faiz oranları sürekli olarak güncellenir. {% now "d F Y" %} tarihli güncel faiz oranlarını DigiKredi'de bulabilirsiniz.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card col-12 col-lg-4">
                <div class="card-wrapper">
                    <div class="card-box">
                        <div class="row align-items-start">
                            <div class="col-4 iconfont-wrapper align-center">
                                <span class="fa fa-lock fa-4x"></span>
                            </div>
                            <div class="col-8">
                                <h5 class="display-6 mbr-semibold">Ücretsiz ve Güvenilir</h5>
                                <p class="display-7">DigiKredi'de sunduğumuz tüm hizmetler ücretsizdir. Ayrıca verileriniz Türkiye'de, KVKK kapsamında saklanır.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card col-12 col-lg-4">
                <div class="card-wrapper">
                    <div class="card-box">
                        <div class="row align-items-start">
                            <div class="col-4 iconfont-wrapper align-center">
                                <span class="fa fa-smile-o fa-4x"></span>
                            </div>
                            <div class="col-8">
                                <h5 class="display-6 mbr-semibold">Kullanıcı Dostu</h5>
                                <p class="display-7">DigiKredi olarak ilk amacımız kullanıcılarımızın doğru karar verebilmesini sağlamak.</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>