{% extends 'base.html' %}
{% load static wagtailimages_tags%}

{% block head %}
    {% include 'home/global/head.html' %}
{% endblock %}

{% block body %}
<body>
    {% include 'home/global/menu.html' %}
    {% include 'home/global/cd_cart.html' %}
    {% comment %} {% include 'loans/global/tree_bar.html' %} {% endcomment %}
    <section class="engine"></section>
    {% include 'loans/loan_apply_page_elements/loan_apply_main_section.html' %}
</body>
{% endblock %}

{% block foot %}
    {% include 'home/global/foot.html' %}
{% endblock %}

{% block scripts %}
    {% include 'home/global/scripts.html' %}
    {% include 'loans/loan_apply_page_elements/scripts.html' %}
{% endblock %}