{% load static pandas_filters wagtailimages_tags %}
<section class="cid-s3nMbhVkww">
  <div class="container always-scroll">
    <table class="table align-center" id = "loan_comparison_table1" >
      <thead>
          <th class="display-6" width="30%">Özellik</th>
          <th class="display-6" width="30%">A Kredisi</th>
          <th class="display-7" width="10%"><i>Karşılaştırma</i></th>
          <th class="display-6" width="30%">B Kredisi</th>
          <!-- <th class="display-6">Fark</th> -->
      </thead>

      <tbody>  
        <tr>
          <td class="display-6">Banka</td>
          <td><a href="{{ '/banka/'|add:l1.bank.slug }}">{% image l1.bank.logo width-128 alt="{{ l1.bank.name }}" %}</a></td>
          <td></td>
          <td><a href="{{ '/banka/'|add:l2.bank.slug }}">{% image l2.bank.logo width-128 alt="{{ l2.bank.name }}" %}</a></td>
          <!-- <td>-</td> -->
        </tr>
        <tr>
          <td class="display-6">
            {% if l1.bank.participation and l2.bank.participation %}
              Finansman
            {% elif l1.bank.participation or l2.bank.participation %}
              Kredi (Finansman)
            {% else %}
              Kredi
            {% endif %} Tipi</td>
          <td>{% if l1.bank.participation %}{{ l1.loan_type.participation_name }}{% else %}{{ l1.loan_type }}{% endif %}</td>
          <td></td>
          <td>{% if l2.bank.participation %}{{ l2.loan_type.participation_name }}{% else %}{{ l2.loan_type }}{% endif %}</td>
          <!-- <td>-</td> -->
        </tr>
        <tr>
          <td class="display-6">
            {% if l1.bank.participation and l2.bank.participation %}
              Finansman
            {% elif l1.bank.participation or l2.bank.participation %}
              Kredi (Finansman)
            {% else %}
              Kredi
            {% endif %}
          Tutarı</td>
          <td class="display-6">{{ l1.principal.principal|as_currency_plain }}</td>
          <td class="display-8">
            {% if l1.principal.principal > l2.principal.principal %}
              <i class="fa fa-long-arrow-left fa-3x" aria-hidden="true" style="color:var(--c7);"></i>
              <i class="fa fa-long-arrow-right fa-3x" aria-hidden="true" style="color:var(--c9);opacity: 0.1"></i><br>
              Fark: {{ l1.principal.principal|minus:l2.principal.principal|absolute|as_currency_plain }}
            {% elif l1.principal.principal < l2.principal.principal %}
              <i class="fa fa-long-arrow-left fa-3x" aria-hidden="true" style="color:var(--c9);opacity: 0.1"></i>
              <i class="fa fa-long-arrow-right fa-3x" aria-hidden="true" style="color:var(--c7)"></i><br>
              Fark: {{ l1.principal.principal|minus:l2.principal.principal|absolute|as_currency_plain }}
            {% else %}
              <i class="fa fa-arrows-h fa-3x" aria-hidden="true" style="color:var(--c8);"></i>
            {% endif %}
          </td>
          <td class="display-6">{{ l2.principal.principal|as_currency_plain }}</td>
          <!-- <td class="display-6">{% subtract l1.principal.principal l2.principal.principal 'currency' %}</td> -->
        </tr>
        <tr>
          <td class="display-6">Vade</td>
          <td class="display-6">{{ l1.tenure.tenure|add_tenure_suffix_plain }}</td>
          <td class="display-8">
            {% if l1.tenure.tenure < l2.tenure.tenure %}
              <i class="fa fa-long-arrow-left fa-3x" aria-hidden="true" style="color:var(--c7);"></i>
              <i class="fa fa-long-arrow-right fa-3x" aria-hidden="true" style="color:var(--c9);opacity: 0.1"></i>
              Fark: {{ l1.tenure.tenure|minus:l2.tenure.tenure|absolute|add_tenure_suffix_plain }}
            {% elif l1.tenure.tenure > l2.tenure.tenure %}
              <i class="fa fa-long-arrow-left fa-3x" aria-hidden="true" style="color:var(--c9);opacity: 0.1"></i>
              <i class="fa fa-long-arrow-right fa-3x" aria-hidden="true" style="color:var(--c7)"></i>
              Fark: {{ l1.tenure.tenure|minus:l2.tenure.tenure|absolute|add_tenure_suffix_plain }}
            {% else %}
              <i class="fa fa-arrows-h fa-3x" aria-hidden="true" style="color:var(--c8);"></i>
            {% endif %}
          </td>
          <td class="display-6">{{ l2.tenure.tenure|add_tenure_suffix_plain }}</td>
          <!-- <td class="display-6">{% subtract l1.tenure.tenure l2.tenure.tenure 'tenure' %}</td> -->
        </tr>
        <tr>
          <td class="display-6">
            {% if l1.bank.participation and l2.bank.participation %}
              Kâr Payı
            {% elif l1.bank.participation or l2.bank.participation %}
              Faiz Oranı / Kâr Payı
            {% else %}
              Faiz Oranı
            {% endif %}</td>
          <td class="display-6">{{ l1.interest|as_percentage }}</td>
          <td class="display-8">
            {% if l1.interest < l2.interest %}
              <i class="fa fa-long-arrow-left fa-3x" aria-hidden="true" style="color:var(--c7);"></i>
              <i class="fa fa-long-arrow-right fa-3x" aria-hidden="true" style="color:var(--c9);opacity: 0.1"></i>
              Fark: {{ l1.interest|minus:l2.interest|absolute|as_percentage }}
            {% elif l1.interest > l2.interest %}
              <i class="fa fa-long-arrow-left fa-3x" aria-hidden="true" style="color:var(--c9);opacity: 0.1"></i>
              <i class="fa fa-long-arrow-right fa-3x" aria-hidden="true" style="color:var(--c7)"></i>
              Fark: {{ l1.interest|minus:l2.interest|absolute|as_percentage }}
            {% else %}
              <i class="fa fa-arrows-h fa-3x" aria-hidden="true" style="color:var(--c8);"></i>
            {% endif %}
          </td>
          <td class="display-6">{{ l2.interest|as_percentage }}</td>
          <!-- <td class="display-6">{% subtract l1.interest l2.interest 'percentage' %}</td> -->
        </tr>
        <tr>
          <td class="display-6">Aylık Taksit</td>
          <td class="display-6">{{ l1.installment|as_currency_plain }}</td>
          <td class="display-8">
            {% if l1.installment < l2.installment %}
              <i class="fa fa-long-arrow-left fa-3x" aria-hidden="true" style="color:var(--c7);"></i>
              <i class="fa fa-long-arrow-right fa-3x" aria-hidden="true" style="color:var(--c9);opacity: 0.1"></i>
              Fark: {{ l1.installment|minus:l2.installment|absolute|as_currency_plain }}
            {% elif l1.installment > l2.installment %}
              <i class="fa fa-long-arrow-left fa-3x" aria-hidden="true" style="color:var(--c9);opacity: 0.1"></i>
              <i class="fa fa-long-arrow-right fa-3x" aria-hidden="true" style="color:var(--c7)"></i>
              Fark: {{ l1.installment|minus:l2.installment|absolute|as_currency_plain }}
            {% else %}
              <i class="fa fa-arrows-h fa-3x" aria-hidden="true" style="color:var(--c8);"></i>
            {% endif %}
          </td>
          <td class="display-6">{{ l2.installment|as_currency_plain }}</td>
          <!-- <td class="display-6">{% subtract l1.installment l2.installment 'currency' %}</td> -->
        </tr>
        <tr>
          <td class="display-6">Toplam
            {% if l1.bank.participation and l2.bank.participation %}
              Kâr Payı
            {% elif l1.bank.participation or l2.bank.participation %}
              Faiz Oranı / Kâr Payı
            {% else %}
              Faiz Oranı
            {% endif %}
           ve Vergiler</td>
          <td class="display-6">{{ l1.total_interest|as_currency_plain }}</td>
          <td class="display-8">
            {% if l1.total_interest < l2.total_interest %}
              <i class="fa fa-long-arrow-left fa-3x" aria-hidden="true" style="color:var(--c7);"></i>
              <i class="fa fa-long-arrow-right fa-3x" aria-hidden="true" style="color:var(--c9);opacity: 0.1"></i>
              Fark: {{ l1.total_interest|minus:l2.total_interest|absolute|as_currency_plain }}
            {% elif l1.total_interest > l2.total_interest %}
              <i class="fa fa-long-arrow-left fa-3x" aria-hidden="true" style="color:var(--c9);opacity: 0.1"></i>
              <i class="fa fa-long-arrow-right fa-3x" aria-hidden="true" style="color:var(--c7)"></i>
              Fark: {{ l1.total_interest|minus:l2.total_interest|absolute|as_currency_plain }}
            {% else %}
              <i class="fa fa-arrows-h fa-3x" aria-hidden="true" style="color:var(--c8);"></i>
            {% endif %}
          </td>
          <td class="display-6">{{ l2.total_interest|as_currency_plain }}</td>
          <!-- <td class="display-6">{% subtract l1.total_payment l2.total_payment 'currency' %}</td> -->
        </tr>
        <tr>
          <td class="display-6">Toplam Ödeme</td>
          <td class="display-6">{{ l1.total_payment|as_currency_plain }}</td>
          <td class="display-8">
            {% if l1.total_payment < l2.total_payment %}
              <i class="fa fa-long-arrow-left fa-3x" aria-hidden="true" style="color:var(--c7);"></i>
              <i class="fa fa-long-arrow-right fa-3x" aria-hidden="true" style="color:var(--c9);opacity: 0.1"></i>
              Fark: {{ l1.total_payment|minus:l2.total_payment|absolute|as_currency_plain }}
            {% elif l1.total_payment > l2.total_payment %}
              <i class="fa fa-long-arrow-left fa-3x" aria-hidden="true" style="color:var(--c9);opacity: 0.1"></i>
              <i class="fa fa-long-arrow-right fa-3x" aria-hidden="true" style="color:var(--c7)"></i>
              Fark: {{ l1.total_payment|minus:l2.total_payment|absolute|as_currency_plain }}
            {% else %}
              <i class="fa fa-arrows-h fa-3x" aria-hidden="true" style="color:var(--c8);"></i>
            {% endif %}
          </td>
          <td class="display-6">{{ l2.total_payment|as_currency_plain }}</td>
          <!-- <td class="display-6">{% subtract l1.total_payment l2.total_payment 'currency' %}</td> -->
        </tr>
        <tr>
          <td class="display-6"></td>
          <td class="display-6">
            {% include 'home/global/detay_button.html' with loan=l1 request_source='loan-comparison-twoloans' %}
            {% include 'home/global/apply_button.html' with request_source='loan-comparison-twoloans' class="general-button display-8 bg-green align-center" loan=l1 principal=l1.principal.principal tenure=l1.tenure.tenure %}
          </td>
          <td></td>
          <td class="display-6">
            {% include 'home/global/detay_button.html' with loan=l2 request_source='loan-comparison-twoloans' %}
            {% include 'home/global/apply_button.html' with request_source='loan-comparison-twoloans' class="general-button display-8 bg-green align-center" loan=l2 principal=l2.principal.principal tenure=l2.tenure.tenure %}
          </td>
          <!-- <td class="display-6">{% subtract l1.total_payment l2.total_payment 'currency' %}</td> -->
        </tr>

        {% comment %}
        <tr>
          <td class="mbr-fonts-style display-6" colspan="4">{{ loan_comparison_text|safe }}</td>
        </tr>
        {% endcomment %}

        
        
      </tbody>
    </table>

    <br>

    <!-- <h3 class="mbr-fonts-style display-6">
      {{ loan_comparison_text|safe }}
    </h3> -->
    <div style="height:100px;"></div>
  </div>
</section>
