{% load static pandas_filters wagtailimages_tags %}
<section class="cid-s3nMbhVkww">
  <div class="container always-scroll">
    <table class="table align-center" id = "loan_comparison_table1" >
      <thead>
          <th class="display-7" width="10%">Özellik</th>
          {% for e in enum %}
            {% with enum|leng as l %}
            <th class="display-7" width="(90/{{l}})%">{{ e }}</th>
            {% endwith %}
          {% endfor %}
          
      </thead>

      <tbody>  
        <tr>
          <td class="display-7">Banka</td>
          {% for loan in loans %}
            <td><a href="{{ '/banka/'|add:loan.bank.slug }}">{% image loan.bank.logo width-96 alt="{{ loan.bank.name }}" %}</a></td>
          {% endfor %}
        </tr>

        <tr>
          <td class="display-7">Kredi Tipi</td>
          {% for loan in loans %}
            <td>{% if loan.bank.participation %}{{ loan.loan_type.participation_name }}{% else %}{{ loan.loan_type }}{% endif %}</td>
          {% endfor %}
        </tr>

        <tr>
          <td class="display-7">Kredi Tutarı</td>
          {% for loan in loans %}
            <td class="display-7">{{ loan.principal.principal|as_currency_plain }}</td>
          {% endfor %}
        </tr>

        <tr>
          <td class="display-7">Vade</td>
          {% for loan in loans %}
            <td class="display-7">{{ loan.tenure.tenure|add_tenure_suffix_plain }}</td>
          {% endfor %}
        </tr>

        <tr>
          <td class="display-7">Faiz Oranı</td>
          {% for loan in loans %}
            <td class="display-7">
              <span class='display-9' style="position:absolute;top:0;">{% if loan.bank.participation %}Kâr Payı{% endif %}<br></span>
            {{ loan.interest|as_percentage }}</td>
          {% endfor %}
        </tr>

        <tr>
          <td class="display-7">Aylık Taksit</td>
          {% for loan in loans %}
            <td class="display-7">{{ loan.installment|as_currency_plain }}</td>
          {% endfor %}
        </tr>

        <tr>
          <td class="display-7">Toplam Ödeme</td>
          {% for loan in loans %}
            <td class="display-7">{{ loan.total_payment|as_currency_plain }}</td>
          {% endfor %}
        </tr>

        <tr>
          <td class="display-7"></td>
          {% for loan in loans %}
          <td class="display-7">
              {% include 'home/global/detay_button.html' with request_source='loan-comparison-multiloans' %}
              {% include 'home/global/apply_button.html' with request_source='loan-comparison-multiloans' class="general-button display-8 bg-green align-center" principal=loan.principal.principal tenure=loan.tenure.tenure %}
          </td>
          {% endfor %}
        </tr>

        
        
      </tbody>
    </table>

    <br>

    <!-- <h3 class="mbr-fonts-style display-7">
      {{ loan_comparison_text|safe }}
    </h3> -->
  </div>
</section>

<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script>
    var oTable = document.getElementById('loan_comparison_table1');
    var convertedIntoArray = [];
    $("table[id='loan_comparison_table1'] tr").each(function() {
      var rowDataArray = [];
      var actualData = $(this).find('td');
      if (actualData.length > 0) {
         actualData.each(function() {
            rowDataArray.push($(this).text());
         });
         convertedIntoArray.push(rowDataArray);
      }
    });
    // console.log(convertedIntoArray);
    principals = convertedIntoArray[2].map(function(e) { return parseFloat(e.split(',')[0].replace('.','')); }).slice(1);
    principals__min = Math.min.apply(null, principals);
    principals__max = Math.max.apply(null, principals);

    var oCells = oTable.rows.item(3).cells;
    //gets amount of cells of current row
    var cellLength = oCells.length;
    //loops through each cell in current row
    for(var j = 1; j < cellLength; j++){
      // get your cell info here
      var cellVal = oCells.item(j).innerHTML;
      if (parseFloat(cellVal.split(',')[0].replace('.','')) == principals__max) {
        oCells.item(j).innerHTML = '<span style="color:var(--c7);">'+cellVal+'</span> <i class="fa fa-arrow-circle-o-up" aria-hidden="true" style="color:var(--c7);"></i>' ;
      } else if (parseFloat(cellVal.split(',')[0].replace('.','')) == principals__min) {
        oCells.item(j).innerHTML = '<span style="color:var(--c8);">'+cellVal+'</span> <i class="fa fa-arrow-circle-o-down" aria-hidden="true" style="color:var(--c8);"></i>' ;
      }
      // console.log(cellVal);
    }

    tenures = convertedIntoArray[3].map(function(e) { return parseFloat(e.split(' ')[0]); }).slice(1);
    tenures__min = Math.min.apply(null, tenures);
    tenures__max = Math.max.apply(null, tenures);

    var oCells = oTable.rows.item(4).cells;
    for(var j = 1; j < cellLength; j++){
      // get your cell info here
      var cellVal = oCells.item(j).innerHTML;
      if (parseFloat(cellVal.split(' ')[0]) == tenures__min) {
        oCells.item(j).innerHTML = '<span style="color:var(--c7);">'+cellVal+'</span> <i class="fa fa-arrow-circle-o-down" aria-hidden="true" style="color:var(--c7);"></i>' ;
      } else if (parseFloat(cellVal.split(' ')[0]) == tenures__max) {
        oCells.item(j).innerHTML = '<span style="color:var(--c8);">'+cellVal+'</span> <i class="fa fa-arrow-circle-o-up" aria-hidden="true" style="color:var(--c8);"></i>' ;
      }
      // console.log(cellVal);
    }


    interests = convertedIntoArray[4].map(function(e) {try{ return parseFloat(e.split('%')[1].replace(',','.'));} catch { return 0; }}).slice(1);
    interests__min = Math.min.apply(null, interests);
    interests__max = Math.max.apply(null, interests);

    var oCells = oTable.rows.item(5).cells;
    for(var j = 1; j < cellLength; j++){
      // get your cell info here
      var cellVal = oCells.item(j).innerHTML;
      if (parseFloat(cellVal.split('%')[1].replace(',','.')) == interests__min) {
        oCells.item(j).innerHTML = '<span style="color:var(--c7);">'+cellVal+'</span> <i class="fa fa-arrow-circle-o-down" aria-hidden="true" style="color:var(--c7);"></i>' ;
      } else if (parseFloat(cellVal.split('%')[1].replace(',','.')) == interests__max) {
        oCells.item(j).innerHTML = '<span style="color:var(--c9);">'+cellVal+'</span> <i class="fa fa-arrow-circle-o-up" aria-hidden="true" style="color:var(--c9);"></i>' ;
      }
      // console.log(cellVal);
    }


    installments = convertedIntoArray[5].map(function(e) { return parseFloat(e.split(',')[0].replace('.','')); }).slice(1);
    installments__min = Math.min.apply(null, installments);
    installments__max = Math.max.apply(null, installments);

    var oCells = oTable.rows.item(6).cells;
    for(var j = 1; j < cellLength; j++){
      // get your cell info here
      var cellVal = oCells.item(j).innerHTML;
      if (parseFloat(cellVal.split(',')[0].replace('.','')) == installments__min) {
        oCells.item(j).innerHTML = '<span style="color:var(--c7);">'+cellVal+'</span> <i class="fa fa-arrow-circle-o-down" aria-hidden="true" style="color:var(--c7);"></i>' ;
      } else if (parseFloat(cellVal.split(',')[0].replace('.','')) == installments__max) {
        oCells.item(j).innerHTML = '<span style="color:var(--c9);">'+cellVal+'</span> <i class="fa fa-arrow-circle-o-up" aria-hidden="true" style="color:var(--c9);"></i>' ;
      }
      // console.log(cellVal);
    }

    total_payments = convertedIntoArray[6].map(function(e) { return parseFloat(e.split(',')[0].replace('.','')); }).slice(1);
    total_payments__min = Math.min.apply(null, total_payments);
    total_payments__max = Math.max.apply(null, total_payments);

    var oCells = oTable.rows.item(7).cells;
    for(var j = 1; j < cellLength; j++){
      // get your cell info here
      var cellVal = oCells.item(j).innerHTML;
      if (parseFloat(cellVal.split(',')[0].replace('.','')) == total_payments__min) {
        oCells.item(j).innerHTML = '<span style="color:var(--c7);">'+cellVal+'</span> <i class="fa fa-arrow-circle-o-down" aria-hidden="true" style="color:var(--c7);"></i>' ;
      } else if (parseFloat(cellVal.split(',')[0].replace('.','')) == total_payments__max) {
        oCells.item(j).innerHTML = '<span style="color:var(--c9);">'+cellVal+'</span> <i class="fa fa-arrow-circle-o-up" aria-hidden="true" style="color:var(--c9);"></i>' ;
      }
      // console.log(cellVal);
    }

</script>
