<label for="{% if id %}{{ id }}{% else %}interest{% endif %}" class="display-7 form-text-color m-0">
    {% if label_text %}{{ label_text }}{% else %}Faiz Oranı{% endif %}
</label>
<div class="margin-bottom-04 form-group-loan-request display-5 min-height-3rem">
    <input class="form-field interest-input" type="text" inputmode="numeric" maxlength="4" 
    	   id="{% if id %}{{ id }}{% else %}interest{% endif %}"
    	   name="{% if name %}{{ name }}{% else %}interest{% endif %}"
    	   placeholder="{% if placeholder %}{{placeholder}}{% else %}1,45{% endif %}"
           data-min = 0 data-max = 200 required>
    <span class="align-center">%</span>
</div>