<label for="loan_type" class="display-7 form-text-color m-0">
    Kredi Türü
</label>
<select class="margin-bottom-04 select form-control min-height-3rem" id="loan_type" name="loan_type" required>
    <option value="">Seçiniz</option>
    <option value="MOR">Konut Kredisi</option>
    <option value="GPL">İhtiyaç Kredisi</option>
    <option value="CAR">Taşıt Kredisi (0 Km)</option>
    <option value="CA2">Taşıt Kredisi (2. El)</option>
</select>