{% if not no_label %}
<label for="{% if id %}{{ id }}{% else %}principal{% endif %}" class="display-7 form-text-color m-0">
    {% if label_text %}{{ label_text }}{% else %}Kredi Tutarı{% endif %}
</label>
{% endif %}
<div class="margin-bottom-04 form-group-loan-request display-5 min-height-3rem">
    <input class="form-field principal-input" type="text" inputmode="numeric"
    	   maxlength="{% if maxlength %}{{ maxlength }}{% else %}10{% endif %}"
    	   id="{% if id %}{{ id }}{% else %}principal{% endif %}"
    	   name="{% if name %}{{ name }}{% else %}principal{% endif %}"
           data-min = {% if min %}{{ min }}{% else %}0{% endif %}
           {% if max %}data-max={{ max }}{% endif %}
           placeholder="{% if placeholder %}{{placeholder}}{% else %}10.000{% endif %}" 
           {% if not_required %}{% else %}required{% endif %}>
    <span class="align-center">{% if unit %}{{ unit }}{% else %}TL{% endif %}</span>
</div>