<label for="{% if id %}{{ id }}{% else %}tenure{% endif %}" class="display-7 form-text-color m-0">
    {% if label_text %}{{ label_text }}{% else %}Vade{% endif %}
</label>
<div class="margin-bottom-04 form-group-loan-request display-5 min-height-3rem">
    <input class="form-field" type="text" inputmode="numeric" maxlength="3" 
    	   id="{% if id %}{{ id }}{% else %}tenure{% endif %}"
    	   name="{% if name %}{{ name }}{% else %}tenure{% endif %}"
           pattern="\d*" 
           {% if not_required %}{% else %}required{% endif %}
           placeholder="{% if placeholder %}{{placeholder}}{% else %}12{% endif %}">
    <span class="align-center">{% if unit %}{{ unit }}{% else %}Ay{% endif %}</span>
</div>