<label for="tenure" class="display-7 form-text-color m-0">
    Vade
</label>
<select class="margin-bottom-04 select form-control min-height-3rem" id="tenure" name="tenure" required>
    <option value="">Seçiniz</option>
    <option value="1">1 ay</option>
    <option value="2">2 ay</option>
    <option value="3">3 ay</option>
    <option value="4">4 ay</option>
    <option value="5">5 ay</option>
    <option value="6">6 ay</option>
    <option value="7">7 ay</option>
    <option value="8">8 ay</option>
    <option value="9">9 ay</option>
    <option value="10">10 ay</option>
    <option value="11">11 ay</option>
    <option value="12">12 ay</option>
</select>