<label for="{% if id %}{{ id }}{% else %}paid{% endif %}" class="display-7 form-text-color m-0">
	{% if label_text %}{{ label_text }}{% else %}Ödenen Taksit Sayısı{% endif %}
</label>
<div class="margin-bottom-04 form-group-loan-request display-5 min-height-3rem">
    <input class="form-field" type="text" inputmode="numeric"
    	   maxlength={% if maxlength %}{{ maxlength }}{% else %}3{% endif %}
    	   id="{% if id %}{{ id }}{% else %}paid{% endif %}"
    	   name="{% if name %}{{ name }}{% else %}paid{% endif %}"
           data-min = {% if min %}{{ min }}{% else %}0{% endif %}
           data-max = {% if max %}{{ max }}{% else %}180{% endif %} required
           placeholder="{% if placeholder %}{{placeholder}}{% endif %}" 
           style="border-radius: var(--global-border-radius)">
</div>