.like-div {
  margin:0 auto;
  position:absolute; top:0.4em; right:0.4em;
}

.like-icon {
  cursor:pointer;
  /*padding:10px 12px 8px;*/
  background:#fff;
  border-radius:50%;
  /*display:inline-block;*/
  /*margin:1em 1em;*/
  align-items: center;
  color:#aaa;
  transition:.2s;
}

.like-icon:hover {
  color:#c10404;
}

.like-icon::before {
  font-family:fontawesome;
  content:'\f004';
  font-style:normal;
}

.liked-text {
  /*visibility: hidden;*/
  transition:.6s;
  z-index:-2;
  
  /*font-size:2px;*/
  /*color:transparent;*/
}

.like-icon-press {
  /*animation: size .4s;*/
  color:#e23b3b;
}

.liked-text-press {
  visibility:visible;
  color:#e23b3b;
  /*animation: fade 1s;*/
}

/*@keyframes fade {
  0% {color:#transparent;}
  50% {color:#e23b3b;}
  100% {color:#transparent;}
}*/

/*@keyframes size {
  0% {padding:10px 12px 8px;}
  50% {padding:14px 16px 12px;  
    margin-top:-4px;}
  100% {padding:10px 12px 8px;}
}*/