/* FEATURED LOAN CONTAINER */
#ft-container {
	display: flex;
	justify-content: space-between;
}

#ft-container > div {
	border:1px solid #ddd;
	border-radius: 12px;
	padding:10px;
}

.space-between {
	display: flex;
	justify-content: space-between;
}