@import url(https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap);

:root {
  --input-color: #ff7e2e;
  --input-border: #ff7e2e;
  --input-background: #fff;
  --input-placeholder: #ff7e2e;
  --input-border-focus: #2c3952;
  --group-color: #fff;
  --group-border: var(--input-border);
  --group-background: #ff7e2e;
  --group-color-focus: #fff;
  --group-border-focus: var(--input-border-focus);
  --group-background-focus: #2c3952;
  --primary-color: #fff;
  --secondary-color: #efefef;
}

.form-field {
  display: block;
  width: 100%;
  padding: 0px 0px 0px 1rem;
  border-radius: 6px;
  -webkit-appearance: none;
  color: var(--input-color);
  border: 1px solid var(--input-border);
  background: var(--input-background);
  -webkit-transition: border .3s ease;
  transition: border .3s ease;
}
.form-field::-webkit-input-placeholder {
  color: var(--input-placeholder);
}
.form-field::-moz-placeholder {
  color: var(--input-placeholder);
}
.form-field:-ms-input-placeholder {
  color: var(--input-placeholder);
}
.form-field::-ms-input-placeholder {
  color: var(--input-placeholder);
}
.form-field::placeholder {
  color: var(--input-placeholder);
}
.form-field:focus {
  outline: none;
  border-color: var(--input-border-focus);
}

.form-group-loan-request {
  /*font-family: 'Montserrat', sans-serif;*/
  position: relative;
  display: -webkit-box;
  display: flex;
  width: 100%;
  margin-bottom: 0.4rem;
}

.form-group>label{
  position:absolute;
  top:10px;
  left:40px;
  background-color:white;
}

.form-group-loan-request > span,
.form-group-loan-request .form-field {
  white-space: nowrap;
  display: block;
}
.form-group-loan-request > span:not(:first-child):not(:last-child),
.form-group-loan-request .form-field:not(:first-child):not(:last-child) {
  border-radius: 0;
}
.form-group-loan-request > span:first-child,
.form-group-loan-request .form-field:first-child {
  border-radius: 6px 0 0 6px;
}
.form-group-loan-request > span:last-child,
.form-group-loan-request .form-field:last-child {
  border-radius: 0 6px 6px 0;
}
.form-group-loan-request > span:not(:first-child),
.form-group-loan-request .form-field:not(:first-child) {
  margin-left: -1px;
}
.form-group-loan-request .form-field {
  position: relative;
  z-index: 1;
  -webkit-box-flex: 1;
          flex: 1 1 auto;
  width: 1%;
  margin-top: 0;
  margin-bottom: 0;
}
.form-group-loan-request > span {
  /*text-align: center;*/
  /*margin: auto;*/
  /*padding: 0.5rem;*/
  padding: 0.5rem;
  color: var(--group-color);
  background: var(--group-background);
  border: 1px solid var(--group-border);
  -webkit-transition: background .3s ease, border .3s ease, color .3s ease;
  transition: background .3s ease, border .3s ease, color .3s ease;
}
.form-group-loan-request:focus-within > span {
  color: var(--group-color-focus);
  background: var(--group-background-focus);
  border-color: var(--group-border-focus);
}

.general-button {
  background-color:#ff7e2e;
	border-radius:6px;
	border:0px solid #646c78;
	/*display:inline-block;*/
	cursor:pointer;
	color:#ffffff;
	padding: 0.6em;
  /*margin: 8px;*/
  text-decoration:none;
  width: 100%;
}

.general-button:hover {
	background-color:#646c78;
}
.general-button:active {
	position:relative;
	top:1px;
}

.bg-gray {
  background-color: #efefef !important;
  color: black;
}
.bg-gray:hover {
  background-color: #ddd !important;
  color: black;
}
.bg-gray:active {
  background-color: #CACBD3 !important;
  color: black;
}

.bg-green {
  background-color: #329932 !important;
  color: white;
}

.bg-green:hover {
  background-color: #4ca64c !important;
}

.bg-green:active {
  background-color: #008000 !important;
}

.rounded-corners {
  border-radius: 1rem;
}

@media screen and (max-width: 768px) {
  .apply-button {
     margin-top: 10px;
  }
}