{% if loan.header_type != None %}
<div class="loan-header-div display-7">
	<div class="content">
		{{ loan.header_type.fa_icon|safe }}
    	<span>{{ loan.header_type.text }}</span>
	</div>
</div>
{% endif %}