{% load humanize static %}

<section class="cid-s3ZoaRMIHq">
    <div class="container" style="margin-bottom: 1em;">
        <div class="row align-items-stretch">
            <div class="col-12 col-lg-3">
                <div class="sticky-top side-div" style="z-index: 0;">
                    {% include 'loans/loan_detail_page_elements/loan_detail_header.html' %}
                    {% include 'loans/loan_detail_page_elements/quick_loan_request_section.html' %}
                </div>
            </div>
            <div class="col-12 col-lg-9">
                <div class="row align-items-stretch">
                    <div class="col-12 col-lg-7">
                        {% include 'loans/loan_detail_page_elements/loan_detail_section.html' %}
                        {% include 'loans/loan_detail_page_elements/min_interest_check.html' %}
                    </div>
                    <div class="col-12 col-lg-5">
                        {% include 'loans/loan_detail_page_elements/loan_detail_payment_breakdown_section.html' %}
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        {% include 'loans/loan_detail_page_elements/loan_detail_tabbed_section.html' %}
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</section>
{% comment %}
<!-- <script src="{% static 'js/requery_loan_details.js' %}"></script> -->
{% endcomment %}
