{% load wagtailimages_tags pandas_filters %}
<div class="row-nice d-flex loan-query-title justify-content-between align-items-center">
	<div class="order-md-2 col-6 col-lg-12 p-0">
	    <span class="display-7">
	    	<span class="display-5 mbr-semibold">{{ loan.name }}</span>
	    	<br>
	        {{ principal|as_currency_plain_short }} TL'lik 
	        	{% if loan.bank.participation %}
                    finansmanın
                {% else %}
                    kredin
                {% endif %} hazır!
	    </span>
	</div>
	<div class="order-md-1 col-6 col-lg-12 p-0 align-right-mobile">
		<a href="{{ '/banka/'|add:loan.bank.slug }}">
		{% image loan.bank.logo fill-128x96 alt="{{ loan.bank.name }}" %}</a>
	</div>
</div>