{% load pandas_filters humanize %}
<div class="loan-final-card sticky-top" style="z-index: 1;">
    {% include 'loans/widgets/fav_icon.html' %}
    <div class="p-1 align-center border-bottom">
        <span class="display-5">
            {% if loan.bank.participation %}
                Finansman Özetiniz
            {% else %}
                Kredi Özetiniz
            {% endif %}
        </span>
    </div>
    <div class="loan-detail-upper-parent border-bottom">
        <div class="loan-detail-upper-div1 align-left">
            <span class="display-8">
                {% if loan.bank.participation %}
                    Finansman Tutarı
                {% else %}
                    Kredi Tutarı
                {% endif %}
            </span><br>
            <span class="display-6 font-weight-bold">{% as_currency loan.principal 'left' %}</span>
            <span class="display-8">{% as_currency loan.principal 'right' %}</span>
        </div>
        <div class="loan-detail-upper-div2 align-center ">
            <span class="display-8">Vade</span><br>
            <span class="display-6 font-weight-bold">{{ tenure|add_tenure_suffix }}</span>
        </div>
        <div class="loan-detail-upper-div3 align-right">
            <span class="display-8">
                {% if loan.bank.participation %}
                    Kâr Payı
                {% else %}
                    Faiz Oranı
                {% endif %}
            </span><br>
            <span class="display-6 font-weight-bold">{{ loan.interest|as_percentage }}</span>
        </div>
    </div>

    <div class="loan-detail-lower-parent">
        <div class="loan-detail-lower-div1 align-left">
            <span class="display-7">Aylık Taksit</span><br>
                <span class="display-4 font-weight-bold">{% as_currency loan.installment 'left' %}</span>
                <span class="display-8">{% as_currency loan.installment 'right' %}</span>
        </div>
        <div class="loan-detail-lower-div2">
            {% include 'home/global/apply_button.html' with request_source='loan-detail-page' %}
        </div>
    </div>
</div>