{% load static pandas_filters wagtailmd %}
<div id = "loan-detail-tabs">
	<ul class="nav nav-tabs mbr-fonts-styles display-7" id="loanDetailTabs" role="tablist">
		<li class="nav-item">
			<a class="nav-link active" id="documents-tab" data-toggle="tab" href="#documents" role="tab" aria-controls="documents" aria-selected="false">Detaylar</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" id="payment-plan-tab" data-toggle="tab" href="#payment-plan" role="tab" aria-controls="payment-plan" aria-selected="false">Ödeme Planı</a>
		</li>
		{% if interest_break_table %}
		<li class="nav-item">
			<a class="nav-link" id="interest-break-tab" data-toggle="tab" href="#interest-break" role="tab" aria-controls="interest-break" aria-selected="false">Vadelere Göre Faiz Oranı</a>
		</li>
		{% endif %}
	</ul>
	<div class="tab-content mbr-fonts-styles display-7" id="loanDetailTabsContent">

		<div class="tab-pane fade show active" id="documents" role="tabpanel" aria-labelledby="documents-tab">
			{{ loan.description|markdown|safe }}
			{% if loan.loan_type.loan_type == 'GPL' %}
		    	{% include 'loantype_pages/local/ihtiyac_kredisi_rehberi.html' %}
		    {% elif loan.loan_type.loan_type == 'CAR' or loan.loan_type.loan_type == 'CA2' %}
		    	{% include 'loantype_pages/local/tasit_kredisi_rehberi.html' %}
		    {% else %}
		    	{% include 'loantype_pages/local/konut_kredisi_rehberi.html' %}
		    {% endif %}
		</div>

		<div class="tab-pane fade" id="payment-plan" role="tabpanel" aria-labelledby="payment-plan-tab">
			{% include 'loans/loan_detail_page_elements/loan_detail_payment_plan.html' %}
			</div>

		<div class="tab-pane fade" id="interest-break" role="tabpanel" aria-labelledby="interest-break-tab">
			{{ interest_break_table|safe }}
		</div>
	</div>
</div>

<!-- <script type="text/javascript">
	$(function() {
		$('#datatable.pandas').bootstrapTable({
		    striped: true,
		    showColumns: true,
		    showToggle: false,
		    showExport: false,
		    sortable: true,
		    columns: {{ loan.payment_plan_columns|safe }},
		    data: {{ loan.payment_plan_data|safe }},
		});
	});
</script> -->