{% load pandas_filters %}
<div class="col-12 align-center display-7 pad-desktop-top-1">
    <div class="p-1 row align-center border-bottom">
        <span class="display-5">Ödeme Detayı</span>
    </div>
    <div class="p-2 row justify-content-between">
        <span>Kredi Tutarı</span>
        <span>{{ principal|as_currency_plain }}</span>
    </div>
    <div class="p-2 row justify-content-between">
        <span>Toplam
            {% if loan.bank.participation %}
                Kâr Payı
            {% else %}
                Faiz
            {% endif %} ve Vergiler
        </span>
        <span>{{ loan.total_interest|as_currency_plain }}</span>
    </div>
    <div class="p-2 row justify-content-between">
        <span>Dosya Masrafı</span>
        <span>{{ loan.allocation_fee|as_currency_plain }}</span>
    </div>
    <div class="p-2 row justify-content-between border-top font-weight-bold">
        <span>Toplam Ödeme</span>
        <span>{{ loan.total_payment|as_currency_plain }}</span>
    </div>
</div>