{% load pandas_filters %}
{% if not superior_loan %}
    <div class="display-7 row d-flex align-items-center" style="line-height:1.15;padding:1rem;margin:0 0 1rem 0;border-radius: var(--global-border-radius);background:var(--c7);">
        <div class="col-2">
            <i class="fa fa-check-circle-o fa-2x" aria-hidden="true" style="color:white;padding-right:4px;"></i>
        </div>
    	<div class="col-10 d-flex align-items-center mbr-white">
    		Bu tutar ve vadedeki en ucuz kredi!
    	</div>
    </div>
{% else %}
    {% if loan.bank.partnered == False %}
    <div class="display-7 row d-flex align-items-start" style="line-height:1.15;padding:1rem;margin:0 0 1rem 0;border-radius: var(--global-border-radius);background:var(--c4-tint-triple);">
        <div class="col-12 col-sm-8">
            <div class="row">
                <div class="col-2">
                    <i class="fa fa-info-circle fa-2x" aria-hidden="true" style="color:var(--icon-color);"></i>
                </div>
                <div class="col-10">
                    Bu krediye göre toplam <b>{{ loan.total_payment|minus:superior_loan.total_payment|as_currency_plain_short }} TL daha az</b> ödeyebileceğiniz bir alternatif mevcut.
                </div>
            </div>
        </div>
        <div class="col-12 col-sm-4">
            {% include 'home/global/detay_button.html' with loan=superior_loan request_source='loan-detail-page-cheaper-loan-exists' %}
        </div>
    </div>
    {% endif %}
{% endif %}

{% if loan.loan_type.loan_type == 'CAR' or loan.loan_type.loan_type == 'CA2' %}
    {% include 'loans/loan_query_page_elements/min_interest_check.html' with request_source='loan-detail-page-cheaper-gpl-exists' %}
{% endif %}