{% load static pandas_filters %}
<div class="mobile-hidden">
  <input type="hidden" name="initial_tenure" id="initial_tenure_id" value="{{ tenure }}" />
  <input type="hidden" name="initial_principal" id="initial_principal_id" value="{{ principal }}" />
      <form action="/show-detail" method = "POST" id="quickLoanDetailRequestForm">
          {% csrf_token %}
          <input type="hidden" name="bank" id="bank-input" value="{{ loan.bank.slug }}" />
          <input type="hidden" name="loan_type" id="loan_type-input" value="{{ loan.loan_type.loan_type }}" />
          <input type="hidden" name="request_source" value="loan-detail-page">
          <!-- principal input widget -->
          <div id="principal-input-div">{% include 'loans/widgets/principal_input_widget.html' %}</div>
          <!-- tenure input widget -->
          <div id="tenure-input-div">{% include 'loans/widgets/tenure_input_widget.html' %}</div>
          <button type="submit" class="general-button display-7 w-100" style="margin: 0.4rem 0 ;">Tekrar Hesapla</button>
      </form>
      <div class="align-center">{% include 'home/global/search_across_all_banks_button.html' with request_source='loan-detail-page' %}</div>
</div>
{% comment %} <script src="{% static 'home/js/set-loan-type.js' %}"></script> {% endcomment %}