{% load static wagtailimages_tags wagtailmd %}
{% if bank.description %}
<section class="cid-s3nMbhVkww">
  <div class="container">
      <div class="row">
        <div class="homepage-header">
        {% image bank.logo width-128 alt="{{ bank.name }}" %}
        </div>
        <div class="homepage-header">
        <span class="display-3 font-weight-bold">{{ title }}</span><br><span class="display-5 font-weight-bold">{{ subtitle }}</span>
        </div>
        <div class="homepage-header">
        <span class="display-7">{{ description }}</span></div>
      </div>
      <span class='display-7'>
        {{ bank.description|markdown|safe }}
      </span>
</section>
{% endif %}