{% load pandas_filters %}

    <li class="d-flex justify-content-between", style="line-height: 1.5;">
        <span class="display-8">
            {% if loan.bank.participation %}
                Kâr Payı
            {% else %}
                Faiz Oranı
            {% endif %}
        </span>
        <span>{{ loan.interest|as_percentage }}</span>
    </li>
    <li class="d-flex justify-content-between", style="line-height: 1.5;">
        <span class="display-8">Aylık Taksit</span>
        <span>{{ loan.installment|as_currency_plain }}</span>
    </li>
    <li class="d-flex justify-content-between", style="line-height: 1.5;">
        <span class="display-8">Toplam Ödeme</span>
        <span>{{ loan.total_payment|as_currency_plain }}</span>
    </li>
    <li class="space-between d-flex justify-content-center">
        <div class="row justify-content-between">
            <div class="col-12">
                {% include 'home/global/apply_button.html' with principal=loan.principal.principal tenure=loan.tenure.tenure request_source='bank-page-main' %}
            </div>
            <div class="col-12">
                {% include 'home/global/detay_button.html' with request_source='bank-page-main' %}
                {% include 'home/global/search_across_all_banks_button.html' with request_source='bank-page-main' %}
            </div>
        </div>
    </li>