{% load pandas_filters %}
<div 

    id={% concat "loan-request-form-" loan_summary_item.loan_type.loan_type %}
    loan_type = "{{ loan_summary_item.loan_type.loan_type }}"
    bank = "{{ loan_summary_item.bank.slug }}">
    <input type="hidden" name="loan_type" value={{ loan_summary_item.loan_type.loan_type }} />
        {% csrf_token %}
        {{ form.media }}
        <!-- principal input widget -->
        <div 
          id = {% concat "principal-" loan_summary_item.loan_type.loan_type %}
          initial = {{ loan_summary_item.loan_type.default_principal }}></div>
        <!-- tenure input widget -->
        <div 
          id = {% concat "tenure-" loan_summary_item.loan_type.loan_type %}
          initial = {{ loan_summary_item.loan_type.default_tenure }}></div>
</div>
