{% load static wagtailimages_tags pandas_filters l10n %}
<h2 class="align-center" id="bank-logo-div">{% image bank.logo width-360 alt="{{ bank.name }}" %}</h2> 

{% if loan_summary_list|leng > 0 %}
<h2 class="align-center display-7 font-weight-light">Aşağıda {{ bank.name|add_iyelik }} {% now "d F Y" %} tarihi itibarıyla en güncel kredilerini görebilirsin!</h2>
{% else %}
<h2 class="align-center display-7 font-weight-light">Sistemimizde {{ bank.name|add_iyelik }} ait kredi bulunamadi.</h2>
{% endif %}

<div class="d-flex flex-wrap justify-content-center">
    {% for loan_summary_item in loan_summary_list %}
        <div class="d-flex p-2 flex-column flex-fill bd-highlight mb-3 align-center bank-loantype-summary-box">                        
                <div class="p-2 bd-highlight"><i class="fa {{ loan_summary_item.loan_type.fa_icon }}" aria-hidden="true"></i>
                {% if bank.participation %}
                    {{ loan_summary_item.loan_type.participation_name }}
                {% else %}
                    {{ loan_summary_item.loan_type }}
                {% endif %}
                </div>
                <div>
                    <span class="display-8">
                    {% if bank.participation %}
                        Kâr Payı
                    {% else %}
                        Faiz Oranı
                    {% endif %}
                    </span><br>
                    <span class="display-6 font-weight-bold">{% concat_interests loan_summary_item.min_interest loan_summary_item.max_interest %}</span>
                </div>

                {% comment %}

                <div class="d-flex flex-wrap justify-content-between">
                    <div class="bd-highlight display-8">
                        {% if bank.participation %}
                            Finansman Tutarı
                        {% else %}
                            Kredi Tutarı
                        {% endif %}
                    </div>
                    <div class="bd-highlight display-7">{{ loan_summary_item.min_principal.principal|as_currency_plain_short  }} - 
            {{ loan_summary_item.max_principal.principal|as_currency_plain_short }} TL</div>
                </div>
                <div class="d-flex flex-wrap justify-content-between">
                    <div class="bd-highlight display-8">Vade</div>
                    <div class="bd-highlight display-7">{{ loan_summary_item.min_tenure.tenure|add_tenure_suffix_plain  }} - 
            {{ loan_summary_item.max_tenure.tenure|add_tenure_suffix_plain  }}</div>
                </div>

                {% endcomment %}

        <div class="p-2 align-left">
            {% include 'bank_pages/local/header_loan_request_inputs.html' %}
            <ul class="list-group" refers-to={% concat "loan-request-form-" loan_summary_item.loan_type.loan_type %}>
                {%comment %} {% include 'bank_pages/local/header_loan_request_details.html' %} {% endcomment %}
            </ul>
        </div>
        </div>
      
    {% endfor %}
</div>