<section class="cid-s5sHqNibdR section-margin">
	<div class="container">
	    <div class="row">
	        <div class="col-sm-12">
	        	{% include 'bank_pages/local/header.html' %}
	        </div>
	        <div class="col-sm-12">
	        	{% include 'bank_pages/local/popular_loans.html' %}
	        </div>
	    </div>
	</div>
</section>