{% load static %}
<script src="{% static 'bank_pages/js/bank_page_ops.js' %}"></script>
<script src="{% static 'home/js/subscribe_home.js' %}"></script>
<script src="{% static 'loans/js/subscribe.js' %}"></script>