{% load wagtailimages_tags pandas_filters %}
{% if should_restructure %}
<div class="row justify-content-end">
	<div class="col-12 col-xl-6">
		
		<div class="display-7 row align-center mbr-white positive-outcome-box">
	            <i class="fa fa-check-circle-o" aria-hidden="true"></i>
	    		Hesaplama başarılı!
	    		{% comment %}
	    		{% if min_interest %}
	    		Arama kriterinize göre en düşük faiz oranı {{ min_interest|as_percentage }}. <a class="mbr-white mbr-underline" href="#available-loans">Seçenekleri incele!</a>
	    		{% endif %}
	    		{% endcomment %}
	    </div>
		<div class="loan-box align-center display-7">
		    <div class="row justify-content-around">
		    	<div class="col-3"></div>
		    	<div class="col-3">Mevcut Kredi</div>
		    	<div class="col-3">Yeni Kredi</div>
		    	<div class="col-3">Fark</div>
		    </div>
		    <hr>
		    <div class="row justify-content-around">
		    	<div class="col-3">Faiz</div>
		    	<div class="col-3">{{ loan.interest|as_percentage }}</div>
		    	<div class="col-3">{{ cheapest_loan.interest|as_percentage }}*</div>
		    	<div class="col-3 mbr-green">{{ diff_interest|as_percentage }}</div>
		    </div>
		    <hr>
		    <div class="row justify-content-around">
		    	<div class="col-3">Kalan Vade</div>
		    	<div class="col-3">{{ loan.remaining_tenure|add_tenure_suffix_plain }}</div>
		    	<div class="col-3">{{ cheapest_loan.tenure.tenure|add_tenure_suffix_plain }}</div>
		    	<div class="col-3">-</div>
		    </div>
		    <hr>
		    <div class="row justify-content-around">
		    	<div class="col-3">Taksit</div>
		    	<div class="col-3">{{ loan.installment|as_currency_plain_short }} TL</div>
		    	<div class="col-3">{{ cheapest_loan.installment|as_currency_plain_short }} TL</div>
		    	<div class="col-3 mbr-green">{{ diff_installment|as_currency_plain_short }} TL</div>
		    </div>
		    <hr>
		    <div class="row justify-content-around">
		    	<div class="col-3">Toplam Geri Ödeme</div>
		    	<div class="col-3">{{ loan.waiting_payment|as_currency_plain_short }} TL</div>
		    	<div class="col-3">{{ cheapest_loan.new_total_payment|as_currency_plain_short }} TL</div>
		    	<div class="col-3 mbr-green">{{ diff_total_payment|as_currency_plain_short }} TL</div>
		    </div>
		    <hr>
		    <div class="row justify-content-around">
		    	<div class="col-9 col-sm-7 display-7 align-left">Kredini yapılandırdığında edeceğin toplam kâr:</div>
		    	<div class="col-3 col-sm-5 display-4 font-weight-bold mbr-green">{{ cheapest_loan.profit|as_currency_plain_short }} TL</div>
		    </div>
		    {% comment %}
		    {% with cheapest_loan as loan %}
		    	{% include 'tools/kredi_yapilandirma_hesaplama/single_loan_summary_concentrate.html' %}
		    {% endwith %}
		    {% endcomment %}
		    <hr>
		    <div class="row-nice align-left">
		    	<span>*Yeni kredinizin faizi hesaplanırken piyasadaki en uygun bankanın (<a href="{{ '/banka/'|add:cheapest_loan.bank.slug }}">{{cheapest_loan.bank}} {% image cheapest_loan.bank.icon width-25 alt="{{ cheapest_loan.bank.name }}" %}</a>) faiz oranı kullanılmıştır.</span>
		    </div>
		    <hr>
		    <div class="row-nice justify-content-between">
		    	<a href="/{{ loan.loan_type.slug }}">{{ loan.loan_type}} seçeneklerini incele</a>
		    	<a href="/kredi/hesaplama-araclari/basit-kredi-hesaplama/">Kredi Hesapla</a>
		    </div>
		</div>
	</div>
</div>

{% comment %}
<section class="cid-s3ZoaRMIHq" id="available-loans">
	<h2 class="display-5">Hesaplamanıza En Yakın Krediler</h2><hr>
	{% if at_least_one_loan %}
		{% for loan in loans %}
	        {% include 'tools/basit_kredi_hesaplama/single_loan_summary.html' %}
	    {% endfor %}
	{% else %}
	    {% include 'loans/loan_query_page_elements/no_loan_found_message.html' %}
	{% endif %}
</section>
{% endcomment %}

{% else %}
<div class="row justify-content-end">
	<div class="col-12 col-xl-6">
		<div class="display-7 row align-center mbr-white negative-outcome-box">
		    <span><i class="fa fa-check-circle-o" aria-hidden="true"></i>
			Hesaplama başarılı, ancak şu anki piyasa koşullarına göre krediyi yapılandırmanızı tavsiye etmiyoruz.</span>
		</div>
		<div class="loan-box align-center display-7">
		    <div class="row justify-content-around">
		    	<div class="col-3"></div>
		    	<div class="col-3">Mevcut Kredi</div>
		    	<div class="col-3">Yeni Kredi</div>
		    	<div class="col-3">Fark</div>
		    </div>
		    <hr>
		    <div class="row justify-content-around">
		    	<div class="col-3">Faiz</div>
		    	<div class="col-3">{{ loan.interest|as_percentage }}</div>
		    	<div class="col-3">{{ cheapest_loan.interest|as_percentage }}*</div>
		    	<div class="col-3 mbr-red ">{{ diff_interest|as_percentage }}</div>
		    </div>
		    <hr>
		    <div class="row justify-content-around">
		    	<div class="col-3">Kalan Vade</div>
		    	<div class="col-3">{{ loan.remaining_tenure|add_tenure_suffix_plain }}</div>
		    	<div class="col-3">{{ cheapest_loan.tenure.tenure|add_tenure_suffix_plain }}</div>
		    	<div class="col-3">-</div>
		    </div>
		    <hr>
		    <div class="row justify-content-around">
		    	<div class="col-3">Taksit</div>
		    	<div class="col-3">{{ loan.installment|as_currency_plain_short }} TL</div>
		    	<div class="col-3">{{ cheapest_loan.installment|as_currency_plain_short }} TL</div>
		    	<div class="col-3 mbr-red ">{{ diff_installment|as_currency_plain_short }} TL</div>
		    </div>
		    <hr>
		    <div class="row justify-content-around">
		    	<div class="col-3">Toplam Geri Ödeme</div>
		    	<div class="col-3">{{ loan.waiting_payment|as_currency_plain_short }} TL</div>
		    	<div class="col-3">{{ cheapest_loan.new_total_payment|as_currency_plain_short }} TL</div>
		    	<div class="col-3 mbr-red ">{{ diff_total_payment|as_currency_plain_short }} TL</div>
		    </div>
		    <hr>
		    <div class="row justify-content-around">
		    	<div class="col-7 display-7 align-left">Kredini yapılandırdığında edeceğin toplam zarar:</div>
		    	<div class="col-5 display-4 font-weight-bold mbr-red">{{ cheapest_loan.profit|as_currency_plain_short }} TL</div>
		    </div>
		    {% comment %}
		    {% with cheapest_loan as loan %}
		    	{% include 'tools/kredi_yapilandirma_hesaplama/single_loan_summary_concentrate.html' %}
		    {% endwith %}
		    {% endcomment %}
		    <hr>
		    <div class="row-nice align-left">
		    	<span>*Yeni kredinizin faizi hesaplanırken piyasadaki en uygun bankanın ({{cheapest_loan.bank}}) faiz oranı kullanılmıştır.</span>
		    </div>
		</div>

	</div>
</div>
{% endif %}