{% load wagtailimages_tags pandas_filters %}
<div class="card-box loan-box position-relative slide-up" {% if loan.header_type != None %} style="padding-top: 2rem;" {% endif %}>
    <div class="row justify-content-around">
            <a href="{{ '/banka/'|add:loan.bank.slug }}">{% image loan.bank.logo width-96 alt=loan.bank.name %}</a><br>
            <span class="display-8">{{ loan.name }}</span>            
    </div>
    <div class="row">
        <div class="col-12 align-center loan-box-numericals">
            <div class="p-2 row loan-box-numericals">
                <div class="align-center">
                    <span class="display-8">Tutar</span><br>
                    <span class="display-6 font-weight-bold">{% as_currency loan.installment 'left' %}</span>
                    <span class="display-8">{% as_currency loan.installment 'right' %}</span>
                </div>
                <div class="align-center">
                    <span class="display-8">Vade</span><br>
                    <span class="display-6 font-weight-bold">{{ loan.tenure.tenure|add_tenure_suffix_plain }}</span>
                </div>
                <div class="align-center">
                    <span class="display-8">Toplam Ödeme</span><br>
                    <span class="display-6 font-weight-bold">{% as_currency loan.total_payment 'left' %}</span>
                    <span class="display-8">{% as_currency loan.total_payment 'right' %}</span>
                </div>
                <div class="align-center">
                    <span class="display-8">Principal</span><br>
                    <span class="display-6 font-weight-bold">{% as_currency loan.principal 'left' %}</span>
                    <span class="display-8">{% as_currency loan.principal 'right' %}</span>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 align-center">
            {% include 'home/global/detay_button.html' with request_source='loan-query-page' %}
            {% include 'home/global/apply_button.html' with request_source='loan-query-page' %}
        </div>  
    </div>
</div>