{% load pandas_filters %}
<div class="row justify-content-end">
	<div class="col-12 col-xl-6">
		<div class="display-7 row align-center mbr-white positive-outcome-box">
	            <i class="fa fa-check-circle-o" aria-hidden="true"></i>
	    		Hesaplama başarılı!
	    		{% if min_interest %}
	    		Arama kriterinize göre en düşük faiz oranı {{ min_interest|as_percentage }}. <a class="mbr-white mbr-underline" href="#available-loans">Seçenekleri incele!</a>
	    		{% endif %}
	    </div>

		<div class="loan-final-card" style="z-index: 1;">
		    <div class="row-nice justify-content-center">
		    	<span>
		    		<i class="fa {{ loan.loan_type.fa_icon }}" aria-hidden="true"></i>
			        {{ loan.loan_type }} | Kredi Vergisi</span>
		    </div>
		    <hr>
		    <div class="row-nice">
		    	<span>{{ principal|as_currency_plain_short }} TL tutarlı, {{ tenure }} ay vadeli {{ loan.loan_type }} için ödenmesi gereken vergi miktarı şu şekildedir:</span>
		    </div>
		    <hr>
		    <div class="loan-detail-lower-parent vertical-align-center">
		        <div class="loan-detail-lower-div1 align-left">
		            <span class="display-7">Toplam KKDF</span><br>
		                <span class="display-4 font-weight-bold">{% as_currency loan.total_kkdf 'left' %}</span>
		                <span class="display-8">{% as_currency loan.total_kkdf 'right' %}</span>
		        </div>
		        <div class="loan-detail-lower-div2 align-right">
					<span class="display-7">Toplam BSMV</span><br>
		                <span class="display-4 font-weight-bold">{% as_currency loan.total_bsmv 'left' %}</span>
		                <span class="display-8">{% as_currency loan.total_bsmv 'right' %}</span>
			    </div>
		    </div>
		    <hr>
		    <div class="loan-detail-lower-parent vertical-align-center">
		        <div class="loan-detail-lower-div1 align-left">
		            <span class="display-7">Aylık Taksit</span><br>
		                <span class="display-4 font-weight-bold">{% as_currency loan.installment 'left' %}</span>
		                <span class="display-8">{% as_currency loan.installment 'right' %}</span>
		        </div>
		        <div class="loan-detail-lower-div2 align-right">
					<span class="display-7">Toplam Ödeme</span><br>
		                <span class="display-4 font-weight-bold">{% as_currency loan.total_payment 'left' %}</span>
		                <span class="display-8">{% as_currency loan.total_payment 'right' %}</span>
			    </div>
		    </div>
		    <hr>
		    <div class="row-nice">
		    	<a href="#available-loans">Kredi seçeneklerini incele</a>
		    </div>
		</div>
	</div>
</div>
<a class="anchor" id="available-loans"></a>
<section class="cid-s3ZoaRMIHq">
	<h2 class="display-5">Hesaplamanıza En Yakın Krediler</h2><hr>
	{% if at_least_one_loan %}
		{% for loan in loans %}
	        {% include 'tools/basit_kredi_hesaplama/single_loan_summary.html' %}
	    {% endfor %}
	{% else %}
	    {% include 'loans/loan_query_page_elements/no_loan_found_message.html' %}
	{% endif %}
</section>
