{% load pandas_filters %}
<div class="row justify-content-end">
	<div class="col-12 col-xl-6">
		<div class="display-7 row align-center mbr-white positive-outcome-box">
            <i class="fa fa-check-circle-o" aria-hidden="true"></i>
    		Hesaplama başarılı!
	    </div>
	    <div class="loan-box">
		    <div class="row-nice justify-content-between">
		    	<span>Erken Ödeme Cezası</span><span>{{ early_payment_fine|as_currency_plain_short }} TL</span>
		    </div>
		    <hr>
		    <div class="row-nice justify-content-between">
		    	<span>Kalan Anapara</span><span>{{ principal_left|as_currency_plain_short }} TL</span>
		    </div>
		    <hr>
		    <div class="row-nice justify-content-between">
		    	<span>Toplam Kapatma Miktarı</span><span>{{ early_payment_amount|as_currency_plain_short }} TL</span>
		    </div>
		    <hr>
		    <div class="row-nice justify-content-between">
		    	<span>Kredi peşinat hesaplaması satın alacağınız mülkün veya taşıtın değeri üzerinden belirlenir. Detayları <a href="#blog">buradan</a> öğrenebilirsiniz.</span>
		    </div>
		</div>
	</div>
</div>