{% load pandas_filters %}
<div class="row justify-content-end">
	<div class="col-12 col-xl-6">
		<div class="display-7 row align-center mbr-white positive-outcome-box">
            <i class="fa fa-check-circle-o" aria-hidden="true"></i>
    		Krediniz için erken ödeme cezası bulunmamaktadır.
	    </div>
	    <div class="loan-box">
		    <div class="row-nice justify-content-between">
		    	<a href="/{{ loan.loan_type.slug }}">
		    		<i class="fa {{loan_type.fa_icon}}"></i>&nbsp;{{ loan_type }} Listele</a>
		    	<a href="/kredi/hesaplama-araclari/basit-kredi-hesaplama/">Kredi Hesapla</a>
		    </div>
		</div>
	</div>
</div>
