{% load wagtailimages_tags pandas_filters %}


{% if no_favorite_loans %}
	<div style="padding:0 1rem;">{% include 'hr/not_found_box.html' with message='Kayıtlı krediniz bulunmamaktadır.' %}</div>
{% else %}
<div class="container">
	<ul class="cd-cart-items">
		<li style="padding:0.4rem;margin: 0 -.4rem;" class="border-bottom">
			<div class="row justify-content-between">
				<div class="col-12 col-lg-4 display-6 kayitli-kredilerim-text">Kayıtlı Kredilerim</div>
				<div class="col-6 col-lg-4">
					<form action="/sepet">
						<button type="submit" class="general-button bg-secondary display-8 w-100"><i class="fa fa-bookmark" aria-hidden="true"></i><br>Kaydedilenlere<br>Git</button>
					</form>
				</div>
				<div class="col-6 col-lg-4">
					<form method="post" action="/apply">{% csrf_token %}<input type="hidden" name="request_source" value="side-cart-multiapply"/><button type="submit" class="general-button display-8 w-100" name="apply-all"><i class="fa fa-hand-o-up" aria-hidden="true"></i><br>Hepsine<br>Başvur</button></form>
				</div>
			</div>
		</li>
	{% for loan in favorite_loans %}
		<li class="row d-flex align-items-center justify-content-between">
			<div class="col-5 col-md-5 p-2 align-center">
				{% image loan.bank.logo width-96 alt="{{ loan.bank.name }}" %}<br>
				<span class="display-8">{{ loan.name }}</span>
			</div>
			<div class="col-4 col-md-5 p-2 align-left" style="line-height: 1.5;">
				<span class="form-info-text-color display-9">Tutar:</span> {{ loan.principal.principal|as_currency_plain_short }}<br>
				<span class="form-info-text-color display-9">Vade:</span> {{ loan.tenure.tenure|add_tenure_suffix_plain }}<br>
				<span class="form-info-text-color display-9">Faiz:</span> {{ loan.interest|as_percentage }}
			</div>
			
			<div class="col-3 col-md-2 p-2 align-center">
				{% include 'home/global/detay_button.html' with request_source='side-cart' %}
				{% include 'home/global/apply_button.html' with request_source='side-cart' class="general-button display-8 bg-green align-center" principal=loan.principal.principal tenure=loan.tenure.tenure %}
				<a class="loan-remove-property display-8" style="line-height: 2.5;" href="javascript:void(0)"
				loan-key="{{ loan.id|add:'&'|add:loan.principal.principal|add:'&'|add:loan.tenure.tenure }}"><u><i class="fa fa-times" aria-hidden="true"></i> Sil</u></a>
			</div>
		</li>
	{% endfor %}
	</ul>
	<div style="height:10rem;"></div>
</div>
{% endif %}
