{% load pandas_filters %}
<span class="hasTooltip display-8">Toplam Ödeme <i class="fa fa-info-circle fa-xs" aria-hidden="true"></i>
	<div class="someTooltip">
		<div class="d-flex flex-column justify-content-between" style="min-width:250px;">
	        <div class="p-2 d-flex flex-row justify-content-center border-bottom">
	            <span class="display-7">Ödeme Detayları</span>
	        </div>
	        <div class="p-2 d-flex flex-row align-items-end justify-content-between bg-primary">
	            <span class="display-8">Kredi Tutarı</span>
	            <div>
	                <span class="display-7">{{ loan.principal|as_currency_plain }}</span>
	            </div>
	        </div>
	        <div class="p-2 d-flex flex-row align-items-end justify-content-between bg-secondary">
	            <span class="display-8">Toplam Faiz</span>
	            <div>
	                <span class="display-7">{{ loan.total_interest|as_currency_plain }}</span>
	            </div>
	        </div>
	        <div class="p-2 d-flex flex-row align-items-end justify-content-between bg-primary">
	            <span class="display-8">Dosya Masrafı</span>
	            <div>
	                <span class="display-7">{{ loan.allocation_fee|as_currency_plain }}</span>
	            </div>
	        </div>
	        
	        <div class="p-2 d-flex flex-row align-items-end justify-content-between bg-secondary">
	            <span class="display-8">Toplam Ödeme</span>
	            <div>
	                <span class="display-7">{{ loan.total_payment|as_currency_plain }}</span>
	            </div>
	        </div>
            <div class="p-2 d-flex flex-row align-items-end justify-content-center">
	                <span class="display-7">
	                	{% include 'home/global/detay_button.html' %}
	                </span>
	        </div>
	    </div>
		
	</div>
</span>