<span class="hasTooltip display-8">
	{% if label != None %}
		{{ label }} 
	{% else %}
		Faiz Oranı 
	{% endif %}
	<i 
		{% if icon != None %}
			class = "{{ icon }}"
		{% else %}
			class = "fa fa-info-circle fa-xs"
		{% endif %}
		aria-hidden="true">	
	</i>
	<div class="p-2 someTooltip display-7" style="min-width:250px;">	
		{% if tooltip_text != None %}
			{{ tooltip_text }} 
		{% else %}
			Faiz oranı KKB skorunuza göre değişiklik gösterebilir.
		{% endif %}
	</div>
</span>