<div class="row d-flex not-found-box align-items-center justify-content-center align-center" style="background-color: var(--secondary-color)">
    <i class="fa fa-check-circle-o fa-2x text-white" aria-hidden="true" style="padding-right:4px;"></i>
	<span class="display-7 text-white">
		Bir daha bildirim göstermeyeceğiz.
	</span>
</div>