<div class="row d-flex not-found-box align-items-center justify-content-center" style="background-color: var(--c7)">
    <i class="fa fa-check-circle-o fa-2x" aria-hidden="true" style="color:var(--white);padding-right:4px;"></i>
	<span class="display-7 text-white">
		E-posta adresinizi kaydettik! Sizi periyodik olarak fırsatlardan haberdar edeceğiz.
	</span>
</div>