<div class="row d-flex not-found-box align-items-center justify-content-center" style="background-color: var(--c7)">
    <i class="fa fa-check-circle-o fa-2x" aria-hidden="true" style="color:var(--white);padding-right:4px;"></i>
	<span class="display-7 text-white">
		E-posta adresinizi kaydettik! Bu ekran şimdi kapanacak.
	</span>
</div>
<div class="row align-items-center justify-content-center">
    <a href="javascript:void(0)" class="display-6" onclick="closeSubscriptionOverlay()">Kapat</a>
</div>