{% extends 'base.html' %}
{% load static wagtailcore_tags wagtailimages_tags wagtailuserbar blogapp_tags el_pagination_tags  wagtailmd compress %}

{% block head %}
    {% include 'home/global/head.html' %}
    {% comment %}
    <head><link rel="canonical" href="{% block canonical %}{% canonical_url %}{% endblock canonical %}"/></head>
    {% endcomment %}
{% endblock %}

{% block body %}
<body>
    
    {% wagtailuserbar %}

    <!-- Navigation -->
    {% include 'home/global/menu.html' %}
    <!-- Page Content -->
    <div class="container">
      <div class="row align-items-start">
            {% block maincontent %}
                <div class="col-lg-3">
                  {% include 'blog/components/sidebar.html' %}
                </div>
                <div class="col-lg-9">
                  {% block content %}{% endblock %}
                </div>
                
            {% endblock %}
      </div>
    </div>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <!-- <script async src="https://www.googletagmanager.com/gtag/js?id=UA-39890589-7"></script> -->
  </body>
{% endblock %}

{% block foot %}
    {% include 'home/global/foot.html' %}
{% endblock %}

{% block scripts %}
    {% include 'home/global/scripts.html' %}
{% endblock %}

