
{% extends "blog/base.html" %}

{% load static wagtailcore_tags wagtailimages_tags blogapp_tags el_pagination_tags wagtailmd pandas_filters %}

{% block content %}
<section class="cid-s2gxOHzbBU">
    {% if posts|leng > 0 %}
      {% paginate 6 posts %}
      <div class="row justify-content-between align-items-stretch d-flex flex-wrap">
      {% for post in posts %}
        <!-- Blog Post -->
        <div class="col-12 col-sm-6 col-xl-4 p-2">
          <div class="card-wrapper">
              <div class="card-img">
                  <div class="mbr-overlay"></div>
                  <div class="mbr-section-btn text-center">
                      <a href="{{ post.url_path }}" class="general-button bg-secondary display-6">Devamını oku</a>
                  </div>
                  {% if post.header_image %}
                  <img alt="{{ post.header_image.alt }}" src="{{ post.header_image.file.url }}" height="200" />
                  {% endif %}
                  {% comment %}{% image post.header_image max-200x200 alt="{{ post.header_image.alt }}" %}{% endcomment %}
              </div>
              <div class="card-box display-8">
                  <i class="display-8 form-info-text-color">{{ post.date }}<br><br></i>
                  <h4 class="display-7"><strong>{{ post.title }}</strong></h4>
                  <span class="display-8">
                      <br>
                      {% if post.excerpt %}
                          {{ post.excerpt|markdown|safe }}
                      {% else %}
                          {{ post.body|markdown|safe|truncatewords_html:5 }}
                      {% endif %}
                  </span>
                  <br>
                  <a href="{{ post.url_path }}" class="display-8">Devamını oku...</a>
              </div> 
          </div>
        </div>



        {% comment %}
        <div class="card" style="float:left; width: 40%; height: 100%;">

          {% if post.header_image %}
              {% image post.header_image fill-1200x200 as header_image %}
              <a href="{% post_date_url post blog_page %}">
                <img src="{{ header_image.url }}" class="card-img-top" ></img>
              </a>
          {% endif %}

          <div class="card-body">
            <h2 class="card-title">
              <a href="{% post_date_url post blog_page %}">{{ post.title }}</a>
            </h2>
            <p class="card-text">
              {% if post.excerpt %}
                  {{ post.excerpt|markdown|safe }}
              {% else %}
                  {{ post.body|markdown|safe|truncatewords_html:5 }}
              {% endif %}
            </p>
            <a href="{% post_date_url post blog_page %}" class="btn btn-primary">Devamını oku &rarr;</a>

          </div>
          <div class="card-footer text-muted">
              Gönderi tarihi: {{ post.date }}
          </div>
        </div>
        {% endcomment %}
        <!-- Pagination -->
      {% endfor %}
      </div>
      <ul class="pagination justify-content-center mb-4">
          {% show_pages %}
        </ul>
    {% else %}
      <div class="not-found-box align-center display-5" style="padding:3rem 0px;"><span class="display-7">
          {% if search_term %}"{{ search_term }}" ile eşleşen makale bulunmadı.{% endif %}
          <br><a href="/blog">Bilgi Merkezi'ne dön</a>
          <br><a href="/">Anasayfaya dön</a>
      </div>
    {% endif %}

</section>
{% endblock %}