{% extends "blog/base.html" %}
{% load static wagtailcore_tags wagtailimages_tags blogapp_tags wagtailmd%}

{% block content %}
    <div style="min-height:150px;">
        {% if post.header_image %}
        <img alt="{{ post.header_image.alt }}" src="{{ post.header_image.file.url }}" style="max-width: 25%; float: right;"
        class="img-fluid all-rounded" height="120" />
        {% endif %}
        <h1 class="display-3 font-weight-bold">{{ post.title }}</h1>
        <p>
            <span><i class="fa fa-clock-o"></i> {{post.date}}</span>
            &nbsp;
            <span><i class="fa fa-user-o"></i> {{post.owner.first_name}} {{post.owner.last_name}}</span>
            &nbsp;
            {% post_categories %}
        </p>
    </div>
    <hr>
    {{ post.body|markdown|safe }}
    <hr>
    {% post_tags_list %}
    <hr>
    {% tags_list %}
    <hr>
    {% show_comments %}

    {% comment %}
    <script type="text/x-mathjax-config">
      MathJax.Hub.Config({
        extensions: ["tex2jax.js"],
        jax: ["input/TeX", "output/HTML-CSS"],
        tex2jax: {
          inlineMath: [['$','$']],
          displayMath: [['$$','$$']] ,
          processEscapes: true
        },
        "HTML-CSS": { availableFonts: ["TeX"] }
      });
    </script>
    <script type="text/javascript"
       src="//cdn.mathjax.org/mathjax/latest/MathJax.js">
    </script>
    {% endcomment %}

{% endblock %}

{% comment %}
{% block title %}{{ self.title }} | {{ blog_page.title }}{% endblock title %}

{% block meta_title %}{% if self.seo_title %}{{ self.seo_title }}{% else %}{{ self.title }}{% endif %}{% endblock meta_title %}

{% block meta_description %}{% if self.search_description %}{{ self.search_description }}{% else %}{{ self.body|striptags|truncatewords:20 }}{% endif %}{% endblock meta_description %}

{% block canonical %}{% canonical_url self%}{% endblock canonical %}
{% endcomment %}