{% load pandas_filters %}
<div class="row justify-content-end">
	<div class="col-12 col-xl-6">
		<div class="display-7 row align-center mbr-white positive-outcome-box">
	            <i class="fa fa-check-circle-o" aria-hidden="true"></i>
	    		Hesaplama başarılı!
	    		{% if min_interest %}
	    		Arama kriterinize göre en düşük faiz oranı {{ min_interest|as_percentage }}. <a class="mbr-white mbr-underline" href="#available-loans">Seçenekleri incele!</a>
	    		{% endif %}
	    </div>

		<div class="loan-final-card" style="z-index: 1;">
		    <div class="p-1 align-center border-bottom">
		        <span class="display-5">
		            <i class="fa {{ loan.loan_type.fa_icon }}" aria-hidden="true"></i>
			        {{ loan.loan_type }} | Kredi Özetiniz 
		        </span>
		    </div>
		    <div class="loan-detail-upper-parent border-bottom">
		        <div class="loan-detail-upper-div1 align-left">
		            <span class="display-8">
		            	Kredi Tutarı
		            </span><br>
		            <span class="display-6 font-weight-bold">{% as_currency loan.principal 'left' %}</span>
		            <span class="display-8">{% as_currency loan.principal 'right' %}</span>
		        </div>
		        <div class="loan-detail-upper-div2 align-center ">
		            <span class="display-8">Vade</span><br>
		            <span class="display-6 font-weight-bold">{{ loan.tenure.tenure|add_tenure_suffix_plain }}</span>
		        </div>
		        <div class="loan-detail-upper-div3 align-right">
		            <span class="display-8">
		                Faiz Oranı
		            </span><br>
		            <span class="display-6 font-weight-bold">{{ loan.interest|as_percentage }}</span>
		        </div>
		    </div>

		    <div class="loan-detail-lower-parent vertical-align-center">
		        <div class="loan-detail-lower-div1 align-left">
		            <span class="display-7">Aylık Taksit</span><br>
		                <span class="display-4 font-weight-bold">{% as_currency loan.installment 'left' %}</span>
		                <span class="display-8">{% as_currency loan.installment 'right' %}</span>
		        </div>
		        <div class="loan-detail-lower-div2 align-right">
					<span class="display-7">Toplam Ödeme</span><br>
		                <span class="display-4 font-weight-bold">{% as_currency loan.total_payment 'left' %}</span>
		                <span class="display-8">{% as_currency loan.total_payment 'right' %}</span>
			    </div>
		    </div>
		</div>

		<div class="col-12 align-center display-7 pad-desktop-top-1">
		    <div class="p-1 row align-center border-bottom">
		        <h2 class="display-5">Ödeme Detayı</h2>
		    </div>
		    <div class="p-2 row justify-content-between">
		        <span>Kredi Tutarı</span>
		        <span>{{ loan.principal.principal|as_currency_plain }}</span>
		    </div>
		    <div class="p-2 row justify-content-between">
		        <span>Toplam Faiz ve Vergiler
		        </span>
		        <span>{{ loan.total_interest|as_currency_plain }}</span>
		    </div>
		    <div class="p-2 row justify-content-between">
		        <span>Dosya Masrafı</span>
		        <span>{{ loan.allocation_fee|as_currency_plain }}</span>
		    </div>
		    <div class="p-2 row justify-content-between border-top font-weight-bold">
		        <span>Toplam Ödeme</span>
		        <span>{{ loan.total_payment|as_currency_plain }}</span>
		    </div>
		</div>
	</div>
</div>
<section class="cid-s3nMbhVkww"> 
	<div class="container scroll">
		<h2 class="display-5">Ödeme Planı</h2>
		<hr>
      <table class="table mbr-bg-white" cellspacing="0" data-empty="No matching records found" id = "id_payment_plan" show="summary">
        <thead>
		    <tr class="table-heads ">
		    	{% for col in loan.payment_plan.columns %}
		        <th class="head-item mbr-fonts-styles display-7">{% if col == 'Faiz' and loan.bank.participation %}Kâr Payı{% else %}{{col}}{% endif %}</th>
		        {% endfor %}
		    </tr>
		</thead>

        <tbody>
        	{% for i, j in loan.payment_plan.iterrows %}
				<tr class="body-item mbr-fonts-styles display-8" {% if j|get:'Ay'|as_int > 3 %} hidden {% endif %}>
        			<td>{{ j|get:'Ay'|as_int }}</td>
        			<td>{{ j|get:'Taksit'|as_currency_plain }}</td>
        			<td>{{ j|get:'Anapara'|as_currency_plain }}</td>
        			<td>{{ j|get:'Faiz'|as_currency_plain }}</td>
        			<td>{{ j|get:'KKDF'|as_currency_plain }}</td>
        			<td>{{ j|get:'BSMV'|as_currency_plain }}</td>
        			<td style="background-color: hsl(120,46%,{% weight j|get:'Ay'|as_int loan.payment_plan.nrows %});">{{ j|get:'Kalan Ödeme'|as_currency_plain }}</td>
        		</tr>
        	{% endfor %}
		</tbody>
      </table>
        <div class="p-2 d-flex justify-content-center">
            {% if loan.payment_plan.index|leng > 3 %}
                <a 
                    id="show-hide-payment-plan-btn" 
                    class="p-2 display-7 bg-secondary rounded-corners" 
                    style="cursor:pointer;color: var(--white)">Tamamını Göster &#8595;</a>
            {% endif %}
        </div>
    </div>
</section>

<section class="cid-s3ZoaRMIHq" id="available-loans">
	<h2 class="display-5">Hesaplamanıza En Yakın Krediler</h2><hr>
	{% if at_least_one_loan %}
		{% for loan in loans %}
	        {% include 'tools/basit_kredi_hesaplama/single_loan_summary.html' %}
	    {% endfor %}
	{% else %}
	    {% include 'loans/loan_query_page_elements/no_loan_found_message.html' %}
	{% endif %}
</section>