{% load i18n wagtailroutablepage_tags %}

      <ul class="list-unstyled mb-0">

        {% for category in categories %}
            <li>
                <a class="display-7" href="{% routablepageurl blog_page "post_by_category" category.slug %}">
                    {{ category.name }}
                </a>
            </li>
        {% empty %}
            {% trans 'No categories yet' %}
        {% endfor %}

      </ul>
   