{% load i18n wagtailroutablepage_tags %}
<div class="card">
<h5 class="card-header">Bu gönderiyle ilgili arama sözcükleri</h5>
	<div class="card-body">

	    {% for tag in post_tags %}
	    <a href="{% routablepageurl blog_page "post_by_tag" tag.slug %}">
	        <span class="badge badge-secondary">{{ tag }}</span>
	    </a>
	    {% endfor %}
	</div>
</div>