{% load static wagtailcore_tags wagtailimages_tags blogapp_tags wagtailroutablepage_tags %}
<div class="margin-bottom-04">
<form role="search" method="get" class="form-search" action="{% routablepageurl blog_page "post_search" %}" method="get">
<div class="input-group">
  <input type="text" class="form-control search-query" name="q" placeholder="Konu&hellip;" title="Arayın:" />
  <span class="input-group-btn">
    <button class="btn search-btn" type="submit">Ara</button>
  </span>
</div>
</form>
</div>