{% load static wagtailcore_tags wagtailimages_tags blogapp_tags wagtailroutablepage_tags %}
<div style="margin-bottom: 3rem;">
	<a href="/blog"><h1 class="display-5 font-weight-bold">DigiKredi Bilgi Merkezi</h1></a>
	<span class="display-7">Bir konu arayın:</span>
	{% include 'blog/components/search_widget.html' %}
    <span class="display-7 mobile-hidden">Veya kategorileri inceleyin:</span>
    <div class="mobile-hidden">{% categories_list %}</div>
</div>