{% load i18n wagtailroutablepage_tags %}

<div class="card">
<h5 class="card-header">Diğer arama sözcükleri</h5>
<div class="card-body">

    {% for tag in tags %}
        <a href="{% routablepageurl blog_page "post_by_tag" tag.slug %}">
            <span class="badge badge-secondary p-1">{{ tag }}</span>
        </a>
    {% empty %}
        {% trans 'Şu anda bir etiket bulunmamaktadır.' %}
    {% endfor %}

</div>
</div>




