{% load pandas_filters %}
<div class="row justify-content-end">
	<div class="col-12 col-xl-6">
		<div class="display-7 row align-center mbr-white positive-outcome-box">
	            <i class="fa fa-check-circle-o" aria-hidden="true"></i>
	    		Hesaplama başarılı!
	    </div>
	    <div class="loan-box">
		    <div class="row-nice justify-content-between">
		    	<span>Gecikme Faizi</span><span>{{ del_interest|as_currency_plain_short }} TL</span>
		    </div>
		    <hr>
		    <div class="row-nice justify-content-between">
		    	<span>Gecikme Faizi Vergisi*</span><span>{{ del_interest_tax|as_currency_plain_short }} TL</span>
		    </div>
		    <hr>
		    <div class="row-nice justify-content-between font-weight-bold">
		    	<span>Toplam Gecikme Faizi</span><span>{{ total_del_interest|as_currency_plain_short }} TL</span>
		    </div>
		    <hr>
		    <div class="row-nice justify-content-between">
		    	<span>*İhtiyaç ve Taşıt kredilerinde gecikme faizi üzerinden %5 KKDF ve %15 BSMV vergileri alınmaktadır. Konut kredisinde gecikme faizi üzerine vergi uygulanmamaktadır. Gecikme faizi hakkında detaylı bilgileri <a href="#blog">yazımızdan okuyun</a>.</span>
		    </div>
		</div>
	</div>
</div>