{% extends 'base.html' %}
{% load static pandas_filters %}

{% block head %}
    {% include 'home/global/head.html' %}
{% endblock %}

{% block body %}
<body>
    {% include 'home/global/menu.html' %}
    {% include 'home/global/cd_cart.html' %}
    {% include 'bank_pages/local/layout.html' %}
    <a class="anchor" id='bankalar'></a>
    {% include 'home/global/bank_list_section.html' with title='Kredi Çekebileceğiniz' subtitle='diğer bankalar' description='' %}
    {% include 'home/local/blog_section.html' with title=bank subtitle='Haberler' description='' %}
    {% include 'home/local/faq_section.html' with title=bank subtitle='Hakkında Merak Edilenler' description='' %}
    {% include 'bank_pages/local/bank_info_section.html' with title=bank subtitle='Nedir?' description='' %}
    {% include 'home/local/subscription_section.html' %}
    {% include 'home/global/breadcrumb.html' with z='DigiKredi.com_Bankalar'|zip:'/_#bankalar' curr=bank|add:' kredileri' %}
</body>
{% endblock %}

{% block foot %}
    {% include 'home/global/foot.html' %}
{% endblock %}

{% block scripts %}
    {% include 'home/global/scripts.html' %}
    {% if show_subscription_notification %}
        {% include 'loans/widgets/subscription_notification.html' with notification_title=bank.name|add:' ile ilgili faiz değişikliklerinden anında haberdar olmak ister misiniz? E-posta adresinizi girin, gönderelim.' %}
    {% endif %}
    {% include 'bank_pages/local/scripts.html' %}
{% endblock %}