{% load static %}
<section class="cid-s3ZoaRMIHq fade-in">
   <div class="container">
        <div class="row main-title-div justify-content-center">
            <h1 class="align-center title-color-primary main-title">Hesaplama Araçları</h1>
        </div>
        <div class="row d-flex justify-content-center align-items-stretch">
            {% include 'tools/index_page/header_single_element.html' with href='/kredi/hesaplama-araclari/basit-kredi-hesaplama/' icon='fa fa-money fa-3x' title='Basit Kredi Hesaplama' description='Basit Kredi Hesaplama' %}
            {% include 'tools/index_page/header_single_element.html' with href='/kredi/hesaplama-araclari/kredi-erken-kapama-hesaplama/' icon='fa fa-handshake-o fa-3x' title='Kredi Erken Kapama Hesaplama' description='Kredi Erken Kapama Hesaplama' %}
            {% include 'tools/index_page/header_single_element.html' with href='/kredi/hesaplama-araclari/kredi-pesinat-hesaplama/' icon='fa fa-star-half-o fa-3x' title='Kredi Peşinat Hesaplama' description='Kredi Peşinat Hesaplama' %}
            {% include 'tools/index_page/header_single_element.html' with href='/kredi/hesaplama-araclari/kredi-yapilandirma-hesaplama/' icon='fa fa-magic fa-3x' title='Kredi Yapılandırma Hesaplama' description='Kredi Yapılandırma Hesaplama' %}
            {% include 'tools/index_page/header_single_element.html' with href='/kredi/hesaplama-araclari/kredi-karti-taksitli-nakit-avans-hesaplama/' icon='fa fa-credit-card fa-3x' title='Kredi Kartı Taksitli Nakit Avans Hesaplama' description='Kredi Kartı Taksitli Nakit Avans Hesaplama' %}
            {% include 'tools/index_page/header_single_element.html' with href='/kredi/hesaplama-araclari/gecikme-faizi-hesaplama/' icon='fa fa-calendar-times-o fa-3x' title='Gecikme Faizi Hesaplama' description='Gecikme Faizi Hesaplama' %}
            {% include 'tools/index_page/header_single_element.html' with href='/kredi/hesaplama-araclari/kredi-erken-odeme-cezasi-hesaplama/' icon='fa fa-calendar-check-o fa-3x' title='Kredi Erken Ödeme Cezası Hesaplama' description='Kredi Erken Ödeme Cezası Hesaplama' %}
            {% include 'tools/index_page/header_single_element.html' with href='/kredi/hesaplama-araclari/kredi-vergisi-hesaplama/' icon='fa fa-file-text-o fa-3x' title='KKDF-BSMV Kredi Vergisi Hesaplama' description='KKDF-BSMV Kredi Vergisi Hesaplama' %}
        </div>
   </div>
</section>