<div class="p-2 align-self-stretch col-12 col-lg-6">
	<a href="{{ href }}">
		<div class="tools-title-item">
			<div class="row justify-content-center slide-up">
				<div class="col-2"><i class="{{ icon }}"></i></div>
				<div class="col-8 align-center">
				  {{ title }}<br>
				  <i class="display-8 form-info-text-color">{{ description }}</i>
				</div>
			</div>
		</div>
	</a>
</div>