{% load pandas_filters %}
<div {% if class != None %} class="{{ div_class }}" {% else %} class="like-div align-center" {% endif %} {% if loan.is_first %} data-step="1" data-intro="Kredilerdeki 'Kaydet' butonuna basarak ilgilendiğiniz kredileri kaydedebilirsiniz." {% endif %}>
    <i 
    {% if class != None %} class="{{ class }}" {% else %} class="like-icon" {% endif %} 
    loan-key="{{ loan.id|add:'&'|add:loan.principal.principal|add:'&'|add:loan.tenure.tenure|add:'&'|add:loan.interest }}" 
    is-liked=0>
    	{% if text_above != None %} {{ text_above }} {% endif %}
    </i>
    <span class="liked-text display-8" id="{% concat 'liked-text-id-' loan.id %}"></span>
</div>