{% load pandas_filters %}
{% if loan.last_interest_change %}
<div class="interest-change-div">
    <span class="display-8">
    Son Faiz: 
	{{ loan.last_interest|as_percentage }}
    (
	{% if loan.interest < loan.last_interest %}
		<i class="fa fa-arrow-down mbr-green" aria-hidden="true"></i>
	{% else %}
		<i class="fa fa-arrow-up mbr-red" aria-hidden="true"></i>
	{% endif %}
    <b>{% subtract loan.interest loan.last_interest 'percentage' %}</b>
    )
	Tarih:
	{{ loan.last_interest_change|time_till_today }}</span>
</div>
{% endif %}