{% load pandas_filters %}
<div class="loan-save-date-div">
    <span class="display-8">
	    Kaydedildi: {{ loan.favorited_at|date:'j N' }} {% comment %}({{ loan.favorited_at|time_till_today }}){% endcomment %}
	</span>
</div>