{% if loan.header_type != None %}
<div class="loan-header-div display-8" style="background-color: {{ loan.header_type.color }};color:white;">
	{{ loan.header_type.fa_icon|safe }}
	<span>{{ loan.header_type.text }}</span>
</div>
{% endif %}