{% load pandas_filters %}

<div class="controls">
    <div class="form-group-loan-request display-7">
        <input
        type="text"
        {% if initial_principal != None %} value="{{ initial_principal }}"{% endif %}
        name = "principal"
        class = "currency form-field"
        min = {{ min }}
        max = {{ max }}
        placeholder = "Kredi Tutarı ({{ min|as_currency_plain }} - {{ max|as_currency_plain }})"
        required>
        <span>TL</span>
    </div>
</div>