{% load pandas_filters %}
<div class="controls">
    {% if not no_label %}
        <span 
            class={% if label_class != None %} "{{ label_class }}" {% else %} "display-8 form-text-color" {% endif %}
            style="line-height: 2;">
                Kredi Tutarı
        </span>
        <i class="display-9 form-info-text-color">({{ min|as_currency_plain_short }} - {{ max|as_currency_plain_short }} TL)</i>
    <br>
    {% endif %}
    <div class="form-group-loan-request display-5 min-height-3rem">
        <input 
        class="form-field principal-input"
        name = "principal"
        type="text"
        inputmode="numeric"
        maxlength="10"
        data-min = "{{ min }}"
        data-max = "{{ max }}"
        value={% if initial_principal != None %}{{initial_principal|as_currency_plain_short}}{% else %}10.000{% endif %}
        featured-loan = {% if featured_loan != None %} {{ featured_loan }} {% else %} 0 {% endif %}
        required>
        <span class="align-center">TL</span>
    </div>
    <span name='principal-validator' class="display-7 mbr-red"></span>
</div>
<!-- {% include "loans/widgets/attrs.html" %} -->