<div class="display-7 row d-flex align-items-center" style="padding:0.4rem;margin:1rem 0 0 0;border-radius: 6px;border: 1px dashed var(--c5);line-height: 1.15;">
    <div class="col-2">
        <i class="fa fa-info-circle fa-2x" aria-hidden="true" style="color:var(--icon-color);padding-right:4px;"></i>
    </div>
    <div class="col-10">
    	Yönlendirme başarılı.
    </div>
</div>