{% load pandas_filters %}
{% if loan.interest != loan.interest_before %}
(
{% if loan.interest < loan.interest_before %}
    <i class="fa fa-arrow-down mbr-green" aria-hidden="true"></i>
{% else %}
    <i class="fa fa-arrow-up mbr-red" aria-hidden="true"></i>
{% endif %}
<b>{% subtract loan.interest loan.interest_before 'percentage' %}</b>
)
<div class='info-box'>
    <span class="display-8">Kaydedilen: {{ loan.interest_before|as_percentage }}</span>
</div>
{% endif %}