<form action = "/search-across-all-banks" method = "post">
	{% csrf_token %}
	<input type="hidden" name="loan_type" value="GPL" />
	<input type="hidden" name="principal" value="{{ principal }}" />
	<input type="hidden" name="tenure" value="{{ tenure }}" />
	<input type="hidden" name="request_source" value="{{ request_source }}" />
	<button type="submit" class="btn-link">
		<span class="display-8">Listele</span>
	</button>
</form>