﻿{% load static %}
{% comment %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>
<!-- <link href="http://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css" rel="stylesheet"/> -->
<script type="text/javascript">
	toastr.options = {
  "closeButton": true,
  "debug": false,
  "newestOnTop": false,
  "progressBar": false,
  "positionClass": "toast-bottom-left",
  "preventDuplicates": false,
  "onclick": null,
  "showDuration": "300",
  "hideDuration": "1000",
  "timeOut": 0,
  "extendedTimeOut": 0,
  "showEasing": "swing",
  "hideEasing": "linear",
  "showMethod": "fadeIn",
  "hideMethod": "fadeOut",
  "tapToDismiss": false
}
toastr.info(
	`
	<form action="/subscribe" method="POST" id="subscription-notification">
        {% csrf_token %}
        <input type="hidden" name="subscription_type" value="{{ subscription_type }}" />
        <br>
            <label for="permission_check" class="display-8"><input type="checkbox" name="permission_check" style="margin:0 0.5rem 0 0;" checked required/>Kişisel verilerimin Açık Rıza Metninde belirlenen şartlarda işlenmesine izin verdiğimi ve Kişisel Verilerin Korunması Hakkında Bilgilendirme ’yi okuduğumu ve kabul ettiğimi onaylıyorum.</label>
            <br>
            <label for="marketing_check" class="display-8"><input type="checkbox" name="marketing_check" style="margin:0 0.5rem 0 0;" required/>DigiKredi.com’a özel indirimli banka kredileri ve çeşitli fırsatlardan e-posta, sms ve telefon ile bilgi almak istediğimi onaylıyorum.</label>
            <div class="form-group col" data-for="email" style="padding:0; margin:0.4rem 0 0.4rem 0;">
                <input type="email" name="email" placeholder="E-posta adresiniz" data-form-field="Email" required="required" class="form-control display-7" id="email-form3-t">
            </div>
            <button type="submit" class="general-button bg-secondary display-6 w-100">Gönder</button>
    </form>
    <form action="/no-notification" method="POST" class="align-center" id="no-notification">
      {% csrf_token %}
      <button type="submit" class="btn-link">
        <a class="display-8 text-white" style="line-height: 2.5;" href= "javascript:void(0)">
          <u>Bir daha gösterme</u>
        </a>
      </button>
    </form>
	`,
	"{{ notification_title }}");
</script>
<div id="toast"></div>
{% endcomment %}

{% comment %}
<div id="subscription-notification-fullpage" class="overlay" style="z-index: 2;">
  <a href="javascript:void(0)" class="closebtn" onclick="hideNotification('subscription-notification-fullpage')">&times;</a>
  <div class="overlay-content">
    {% include 'home/local/subscription_section.html' %}
  </div>
</div>
{% endcomment %}