{% load pandas_filters %}
<div class="controls">
	{% if not no_label %}
	<span 
        class={% if label_class != None %} "{{ label_class }}" {% else %} "display-8 form-text-color" {% endif %}
        style="line-height: 2;">
            Vade
    </span>
    <i class="display-9 form-info-text-color">({{ min }} - {{ max|add_tenure_suffix_plain }})</i>
    <br>
    {% endif %}
	<div class="form-group-loan-request display-5">
		<select 
		class="select form-control min-height-3rem"
		name="tenure"
		featured-loan= {{ featured_loan }} 
		required>
		<option value="">Vade Seçiniz ({{ min|add_tenure_suffix_plain }} - {{ max|add_tenure_suffix_plain }})</option>
		{% for tenure in tenures %}
			<option value="{{ tenure.tenure }}" {% if tenure.tenure == initial_tenure|as_int %} selected {% endif %}>
			{{ tenure.tenure|add_tenure_suffix }}
			</option>
		{% endfor %}
		</select>
	</div>
</div>