<div class="display-7 row d-flex align-items-start" style="padding:1rem;margin:0;border-radius: var(--global-border-radius);background:var(--c4-tint-triple);line-height: 1.15;">
    <div class="col-2">
        <i class="fa fa-info-circle fa-2x" aria-hidden="true" style="color:var(--icon-color);padding-right:4px;"></i>
    </div>
    <div class="col-10">
        Digi Kredi'de kredileri kaydederek karşılaştırma yapabileceğinizi biliyor muydunuz? <a href="javascript:void(0);" onclick="javascript:introJs().start();" class="display-8"><u>Göster&nbsp;<i class="fa fa-angle-double-right" aria-hidden="true"></i></u></a>
    </div>
</div>