{% load pandas_filters %}
<div class="row justify-content-end">
	<div class="col-12 col-xl-6">
		<div class="display-7 row align-center mbr-white positive-outcome-box">
	            <i class="fa fa-check-circle-o" aria-hidden="true"></i>
	    		Hesaplama başarılı!
	    </div>
	    <div class="loan-box">
	    	<div class="row-nice justify-content-between">
		    	<span><b>{{ loan.principal.principal|as_currency_plain_short }} TL</b> tutarlı, <b>{{ loan.tenure.tenure }} ay</b> vadeli, <b>{{ loan.interest|as_percentage }} faiz oranlı</b> taksitli nakit avansınızın ödemesi aşağıdaki gibidir:</span>
		    </div>
		    <hr>
		    <div class="row-nice justify-content-between">
		    	<span>Aylık Ödeme</span><span>{{ loan.installment|as_currency_plain_short }} TL</span>
		    </div>
		    <hr>
		    <div class="row-nice justify-content-between">
		    	<span>Toplam Faiz Ödemesi</span><span>{{ loan.total_interest|as_currency_plain_short }} TL</span>
		    </div>
		    <hr>
		    <div class="row-nice justify-content-between">
		    	<span>Dosya Masrafı</span><span>{{ loan.allocation_fee|as_currency_plain_short }} TL</span>
		    </div>
		    <hr>
		    <div class="row-nice justify-content-between font-weight-bold">
		    	<span>Toplam Geri Ödeme</span><span>{{ loan.total_payment|as_currency_plain_short }} TL</span>
		    </div>
		    <hr>
		    <div class="row-nice">
		    	<span>
			    	Nakit avans yerine İhtiyaç Kredisi çekmeyi düşünür müsünüz?&nbsp;{% if min_interest %}
		    		Arama kriterinize göre en düşük faiz oranı {{ min_interest|as_percentage }}. <a href="#available-loans">Seçenekleri incele!</a>{% else %}<a href="/{{ loan.loan_type.slug }}"><i class="fa {{loan.loan_type.fa_icon}}"></i>&nbsp;{{ loan.loan_type}} Listele</a>&nbsp;veya&nbsp;<a href="/kredi/hesaplama-araclari/basit-kredi-hesaplama/">Kredi Hesapla</a>{% endif %}
	    		</span>
		    </div>
		</div>
	</div>
</div>
{% if loans %}
<section class="cid-s3ZoaRMIHq" id="available-loans">
	<h2 class="display-5">Hesaplamanıza göre bu İhtiyaç Kredilerini kullanabilirsiniz:</h2><hr>
	{% if at_least_one_loan %}
		{% for loan in loans %}
	        {% include 'tools/basit_kredi_hesaplama/single_loan_summary.html' %}
	    {% endfor %}
	{% else %}
	    {% include 'loans/loan_query_page_elements/no_loan_found_message.html' %}
	{% endif %}
</section>
{% endif %}