{% load static %}
<div class="row justify-content-center align-left align-items-start" style="position: relative;">
    <div class="col-12 col-lg-6 loan-final-card hesaplama-araci" id="form-div">
        <form method = "post" action="/ajax/hesaplama-araclari/kredi-karti-taksitli-nakit-avans-hesaplama/" id="hesaplama-form">
            {% csrf_token %}
            {% include 'tools/widgets/principal_input_widget.html' with label_text='Nakit Avans Tutarı' id='principal' name='principal' %}
            {% include 'tools/widgets/tenure_select_12months_only.html' %}
            {% include 'tools/widgets/interest_input_widget.html' %}
            {% include 'tools/widgets/tools_submit_button.html' %}
        </form>
    </div>
    <div class="col-12" id="hesaplama-sonucu"></div>
</div>