@import url(https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap);

body {
  font-family: 'Montserrat', sans-serif;
}
.display-1 {
  
  font-size: 4.25rem;
  font-display: swap;
}
.display-1 > .mbr-iconfont {
  font-size: 6.8rem;
}
.display-2 {
  
  font-size: 3rem;
  font-display: swap;
}
.display-2 > .mbr-iconfont {
  font-size: 4.8rem;
}
.display-3 {
  
  font-size: 2rem;
  font-display: swap;
}
.display-3 > .mbr-iconfont {
  font-size: 2.8rem;
}
.display-4 {
  
  font-size: 1.5rem;
  font-display: swap;
}
.display-4 > .mbr-iconfont {
  font-size: 2.4rem;
}
.display-5 {
  
  font-size: 1.3rem;
  font-display: swap;
}
.display-5 > .mbr-iconfont {
  font-size: 1.9rem;
}
.display-6 {
  
  font-size: 1.1rem;
  font-display: swap;
}
.display-6 > .mbr-iconfont {
  font-size: 1.7rem;
}
.display-7 {
  font-family: 'Montserrat', sans-serif;
  font-size: 0.9rem;
  font-display: swap;
}
.display-7 > .mbr-iconfont {
  font-size: 1.4rem;
}
.display-8 {
  font-family: 'Montserrat', sans-serif;
  font-size: 0.7rem;
  font-display: swap;
}
.display-8 > .mbr-iconfont {
  font-size: 1.1rem;
}
.display-9 {
  font-family: 'Montserrat', sans-serif;
  font-size: 0.5rem;
  font-display: swap;
}
.display-9 > .mbr-iconfont {
  font-size: 0.8rem;
}
/* ---- Fluid typography for mobile devices ---- */
/* 1.4 - font scale ratio ( bootstrap == 1.42857 ) */
/* 100vw - current viewport width */
/* (48 - 20)  48 == 48rem == 768px, 20 == 20rem == 320px(minimal supported viewport) */
/* 0.65 - min scale variable, may vary */
@media (max-width: 768px) {
  .display-1 {
    font-size: 3.4rem;
    font-size: calc( 2.1374999999999997rem + (4.25 - 2.1374999999999997) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (2.1374999999999997rem + (4.25 - 2.1374999999999997) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-2 {
    font-size: 2.4rem;
    font-size: calc( 1.7rem + (3 - 1.7) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.7rem + (3 - 1.7) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-4 {
    font-size: 0.8rem;
    font-size: calc( 1rem + (1 - 1) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1rem + (1 - 1) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-5 {
    font-size: 1.2rem;
    font-size: calc( 1.175rem + (1.5 - 1.175) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.175rem + (1.5 - 1.175) * ((100vw - 20rem) / (48 - 20))));
  }
}
/* Buttons */
.btn {
  padding: 1rem 3rem;
  border-radius: 3px;
}
.btn-sm {
  padding: 0.6rem 1.5rem;
  border-radius: 3px;
}
.btn-md {
  padding: 1rem 3rem;
  border-radius: 3px;
}
.btn-lg {
  padding: 1.2rem 3.2rem;
  border-radius: 3px;
}
.bg-primary {
  background-color: #747474 !important;
}
.bg-success {
  background-color: #747474 !important;
}
.bg-info {
  background-color: #149dcc !important;
}
.bg-warning {
  background-color: #879a9f !important;
}
.bg-danger {
  background-color: #635a51 !important;
}
.btn-primary,
.btn-primary:active {
  background-color: #747474 !important;
  border-color: #747474 !important;
  color: #ffffff !important;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary.active {
  color: #ffffff !important;
  background-color: #4e4e4e !important;
  border-color: #4e4e4e !important;
}
.btn-primary.disabled,
.btn-primary:disabled {
  color: #ffffff !important;
  background-color: #4e4e4e !important;
  border-color: #4e4e4e !important;
}
.btn-secondary,
.btn-secondary:active {
  background-color: #2c3952 !important;
  border-color: #2c3952 !important;
  color: #ffffff !important;
}
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary.focus,
.btn-secondary.active {
  color: #ffffff !important;
  background-color: #111620 !important;
  border-color: #111620 !important;
}
.btn-secondary.disabled,
.btn-secondary:disabled {
  color: #ffffff !important;
  background-color: #111620 !important;
  border-color: #111620 !important;
}
.btn-info,
.btn-info:active {
  background-color: #149dcc !important;
  border-color: #149dcc !important;
  color: #ffffff !important;
}
.btn-info:hover,
.btn-info:focus,
.btn-info.focus,
.btn-info.active {
  color: #ffffff !important;
  background-color: #0d6786 !important;
  border-color: #0d6786 !important;
}
.btn-info.disabled,
.btn-info:disabled {
  color: #ffffff !important;
  background-color: #0d6786 !important;
  border-color: #0d6786 !important;
}
.btn-success,
.btn-success:active {
  background-color: #747474 !important;
  border-color: #747474 !important;
  color: #ffffff !important;
}
.btn-success:hover,
.btn-success:focus,
.btn-success.focus,
.btn-success.active {
  color: #ffffff !important;
  background-color: #4e4e4e !important;
  border-color: #4e4e4e !important;
}
.btn-success.disabled,
.btn-success:disabled {
  color: #ffffff !important;
  background-color: #4e4e4e !important;
  border-color: #4e4e4e !important;
}
.btn-warning,
.btn-warning:active {
  background-color: #879a9f !important;
  border-color: #879a9f !important;
  color: #ffffff !important;
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning.focus,
.btn-warning.active {
  color: #ffffff !important;
  background-color: #617479 !important;
  border-color: #617479 !important;
}
.btn-warning.disabled,
.btn-warning:disabled {
  color: #ffffff !important;
  background-color: #617479 !important;
  border-color: #617479 !important;
}
.btn-danger,
.btn-danger:active {
  background-color: #635a51 !important;
  border-color: #635a51 !important;
  color: #ffffff !important;
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger.focus,
.btn-danger.active {
  color: #ffffff !important;
  background-color: #39342f !important;
  border-color: #39342f !important;
}
.btn-danger.disabled,
.btn-danger:disabled {
  color: #ffffff !important;
  background-color: #39342f !important;
  border-color: #39342f !important;
}
.btn-white {
  color: #333333 !important;
}
.btn-white,
.btn-white:active {
  background-color: #ffffff !important;
  border-color: #ffffff !important;
  color: #808080 !important;
}
.btn-white:hover,
.btn-white:focus,
.btn-white.focus,
.btn-white.active {
  color: #808080 !important;
  background-color: #d9d9d9 !important;
  border-color: #d9d9d9 !important;
}
.btn-white.disabled,
.btn-white:disabled {
  color: #808080 !important;
  background-color: #d9d9d9 !important;
  border-color: #d9d9d9 !important;
}
.btn-black,
.btn-black:active {
  background-color: #333333 !important;
  border-color: #333333 !important;
  color: #ffffff !important;
}
.btn-black:hover,
.btn-black:focus,
.btn-black.focus,
.btn-black.active {
  color: #ffffff !important;
  background-color: #0d0d0d !important;
  border-color: #0d0d0d !important;
}
.btn-black.disabled,
.btn-black:disabled {
  color: #ffffff !important;
  background-color: #0d0d0d !important;
  border-color: #0d0d0d !important;
}
.btn-primary-outline,
.btn-primary-outline:active {
  background: none;
  border-color: #414141;
  color: #414141;
}
.btn-primary-outline:hover,
.btn-primary-outline:focus,
.btn-primary-outline.focus,
.btn-primary-outline.active {
  color: #ffffff;
  background-color: #747474;
  border-color: #747474;
}
.btn-primary-outline.disabled,
.btn-primary-outline:disabled {
  color: #ffffff !important;
  background-color: #747474 !important;
  border-color: #747474 !important;
}
.btn-secondary-outline,
.btn-secondary-outline:active {
  background: none;
  border-color: #080b10;
  color: #080b10;
}
.btn-secondary-outline:hover,
.btn-secondary-outline:focus,
.btn-secondary-outline.focus,
.btn-secondary-outline.active {
  color: #ffffff;
  background-color: #2c3952;
  border-color: #2c3952;
}
.btn-secondary-outline.disabled,
.btn-secondary-outline:disabled {
  color: #ffffff !important;
  background-color: #2c3952 !important;
  border-color: #2c3952 !important;
}
.btn-info-outline,
.btn-info-outline:active {
  background: none;
  border-color: #0b566f;
  color: #0b566f;
}
.btn-info-outline:hover,
.btn-info-outline:focus,
.btn-info-outline.focus,
.btn-info-outline.active {
  color: #ffffff;
  background-color: #149dcc;
  border-color: #149dcc;
}
.btn-info-outline.disabled,
.btn-info-outline:disabled {
  color: #ffffff !important;
  background-color: #149dcc !important;
  border-color: #149dcc !important;
}
.btn-success-outline,
.btn-success-outline:active {
  background: none;
  border-color: #414141;
  color: #414141;
}
.btn-success-outline:hover,
.btn-success-outline:focus,
.btn-success-outline.focus,
.btn-success-outline.active {
  color: #ffffff;
  background-color: #747474;
  border-color: #747474;
}
.btn-success-outline.disabled,
.btn-success-outline:disabled {
  color: #ffffff !important;
  background-color: #747474 !important;
  border-color: #747474 !important;
}
.btn-warning-outline,
.btn-warning-outline:active {
  background: none;
  border-color: #55666b;
  color: #55666b;
}
.btn-warning-outline:hover,
.btn-warning-outline:focus,
.btn-warning-outline.focus,
.btn-warning-outline.active {
  color: #ffffff;
  background-color: #879a9f;
  border-color: #879a9f;
}
.btn-warning-outline.disabled,
.btn-warning-outline:disabled {
  color: #ffffff !important;
  background-color: #879a9f !important;
  border-color: #879a9f !important;
}
.btn-danger-outline,
.btn-danger-outline:active {
  background: none;
  border-color: #2b2723;
  color: #2b2723;
}
.btn-danger-outline:hover,
.btn-danger-outline:focus,
.btn-danger-outline.focus,
.btn-danger-outline.active {
  color: #ffffff;
  background-color: #635a51;
  border-color: #635a51;
}
.btn-danger-outline.disabled,
.btn-danger-outline:disabled {
  color: #ffffff !important;
  background-color: #635a51 !important;
  border-color: #635a51 !important;
}
.btn-black-outline,
.btn-black-outline:active {
  background: none;
  border-color: #000000;
  color: #000000;
}
.btn-black-outline:hover,
.btn-black-outline:focus,
.btn-black-outline.focus,
.btn-black-outline.active {
  color: #ffffff;
  background-color: #333333;
  border-color: #333333;
}
.btn-black-outline.disabled,
.btn-black-outline:disabled {
  color: #ffffff !important;
  background-color: #333333 !important;
  border-color: #333333 !important;
}
.btn-white-outline,
.btn-white-outline:active,
.btn-white-outline.active {
  background: none;
  border-color: #ffffff;
  color: #ffffff;
}
.btn-white-outline:hover,
.btn-white-outline:focus,
.btn-white-outline.focus {
  color: #333333;
  background-color: #ffffff;
  border-color: #ffffff;
}
.text-primary {
  color: #747474 !important;
}
.text-secondary {
  color: #2c3952 !important;
}
.text-success {
  color: #747474 !important;
}
.text-info {
  color: #149dcc !important;
}
.text-warning {
  color: #879a9f !important;
}
.text-danger {
  color: #635a51 !important;
}
.text-white {
  color: #ffffff !important;
}
.text-black {
  color: #000000 !important;
}
a.text-primary:hover,
a.text-primary:focus {
  color: #414141 !important;
}
a.text-secondary:hover,
a.text-secondary:focus {
  color: #080b10 !important;
}
a.text-success:hover,
a.text-success:focus {
  color: #414141 !important;
}
a.text-info:hover,
a.text-info:focus {
  color: #0b566f !important;
}
a.text-warning:hover,
a.text-warning:focus {
  color: #55666b !important;
}
a.text-danger:hover,
a.text-danger:focus {
  color: #2b2723 !important;
}
a.text-white:hover,
a.text-white:focus {
  color: #b3b3b3 !important;
}
a.text-black:hover,
a.text-black:focus {
  color: #4d4d4d !important;
}
.alert-success {
  background-color: #70c770;
}
.alert-info {
  background-color: #149dcc;
}
.alert-warning {
  background-color: #879a9f;
}
.alert-danger {
  background-color: #635a51;
}
.mbr-section-btn a.btn:not(.btn-form):hover,
.mbr-section-btn a.btn:not(.btn-form):focus {
  box-shadow: none !important;
}
.mbr-gallery-filter li.active .btn {
  background-color: #747474;
  border-color: #747474;
  color: #ffffff;
}
.mbr-gallery-filter li.active .btn:focus {
  box-shadow: none;
}
a,
a:hover {
  color: #747474;
}
.mbr-plan-header.bg-primary .mbr-plan-subtitle,
.mbr-plan-header.bg-primary .mbr-plan-price-desc {
  color: #b4b4b4;
}
.mbr-plan-header.bg-success .mbr-plan-subtitle,
.mbr-plan-header.bg-success .mbr-plan-price-desc {
  color: #b4b4b4;
}
.mbr-plan-header.bg-info .mbr-plan-subtitle,
.mbr-plan-header.bg-info .mbr-plan-price-desc {
  color: #b4e6f8;
}
.mbr-plan-header.bg-warning .mbr-plan-subtitle,
.mbr-plan-header.bg-warning .mbr-plan-price-desc {
  color: #ced6d8;
}
.mbr-plan-header.bg-danger .mbr-plan-subtitle,
.mbr-plan-header.bg-danger .mbr-plan-price-desc {
  color: #a49a90;
}
/* Scroll to top button*/
.scrollToTop_wraper {
  display: none;
}

.form-control {
  font-family: 'Montserrat', sans-serif;
  /*font-size: 1rem;*/
  font-display: swap;
}
.form-control > .mbr-iconfont {
  font-size: 1.6rem;
}
blockquote {
  border-color: #747474;
}
/* Forms */
.mbr-form .btn {
  margin: .4rem 0;
}
@media (max-width: 767px) {
  .btn {
    font-size: .75rem !important;
  }
  .btn .mbr-iconfont {
    font-size: 1rem !important;
  }
}
/* Footer */
.mbr-footer-content li::before,
.mbr-footer .mbr-contacts li::before {
  background: #747474;
}
.mbr-footer-content li a:hover,
.mbr-footer .mbr-contacts li a:hover {
  color: #747474;
}
/* Headers*/
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .card-wrapper {
    flex: auto !important;
  }
}
.jq-selectbox li:hover,
.jq-selectbox li.selected {
  background-color: #747474;
  color: #ffffff;
}
.jq-selectbox .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:after,
.jq-number__spin.plus:after {
  transition: 0.4s;
  border-top-color: currentColor;
  border-bottom-color: currentColor;
}
.jq-selectbox:hover .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:hover:after,
.jq-number__spin.plus:hover:after {
  border-top-color: #747474;
  border-bottom-color: #747474;
}
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_default,
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_current,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div.xdsoft_current {
  color: #ffffff !important;
  background-color: #747474 !important;
  box-shadow: none !important;
}
.xdsoft_datetimepicker .xdsoft_calendar td:hover,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div:hover {
  color: #ffffff !important;
  background: #2c3952 !important;
  box-shadow: none !important;
}
.lazy-bg {
  background-image: none !important;
}
.lazy-placeholder:not(section),
.lazy-none {
  display: block;
  position: relative;
  padding-bottom: 56.25%;
}
iframe.lazy-placeholder,
.lazy-placeholder:after {
  content: '';
  position: absolute;
  width: 100px;
  height: 100px;
  background: transparent no-repeat center;
  background-size: contain;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='32' height='32' viewBox='0 0 64 64' xmlns='http://www.w3.org/2000/svg' stroke='%23747474' %3e%3cg fill='none' fill-rule='evenodd'%3e%3cg transform='translate(16 16)' stroke-width='2'%3e%3ccircle stroke-opacity='.5' cx='16' cy='16' r='16'/%3e%3cpath d='M32 16c0-9.94-8.06-16-16-16'%3e%3canimateTransform attributeName='transform' type='rotate' from='0 16 16' to='360 16 16' dur='1s' repeatCount='indefinite'/%3e%3c/path%3e%3c/g%3e%3c/g%3e%3c/svg%3e");
}
section.lazy-placeholder:after {
  opacity: 0.3;
}
.cid-s2gxIC1dUo .navbar {
  padding: .5rem 0;
  background: #fff;
  transition: none;
  min-height: 77px;
}
.cid-s2gxIC1dUo .navbar-dropdown.bg-color.transparent.opened {
  background: #fff;
}
.cid-s2gxIC1dUo a {
  font-style: normal;
}
.cid-s2gxIC1dUo .nav-item span {
  padding-right: 0.4em;
  line-height: 0.5em;
  vertical-align: text-bottom;
  position: relative;
  text-decoration: none;
}
.cid-s2gxIC1dUo .nav-item a {
  display: -webkit-flex;
  align-items: center;
  justify-content: center;
  padding: 0.7rem 0 !important;
  margin: 0rem .65rem !important;
  -webkit-align-items: center;
  -webkit-justify-content: center;
}
.cid-s2gxIC1dUo .nav-item:focus,
.cid-s2gxIC1dUo .nav-link:focus {
  outline: none;
}
.cid-s2gxIC1dUo .btn {
  padding: 0.4rem 1.5rem;
  display: -webkit-inline-flex;
  align-items: center;
  -webkit-align-items: center;
}
.cid-s2gxIC1dUo .btn .mbr-iconfont {
  font-size: 1.6rem;
}
.cid-s2gxIC1dUo .menu-logo {
  margin-right: auto;
}
.cid-s2gxIC1dUo .menu-logo .navbar-brand {
  display: flex;
  margin-left: 5rem;
  padding: 0;
  transition: padding .2s;
  min-height: 3.8rem;
  -webkit-align-items: center;
  align-items: center;
}
.cid-s2gxIC1dUo .menu-logo .navbar-brand .navbar-caption-wrap {
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  word-break: break-word;
  min-width: 7rem;
  margin: .3rem 0;
}
.cid-s2gxIC1dUo .menu-logo .navbar-brand .navbar-caption-wrap .navbar-caption {
  line-height: 1.2rem !important;
  padding-right: 2rem;
}
.cid-s2gxIC1dUo .menu-logo .navbar-brand .navbar-logo {
  font-size: 4rem;
  transition: font-size 0.25s;
}
.cid-s2gxIC1dUo .menu-logo .navbar-brand .navbar-logo img {
  display: flex;
}
.cid-s2gxIC1dUo .menu-logo .navbar-brand .navbar-logo .mbr-iconfont {
  transition: font-size 0.25s;
}
.cid-s2gxIC1dUo .menu-logo .navbar-brand .navbar-logo a {
  display: inline-flex;
}
.cid-s2gxIC1dUo .navbar-toggleable-sm .navbar-collapse {
  justify-content: flex-end;
  -webkit-justify-content: flex-end;
  padding-right: 5rem;
  width: auto;
}
.cid-s2gxIC1dUo .navbar-toggleable-sm .navbar-collapse .navbar-nav {
  flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  padding-left: 0;
}
.cid-s2gxIC1dUo .navbar-toggleable-sm .navbar-collapse .navbar-nav .nav-item {
  -webkit-align-self: center;
  align-self: center;
}
.cid-s2gxIC1dUo .navbar-toggleable-sm .navbar-collapse .navbar-buttons {
  padding-left: 0;
  padding-bottom: 0;
}
.cid-s2gxIC1dUo .dropdown .dropdown-menu {
  background: #fff;
  visibility: hidden;
  display: block;
  position: absolute;
  min-width: 5rem;
  padding-top: 1.4rem;
  padding-bottom: 1.4rem;
  text-align: left;
}
.cid-s2gxIC1dUo .dropdown .dropdown-menu .dropdown-item {
  width: auto;
  padding: 0.235em 1.5385em 0.235em 1.5385em !important;
}
.cid-s2gxIC1dUo .dropdown .dropdown-menu .dropdown-item::after {
  right: 0.5rem;
}
.cid-s2gxIC1dUo .dropdown .dropdown-menu .dropdown-submenu {
  margin: 0;
}
.cid-s2gxIC1dUo .dropdown.open > .dropdown-menu {
  visibility: visible;
}
.cid-s2gxIC1dUo .navbar-toggleable-sm.opened:after {
  position: absolute;
  width: 100vw;
  height: 100vh;
  content: '';
  background-color: rgba(0, 0, 0, 0);
  left: 0;
  bottom: 0;
  transform: translateY(100%);
  -webkit-transform: translateY(100%);
  z-index: 1000;
}
.cid-s2gxIC1dUo .navbar.navbar-short {
  min-height: 60px;
  transition: all .2s;
}
.cid-s2gxIC1dUo .navbar.navbar-short .navbar-toggler-right {
  top: 20px;
}
.cid-s2gxIC1dUo .navbar.navbar-short .navbar-logo a {
  font-size: 2.5rem !important;
  line-height: 2.5rem;
  transition: font-size 0.25s;
}
.cid-s2gxIC1dUo .navbar.navbar-short .navbar-logo a .mbr-iconfont {
  font-size: 2.5rem !important;
}
.cid-s2gxIC1dUo .navbar.navbar-short .navbar-logo a img {
  height: 3rem !important;
}
.cid-s2gxIC1dUo .navbar.navbar-short .navbar-brand {
  min-height: 3rem;
}
.cid-s2gxIC1dUo button.navbar-toggler {
  width: 31px;
  height: 18px;
  cursor: pointer;
  transition: all .2s;
  top: 1.5rem;
  right: 1rem;
}
.cid-s2gxIC1dUo button.navbar-toggler:focus {
  outline: none;
}
.cid-s2gxIC1dUo button.navbar-toggler .hamburger span {
  position: absolute;
  right: 0;
  width: 30px;
  height: 2px;
  border-right: 5px;
  background-color: #ff7e2e;
}
.cid-s2gxIC1dUo button.navbar-toggler .hamburger span:nth-child(1) {
  top: 0;
  transition: all .2s;
}
.cid-s2gxIC1dUo button.navbar-toggler .hamburger span:nth-child(2) {
  top: 8px;
  transition: all .15s;
}
.cid-s2gxIC1dUo button.navbar-toggler .hamburger span:nth-child(3) {
  top: 8px;
  transition: all .15s;
}
.cid-s2gxIC1dUo button.navbar-toggler .hamburger span:nth-child(4) {
  top: 16px;
  transition: all .2s;
}
.cid-s2gxIC1dUo nav.opened .hamburger span:nth-child(1) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all .2s;
}
.cid-s2gxIC1dUo nav.opened .hamburger span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  transition: all .25s;
}
.cid-s2gxIC1dUo nav.opened .hamburger span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  transition: all .25s;
}
.cid-s2gxIC1dUo nav.opened .hamburger span:nth-child(4) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all .2s;
}
.cid-s2gxIC1dUo .collapsed.navbar-expand {
  flex-direction: column;
  -webkit-flex-direction: column;
}
.cid-s2gxIC1dUo .collapsed .btn {
  display: -webkit-flex;
}
.cid-s2gxIC1dUo .collapsed .navbar-collapse {
  display: none !important;
  padding-right: 0 !important;
}
.cid-s2gxIC1dUo .collapsed .navbar-collapse.collapsing,
.cid-s2gxIC1dUo .collapsed .navbar-collapse.show {
  display: block !important;
}
.cid-s2gxIC1dUo .collapsed .navbar-collapse.collapsing .navbar-nav,
.cid-s2gxIC1dUo .collapsed .navbar-collapse.show .navbar-nav {
  display: block;
  text-align: center;
}
.cid-s2gxIC1dUo .collapsed .navbar-collapse.collapsing .navbar-nav .nav-item,
.cid-s2gxIC1dUo .collapsed .navbar-collapse.show .navbar-nav .nav-item {
  clear: both;
}
.cid-s2gxIC1dUo .collapsed .navbar-collapse.collapsing .navbar-nav .nav-item:last-child,
.cid-s2gxIC1dUo .collapsed .navbar-collapse.show .navbar-nav .nav-item:last-child {
  margin-bottom: 1rem;
}
.cid-s2gxIC1dUo .collapsed .navbar-collapse.collapsing .navbar-buttons,
.cid-s2gxIC1dUo .collapsed .navbar-collapse.show .navbar-buttons {
  text-align: center;
}
.cid-s2gxIC1dUo .collapsed .navbar-collapse.collapsing .navbar-buttons:last-child,
.cid-s2gxIC1dUo .collapsed .navbar-collapse.show .navbar-buttons:last-child {
  margin-bottom: 1rem;
}
@media (min-width: 1024px) {
  .cid-s2gxIC1dUo .collapsed:not(.navbar-short) .navbar-collapse {
    max-height: calc(98.5vh - 3.8rem);
  }
}
.cid-s2gxIC1dUo .collapsed button.navbar-toggler {
  display: block;
}
.cid-s2gxIC1dUo .collapsed .navbar-brand {
  margin-left: 1rem !important;
}
.cid-s2gxIC1dUo .collapsed .navbar-toggleable-sm {
  flex-direction: column;
  -webkit-flex-direction: column;
}
.cid-s2gxIC1dUo .collapsed .dropdown .dropdown-menu {
  width: 100%;
  text-align: center;
  position: relative;
  opacity: 0;
  overflow: hidden;
  display: block;
  height: 0;
  visibility: hidden;
  padding: 0;
  transition-duration: .5s;
  transition-property: opacity,padding,height;
}
.cid-s2gxIC1dUo .collapsed .dropdown.open > .dropdown-menu {
  position: relative;
  opacity: 1;
  height: auto;
  padding: 1.4rem 0;
  visibility: visible;
}
.cid-s2gxIC1dUo .collapsed .dropdown .dropdown-submenu {
  left: 0;
  text-align: center;
  width: 100%;
}
.cid-s2gxIC1dUo .collapsed .dropdown .dropdown-toggle[data-toggle="dropdown-submenu"]::after {
  margin-top: 0;
  position: inherit;
  right: 0;
  top: 50%;
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: .3em;
  vertical-align: middle;
  content: "";
  border-top: .30em solid;
  border-right: .30em solid transparent;
  border-left: .30em solid transparent;
}
@media (max-width: 1023px) {
  .cid-s2gxIC1dUo .navbar-expand {
    flex-direction: column;
    -webkit-flex-direction: column;
  }
  .cid-s2gxIC1dUo img {
    height: 3.8rem !important;
  }
  .cid-s2gxIC1dUo .btn {
    display: -webkit-flex;
  }
  .cid-s2gxIC1dUo button.navbar-toggler {
    display: block;
  }
  .cid-s2gxIC1dUo .navbar-brand {
    margin-left: 1rem !important;
  }
  .cid-s2gxIC1dUo .navbar-toggleable-sm {
    flex-direction: column;
    -webkit-flex-direction: column;
  }
  .cid-s2gxIC1dUo .navbar-collapse {
    display: none !important;
    padding-right: 0 !important;
  }
  .cid-s2gxIC1dUo .navbar-collapse.collapsing,
  .cid-s2gxIC1dUo .navbar-collapse.show {
    display: block !important;
  }
  .cid-s2gxIC1dUo .navbar-collapse.collapsing .navbar-nav,
  .cid-s2gxIC1dUo .navbar-collapse.show .navbar-nav {
    display: block;
    text-align: center;
  }
  .cid-s2gxIC1dUo .navbar-collapse.collapsing .navbar-nav .nav-item,
  .cid-s2gxIC1dUo .navbar-collapse.show .navbar-nav .nav-item {
    clear: both;
  }
  .cid-s2gxIC1dUo .navbar-collapse.collapsing .navbar-nav .nav-item:last-child,
  .cid-s2gxIC1dUo .navbar-collapse.show .navbar-nav .nav-item:last-child {
    margin-bottom: 1rem;
  }
  .cid-s2gxIC1dUo .navbar-collapse.collapsing .navbar-buttons,
  .cid-s2gxIC1dUo .navbar-collapse.show .navbar-buttons {
    text-align: center;
  }
  .cid-s2gxIC1dUo .navbar-collapse.collapsing .navbar-buttons:last-child,
  .cid-s2gxIC1dUo .navbar-collapse.show .navbar-buttons:last-child {
    margin-bottom: 1rem;
  }
  .cid-s2gxIC1dUo .dropdown .dropdown-menu {
    width: 100%;
    text-align: center;
    position: relative;
    opacity: 0;
    overflow: hidden;
    display: block;
    height: 0;
    visibility: hidden;
    padding: 0;
    transition-duration: .5s;
    transition-property: opacity,padding,height;
  }
  .cid-s2gxIC1dUo .dropdown.open > .dropdown-menu {
    position: relative;
    opacity: 1;
    height: auto;
    padding: 1.4rem 0;
    visibility: visible;
  }
  .cid-s2gxIC1dUo .dropdown .dropdown-submenu {
    left: 0;
    text-align: center;
    width: 100%;
  }
  .cid-s2gxIC1dUo .dropdown .dropdown-toggle[data-toggle="dropdown-submenu"]::after {
    margin-top: 0;
    position: inherit;
    right: 0;
    top: 50%;
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: .3em;
    vertical-align: middle;
    content: "";
    border-top: .30em solid;
    border-right: .30em solid transparent;
    border-left: .30em solid transparent;
  }
}
@media (min-width: 767px) {
  .cid-s2gxIC1dUo .menu-logo {
    flex-shrink: 0;
    -webkit-flex-shrink: 0;
  }
}
.cid-s2gxIC1dUo .navbar-collapse {
  flex-basis: auto;
  -webkit-flex-basis: auto;
}
.cid-s2gxIC1dUo .nav-link:hover,
.cid-s2gxIC1dUo .dropdown-item:hover {
  color: #c1c1c1 !important;
}
.cid-s2gyxGxsge {
  padding-top: 2em;
  padding-bottom: 2em;
  /*background-image:url("/assets/images/background4.jpg");*/
  /* border: 1px solid black; */ /* DELETE LATER */
  /*background-color: #ffffff;*/
}
.cid-s2gyxGxsge .nav-tabs .nav-item.open .nav-link:focus,
.cid-s2gyxGxsge .nav-tabs .nav-link.active:focus {
  outline: none;
}

.cid-s2gyxGxsge .nav-tabs {
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  /* border: 1px solid black; */ /* DELETE LATER */
  border-bottom: none;
}

.cid-s2gyxGxsge .nav-tabs .nav-item {
  padding: 0.4em;
}


.cid-s2gyxGxsge .nav-tabs .nav-link {
  color: #646c78;
  font-style: normal;
  font-weight: 500;
  border: 1px solid #646c78;
  transition: all .5s;
}
.cid-s2gyxGxsge .nav-tabs .nav-link:hover {
  cursor: pointer;
  color: #fff;
  background-color: #2c3952;
}
.cid-s2gyxGxsge .nav-tabs .nav-link.active {
  font-weight: 500;
  color: #ffffff;
  font-style: normal;
  background-color: #2c3952;
  border-color: #2c3952;
}
.cid-s2gyxGxsge .nav-tabs .nav-link.active:hover {
  background-color: #2c3952;
}
.cid-s2gyxGxsge p {  
  color: #ffffff;
}
.cid-s2gyxGxsge .mbr-text {
  text-align: center;
}
.cid-s2gyxGxsge H2 {
  color: #2c3952;
}
.cid-s2gyxGxsge P {
  color: #2c3952;
}
.cid-s2OB6kuHNf {
  background-color: #515151;
}
.cid-s2OB6kuHNf .form-control,
.cid-s2OB6kuHNf .form-control:focus {
  background: #ffffff;
  border: 1px solid #ffffff;
}
.cid-s2OB6kuHNf .form-container {
  transition: all .2s;
  border: 1px solid #ffffff;
  padding: 1rem;
}
.cid-s2OB6kuHNf textarea.form-control {
  min-height: 188px;
}
.cid-s2OB6kuHNf .input-group-btn {
  justify-content: center;
  -webkit-justify-content: center;
}
@media (min-width: 768px) {
  .cid-s2OB6kuHNf .content-container {
    padding-right: 5rem;
  }
}
.cid-s3nMbhVkWg {
  padding-top: 90px;
  padding-bottom: 90px;
  background-color: #fff;
}
.cid-s3nMbhVkWg .mbr-section-subtitle {
  color: #767676;
}
.cid-s3nMbhVkWg .container-table {
  margin: 0 auto;
}
.cid-s3nMbhVkWg .scroll {
  overflow-x: auto;
  padding: 0;
}
.cid-s3nMbhVkWg .dataTables_wrapper {
  display: block;
}
.cid-s3nMbhVkWg .dataTables_wrapper .search {
  margin-bottom: .5rem;
}
.cid-s3nMbhVkWg .dataTables_wrapper .table {
  overflow-x: auto;
}
.cid-s3nMbhVkWg table {
  width: 100% !important;
  
  margin-top: 6px;
  border: 1px solid #cccccc;
  margin-bottom: 0;
}
.cid-s3nMbhVkWg table th {
  border-top: none;
  transition: all .2s;
  border-bottom: none;
}
.cid-s3nMbhVkWg table th:hover {
  background: #cccccc;
  color: #000000;
}
.cid-s3nMbhVkWg table td {
  border-top: 1px solid #cccccc;
}
.cid-s3nMbhVkWg table.table {
  background: #ffffff;
}
.cid-s3nMbhVkWg .dataTables_filter {
  text-align: right;
  margin-bottom: .5rem;
}
.cid-s3nMbhVkWg .dataTables_filter label {
  display: inline;
  white-space: normal !important;
}
.cid-s3nMbhVkWg .dataTables_filter input {
  display: inline;
  width: auto;
  margin-left: .5rem;
  border-radius: 100px;
  padding-left: 1rem;
}
.cid-s3nMbhVkWg .dataTables_info {
  padding-bottom: 1rem;
  padding-top: 1rem;
  white-space: normal !important;
}
@media (max-width: 992px) {
  .cid-s3nMbhVkWg .dataTables_filter {
    text-align: center;
  }
}
@media (max-width: 350px) {
  .cid-s3nMbhVkWg .dataTables_filter {
    text-align: center;
  }
  .cid-s3nMbhVkWg .dataTables_filter input {
    width: 100% !important;
    margin-left: 0 !important;
  }
}
.cid-s3nMbhVkWg .searchInfo {
  text-align: right;
}


.cid-s2gxOHzbBU {
  /*padding-top: 90px;
  padding-bottom: 90px;*/
  background-color: #fff;
}
.cid-s2gxOHzbBU .mbr-section-subtitle,
.cid-s2gxOHzbBU .mbr-text {
  color: #767676;
}
.cid-s2gxOHzbBU .card {
  display: -webkit-flex;
  position: relative;
  justify-content: center;
  -webkit-justify-content: center;
}
.cid-s2gxOHzbBU .card-wrapper {
  height: 100%;
  box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0);
  transition: box-shadow 0.3s;
}
.cid-s2gxOHzbBU .card-wrapper .card-img {
  display: -webkit-flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  -webkit-flex-direction: column;
  -webkit-align-items: center;
  -webkit-justify-content: center;
}
.cid-s2gxOHzbBU .card-wrapper .card-img .mbr-overlay {
  background-color: #ffffff;
  display: none;
  transition: opacity .3s;
}
.cid-s2gxOHzbBU .card-wrapper .card-img .mbr-section-btn {
  position: absolute;
  transition: opacity .3s;
  width: 100%;
  left: 0;
  top: 50%;
  height: auto;
  transform: translateY(-50%);
}
.cid-s2gxOHzbBU .card-wrapper .card-img img {
  width: 100%;
}
.cid-s2gxOHzbBU .card-wrapper .card-box {
  background-color: #ffffff;
  padding: 0 2rem 2rem 2rem;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.cid-s2gxOHzbBU .card-wrapper .card-box h4 {
  font-weight: 500;
  margin-bottom: 0;
  padding-top: 2rem;
}
.cid-s2gxOHzbBU .card-wrapper .card-box p {
  margin-bottom: 0;
  padding-top: 1.5rem;
}
.cid-s2gxOHzbBU .card-wrapper:hover {
  box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.05);
}
.cid-s2gxOHzbBU .card-img .mbr-overlay {
  display: block !important;
  opacity: 0;
}
.cid-s2gxOHzbBU .card-img .mbr-section-btn {
  opacity: 0;
}
.cid-s2gxOHzbBU .card-img:hover .mbr-overlay {
  opacity: .5;
}
.cid-s2gxOHzbBU .card-img:hover .mbr-section-btn {
  opacity: 1;
}
.cid-s3nKaBMSpf {
  padding-top: 90px;
  padding-bottom: 90px;
  background-color: #ffffff;
}
.cid-s3nKaBMSpf .mbr-section-subtitle {
  color: #767676;
}
.cid-s3nKaBMSpf .formoid {
  margin: auto;
}
.cid-s3nKaBMSpf .form-control {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}
.cid-s3nKaBMSpf .input-group-btn .btn {
  padding-top: 1rem;
  padding-bottom: 1rem;
  margin: 0 !important;
}
.cid-s3nKaBMSpf a:not([href]):not([tabindex]) {
  color: #fff;
}
.cid-s3nKaBMSpf a.btn-white:not([href]):not([tabindex]) {
  color: #333;
}
@media (max-width: 768px) {
  .cid-s3nKaBMSpf .mbr-form .row {
    -webkit-flex-direction: column;
    flex-direction: column;
    -webkit-align-items: center;
    align-items: center;
  }
  .cid-s3nKaBMSpf .form-group,
  .cid-s3nKaBMSpf .input-group-btn,
  .cid-s3nKaBMSpf .input-group-btn .btn {
    max-width: 300px;
    width: 100%;
  }
}
@media (min-width: 769px) {
  .cid-s3nKaBMSpf .mbr-form .row > * {
    padding: 0 0.5rem;
  }
}
.cid-s3nKaBMSpf H2 {
  text-align: left;
}
.cid-s2gxzRnY70 {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #2c3952;
}
@media (max-width: 767px) {
  .cid-s2gxzRnY70 .content {
    text-align: center;
  }
  .cid-s2gxzRnY70 .content > div:not(:last-child) {
    margin-bottom: 2rem;
  }
}
@media (max-width: 767px) {
  .cid-s2gxzRnY70 .media-wrap {
    margin-bottom: 1rem;
  }
}
.cid-s2gxzRnY70 .media-wrap .mbr-iconfont-logo {
  font-size: 7.5rem;
  color: #f36;
}
.cid-s2gxzRnY70 .media-wrap img {
  height: 6rem;
}
@media (max-width: 767px) {
  .cid-s2gxzRnY70 .footer-lower .copyright {
    margin-bottom: 1rem;
    text-align: center;
  }
}
.cid-s2gxzRnY70 .footer-lower hr {
  margin: 1rem 0;
  border-color: #fff;
  opacity: .05;
}
.cid-s2gxzRnY70 .footer-lower .social-list {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
  display: flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-justify-content: flex-end;
  justify-content: flex-end;
}
.cid-s2gxzRnY70 .footer-lower .social-list .mbr-iconfont-social {
  font-size: 1.3rem;
  color: #fff;
}
.cid-s2gxzRnY70 .footer-lower .social-list .soc-item {
  margin: 0 .5rem;
}
.cid-s2gxzRnY70 .footer-lower .social-list a {
  margin: 0;
  opacity: .5;
  -webkit-transition: .2s linear;
  transition: .2s linear;
}
.cid-s2gxzRnY70 .footer-lower .social-list a:hover {
  opacity: 1;
}
@media (max-width: 767px) {
  .cid-s2gxzRnY70 .footer-lower .social-list {
    -webkit-justify-content: center;
    justify-content: center;
  }
}
.cid-s2gxIC1dUo .navbar {
  padding: .5rem 0;
  background: #fff;
  transition: none;
  min-height: 77px;
}
.cid-s2gxIC1dUo .navbar-dropdown.bg-color.transparent.opened {
  background: #fff;
}
.cid-s2gxIC1dUo a {
  font-style: normal;
}
.cid-s2gxIC1dUo .nav-item span {
  padding-right: 0.4em;
  line-height: 0.5em;
  vertical-align: text-bottom;
  position: relative;
  text-decoration: none;
}
.cid-s2gxIC1dUo .nav-item a {
  display: -webkit-flex;
  align-items: center;
  justify-content: center;
  padding: 0.7rem 0 !important;
  margin: 0rem .65rem !important;
  -webkit-align-items: center;
  -webkit-justify-content: center;
}
.cid-s2gxIC1dUo .nav-item:focus,
.cid-s2gxIC1dUo .nav-link:focus {
  outline: none;
}
.cid-s2gxIC1dUo .btn {
  padding: 0.4rem 1.5rem;
  display: -webkit-inline-flex;
  align-items: center;
  -webkit-align-items: center;
}
.cid-s2gxIC1dUo .btn .mbr-iconfont {
  font-size: 1.6rem;
}
.cid-s2gxIC1dUo .menu-logo {
  margin-right: auto;
}
.cid-s2gxIC1dUo .menu-logo .navbar-brand {
  display: flex;
  margin-left: 5rem;
  padding: 0;
  transition: padding .2s;
  min-height: 3.8rem;
  -webkit-align-items: center;
  align-items: center;
}
.cid-s2gxIC1dUo .menu-logo .navbar-brand .navbar-caption-wrap {
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  word-break: break-word;
  min-width: 7rem;
  margin: .3rem 0;
}
.cid-s2gxIC1dUo .menu-logo .navbar-brand .navbar-caption-wrap .navbar-caption {
  line-height: 1.2rem !important;
  padding-right: 2rem;
}
.cid-s2gxIC1dUo .menu-logo .navbar-brand .navbar-logo {
  font-size: 4rem;
  transition: font-size 0.25s;
}
.cid-s2gxIC1dUo .menu-logo .navbar-brand .navbar-logo img {
  display: flex;
}
.cid-s2gxIC1dUo .menu-logo .navbar-brand .navbar-logo .mbr-iconfont {
  transition: font-size 0.25s;
}
.cid-s2gxIC1dUo .menu-logo .navbar-brand .navbar-logo a {
  display: inline-flex;
}
.cid-s2gxIC1dUo .navbar-toggleable-sm .navbar-collapse {
  justify-content: flex-end;
  -webkit-justify-content: flex-end;
  padding-right: 5rem;
  width: auto;
}
.cid-s2gxIC1dUo .navbar-toggleable-sm .navbar-collapse .navbar-nav {
  flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  padding-left: 0;
}
.cid-s2gxIC1dUo .navbar-toggleable-sm .navbar-collapse .navbar-nav .nav-item {
  -webkit-align-self: center;
  align-self: center;
}
.cid-s2gxIC1dUo .navbar-toggleable-sm .navbar-collapse .navbar-buttons {
  padding-left: 0;
  padding-bottom: 0;
}
.cid-s2gxIC1dUo .dropdown .dropdown-menu {
  background: #efefef;
  visibility: hidden;
  display: block;
  position: absolute;
  min-width: 5rem;
  padding-top: 1.4rem;
  padding-bottom: 1.4rem;
  text-align: left;
}
.cid-s2gxIC1dUo .dropdown .dropdown-menu .dropdown-item {
  width: auto;
  padding: 0.235em 1.5385em 0.235em 1.5385em !important;
}
.cid-s2gxIC1dUo .dropdown .dropdown-menu .dropdown-item::after {
  right: 0.5rem;
}
.cid-s2gxIC1dUo .dropdown .dropdown-menu .dropdown-submenu {
  margin: 0;
}
.cid-s2gxIC1dUo .dropdown.open > .dropdown-menu {
  visibility: visible;
}
.cid-s2gxIC1dUo .navbar-toggleable-sm.opened:after {
  position: absolute;
  width: 100vw;
  height: 100vh;
  content: '';
  background-color: rgba(0, 0, 0, 0.1);
  left: 0;
  bottom: 0;
  transform: translateY(100%);
  -webkit-transform: translateY(100%);
  z-index: 1000;
}
.cid-s2gxIC1dUo .navbar.navbar-short {
  min-height: 60px;
  transition: all .2s;
}
.cid-s2gxIC1dUo .navbar.navbar-short .navbar-toggler-right {
  top: 20px;
}
.cid-s2gxIC1dUo .navbar.navbar-short .navbar-logo a {
  font-size: 2.5rem !important;
  line-height: 2.5rem;
  transition: font-size 0.25s;
}
.cid-s2gxIC1dUo .navbar.navbar-short .navbar-logo a .mbr-iconfont {
  font-size: 2.5rem !important;
}
.cid-s2gxIC1dUo .navbar.navbar-short .navbar-logo a img {
  height: 3rem !important;
}
.cid-s2gxIC1dUo .navbar.navbar-short .navbar-brand {
  min-height: 3rem;
}
.cid-s2gxIC1dUo button.navbar-toggler {
  width: 31px;
  height: 18px;
  cursor: pointer;
  transition: all .2s;
  top: 1.5rem;
  right: 1rem;
}
.cid-s2gxIC1dUo button.navbar-toggler:focus {
  outline: none;
}
.cid-s2gxIC1dUo button.navbar-toggler .hamburger span {
  position: absolute;
  right: 0;
  width: 30px;
  height: 2px;
  border-right: 5px;
  background-color: #ff7e2e;
}
.cid-s2gxIC1dUo button.navbar-toggler .hamburger span:nth-child(1) {
  top: 0;
  transition: all .2s;
}
.cid-s2gxIC1dUo button.navbar-toggler .hamburger span:nth-child(2) {
  top: 8px;
  transition: all .15s;
}
.cid-s2gxIC1dUo button.navbar-toggler .hamburger span:nth-child(3) {
  top: 8px;
  transition: all .15s;
}
.cid-s2gxIC1dUo button.navbar-toggler .hamburger span:nth-child(4) {
  top: 16px;
  transition: all .2s;
}
.cid-s2gxIC1dUo nav.opened .hamburger span:nth-child(1) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all .2s;
}
.cid-s2gxIC1dUo nav.opened .hamburger span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  transition: all .25s;
}
.cid-s2gxIC1dUo nav.opened .hamburger span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  transition: all .25s;
}
.cid-s2gxIC1dUo nav.opened .hamburger span:nth-child(4) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all .2s;
}
.cid-s2gxIC1dUo .collapsed.navbar-expand {
  flex-direction: column;
  -webkit-flex-direction: column;
}
.cid-s2gxIC1dUo .collapsed .btn {
  display: -webkit-flex;
}
.cid-s2gxIC1dUo .collapsed .navbar-collapse {
  display: none !important;
  padding-right: 0 !important;
}
.cid-s2gxIC1dUo .collapsed .navbar-collapse.collapsing,
.cid-s2gxIC1dUo .collapsed .navbar-collapse.show {
  display: block !important;
}
.cid-s2gxIC1dUo .collapsed .navbar-collapse.collapsing .navbar-nav,
.cid-s2gxIC1dUo .collapsed .navbar-collapse.show .navbar-nav {
  display: block;
  text-align: center;
}
.cid-s2gxIC1dUo .collapsed .navbar-collapse.collapsing .navbar-nav .nav-item,
.cid-s2gxIC1dUo .collapsed .navbar-collapse.show .navbar-nav .nav-item {
  clear: both;
}
.cid-s2gxIC1dUo .collapsed .navbar-collapse.collapsing .navbar-nav .nav-item:last-child,
.cid-s2gxIC1dUo .collapsed .navbar-collapse.show .navbar-nav .nav-item:last-child {
  margin-bottom: 1rem;
}
.cid-s2gxIC1dUo .collapsed .navbar-collapse.collapsing .navbar-buttons,
.cid-s2gxIC1dUo .collapsed .navbar-collapse.show .navbar-buttons {
  text-align: center;
}
.cid-s2gxIC1dUo .collapsed .navbar-collapse.collapsing .navbar-buttons:last-child,
.cid-s2gxIC1dUo .collapsed .navbar-collapse.show .navbar-buttons:last-child {
  margin-bottom: 1rem;
}
@media (min-width: 1024px) {
  .cid-s2gxIC1dUo .collapsed:not(.navbar-short) .navbar-collapse {
    max-height: calc(98.5vh - 3.8rem);
  }
}
.cid-s2gxIC1dUo .collapsed button.navbar-toggler {
  display: block;
}
.cid-s2gxIC1dUo .collapsed .navbar-brand {
  margin-left: 1rem !important;
}
.cid-s2gxIC1dUo .collapsed .navbar-toggleable-sm {
  flex-direction: column;
  -webkit-flex-direction: column;
}
.cid-s2gxIC1dUo .collapsed .dropdown .dropdown-menu {
  width: 100%;
  text-align: center;
  position: relative;
  opacity: 0;
  overflow: hidden;
  display: block;
  height: 0;
  visibility: hidden;
  padding: 0;
  transition-duration: .5s;
  transition-property: opacity,padding,height;
}
.cid-s2gxIC1dUo .collapsed .dropdown.open > .dropdown-menu {
  position: relative;
  opacity: 1;
  height: auto;
  padding: 1.4rem 0;
  visibility: visible;
}
.cid-s2gxIC1dUo .collapsed .dropdown .dropdown-submenu {
  left: 0;
  text-align: center;
  width: 100%;
}
.cid-s2gxIC1dUo .collapsed .dropdown .dropdown-toggle[data-toggle="dropdown-submenu"]::after {
  margin-top: 0;
  position: inherit;
  right: 0;
  top: 50%;
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: .3em;
  vertical-align: middle;
  content: "";
  border-top: .30em solid;
  border-right: .30em solid transparent;
  border-left: .30em solid transparent;
}
@media (max-width: 1023px) {
  .cid-s2gxIC1dUo .navbar-expand {
    flex-direction: column;
    -webkit-flex-direction: column;
  }
  .cid-s2gxIC1dUo img {
    height: 3.8rem !important;
  }
  .cid-s2gxIC1dUo .btn {
    display: -webkit-flex;
  }
  .cid-s2gxIC1dUo button.navbar-toggler {
    display: block;
  }
  .cid-s2gxIC1dUo .navbar-brand {
    margin-left: 1rem !important;
  }
  .cid-s2gxIC1dUo .navbar-toggleable-sm {
    flex-direction: column;
    -webkit-flex-direction: column;
  }
  .cid-s2gxIC1dUo .navbar-collapse {
    display: none !important;
    padding-right: 0 !important;
  }
  .cid-s2gxIC1dUo .navbar-collapse.collapsing,
  .cid-s2gxIC1dUo .navbar-collapse.show {
    display: block !important;
  }
  .cid-s2gxIC1dUo .navbar-collapse.collapsing .navbar-nav,
  .cid-s2gxIC1dUo .navbar-collapse.show .navbar-nav {
    display: block;
    text-align: center;
  }
  .cid-s2gxIC1dUo .navbar-collapse.collapsing .navbar-nav .nav-item,
  .cid-s2gxIC1dUo .navbar-collapse.show .navbar-nav .nav-item {
    clear: both;
  }
  .cid-s2gxIC1dUo .navbar-collapse.collapsing .navbar-nav .nav-item:last-child,
  .cid-s2gxIC1dUo .navbar-collapse.show .navbar-nav .nav-item:last-child {
    margin-bottom: 1rem;
  }
  .cid-s2gxIC1dUo .navbar-collapse.collapsing .navbar-buttons,
  .cid-s2gxIC1dUo .navbar-collapse.show .navbar-buttons {
    text-align: center;
  }
  .cid-s2gxIC1dUo .navbar-collapse.collapsing .navbar-buttons:last-child,
  .cid-s2gxIC1dUo .navbar-collapse.show .navbar-buttons:last-child {
    margin-bottom: 1rem;
  }
  .cid-s2gxIC1dUo .dropdown .dropdown-menu {
    width: 100%;
    text-align: center;
    position: relative;
    opacity: 0;
    overflow: hidden;
    display: block;
    height: 0;
    visibility: hidden;
    padding: 0;
    transition-duration: .5s;
    transition-property: opacity,padding,height;
  }
  .cid-s2gxIC1dUo .dropdown.open > .dropdown-menu {
    position: relative;
    opacity: 1;
    height: auto;
    padding: 1.4rem 0;
    visibility: visible;
  }
  .cid-s2gxIC1dUo .dropdown .dropdown-submenu {
    left: 0;
    text-align: center;
    width: 100%;
  }
  .cid-s2gxIC1dUo .dropdown .dropdown-toggle[data-toggle="dropdown-submenu"]::after {
    margin-top: 0;
    position: inherit;
    right: 0;
    top: 50%;
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: .3em;
    vertical-align: middle;
    content: "";
    border-top: .30em solid;
    border-right: .30em solid transparent;
    border-left: .30em solid transparent;
  }
}
@media (min-width: 767px) {
  .cid-s2gxIC1dUo .menu-logo {
    flex-shrink: 0;
    -webkit-flex-shrink: 0;
  }
}
.cid-s2gxIC1dUo .navbar-collapse {
  flex-basis: auto;
  -webkit-flex-basis: auto;
}
.cid-s2gxIC1dUo .nav-link:hover,
.cid-s2gxIC1dUo .dropdown-item:hover {
  color: #c1c1c1 !important;
}
.cid-s2OBPKzvHd {
  padding-top: 120px;
  padding-bottom: 0px;
  background-color: #ffffff;
}
.cid-s2OBPKzvHd .mbr-section-subtitle {
  color: #767676;
}
.cid-s2OCKeFbUo {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #ffffff;
}
.cid-s2OCKeFbUo .line {
  background-color: #149dcc;
  color: #149dcc;
  align: center;
  height: 2px;
  margin: 0 auto;
}
.cid-s2OCKeFbUo .section-text {
  padding: 2rem 0;
}
.cid-s2OCKeFbUo .inner-container {
  margin: 0 auto;
}
@media (max-width: 768px) {
  .cid-s2OCKeFbUo .inner-container {
    width: 100% !important;
  }
}
.cid-s2OEwUo3nc {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #ffffff;
}
@media (min-width: 992px) {
  .cid-s2OEwUo3nc .mbr-figure {
    padding-left: 4rem;
  }
}
@media (max-width: 992px) {
  .cid-s2OEwUo3nc .mbr-figure {
    padding-top: 1rem;
  }
}
.cid-s2OEwUo3nc .mbr-text {
  color: #767676;
}
.cid-s2OCLkunb8 {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #ffffff;
}
.cid-s2OCLkunb8 .mbr-text,
.cid-s2OCLkunb8 blockquote {
  color: #767676;
}
.cid-s2OEzVWsd6 {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #ffffff;
}
.cid-s2OEzVWsd6 .mbr-text,
.cid-s2OEzVWsd6 blockquote {
  color: #767676;
}
.cid-s2OCLTvmOP {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #ffffff;
}
.cid-s2OCLTvmOP .counter-container {
  color: #767676;
}
.cid-s2OCLTvmOP .counter-container ol {
  margin-bottom: 0;
  counter-reset: myCounter;
}
.cid-s2OCLTvmOP .counter-container ol li {
  margin-bottom: 1rem;
}
.cid-s2OCLTvmOP .counter-container ol li {
  list-style: none;
  padding-left: .5rem;
  position: relative;
}
.cid-s2OCLTvmOP .counter-container ol li:before {
  position: absolute;
  left: -56px;
  margin-top: -10px;
  counter-increment: myCounter;
  content: counter(myCounter);
  display: inline-block;
  text-align: center;
  margin: 5px 10px;
  line-height: 40px;
  transition: all .2s;
  color: #ffffff;
  background: #149dcc;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
.cid-s2OFc2B9XG {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #005f7f;
}
@media (max-width: 767px) {
  .cid-s2OFc2B9XG .content {
    text-align: center;
  }
  .cid-s2OFc2B9XG .content > div:not(:last-child) {
    margin-bottom: 2rem;
  }
}
@media (max-width: 767px) {
  .cid-s2OFc2B9XG .media-wrap {
    margin-bottom: 1rem;
  }
}
.cid-s2OFc2B9XG .media-wrap .mbr-iconfont-logo {
  font-size: 7.5rem;
  color: #f36;
}
.cid-s2OFc2B9XG .media-wrap img {
  height: 6rem;
}
@media (max-width: 767px) {
  .cid-s2OFc2B9XG .footer-lower .copyright {
    margin-bottom: 1rem;
    text-align: center;
  }
}
.cid-s2OFc2B9XG .footer-lower hr {
  margin: 1rem 0;
  border-color: #fff;
  opacity: .05;
}
.cid-s2OFc2B9XG .footer-lower .social-list {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
  display: flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-justify-content: flex-end;
  justify-content: flex-end;
}
.cid-s2OFc2B9XG .footer-lower .social-list .mbr-iconfont-social {
  font-size: 1.3rem;
  color: #fff;
}
.cid-s2OFc2B9XG .footer-lower .social-list .soc-item {
  margin: 0 .5rem;
}
.cid-s2OFc2B9XG .footer-lower .social-list a {
  margin: 0;
  opacity: .5;
  -webkit-transition: .2s linear;
  transition: .2s linear;
}
.cid-s2OFc2B9XG .footer-lower .social-list a:hover {
  opacity: 1;
}
@media (max-width: 767px) {
  .cid-s2OFc2B9XG .footer-lower .social-list {
    -webkit-justify-content: center;
    justify-content: center;
  }
}

.cid-s3ZoaRMIHq {
  
  padding-bottom: 90px;
  background-color: #ffffff;
}

/*@media (max-width: 767px) {
  .cid-s3ZoaRMIHq {
    padding-top: 90px;
  }
}*/
.cid-s3ZoaRMIHq .title {
  padding-bottom: 2.5rem;
}
.cid-s3ZoaRMIHq h4 {
  width: 85%;
  font-weight: 500;
  margin-bottom: 0;
}
.cid-s3ZoaRMIHq .bottom-line p {
  color: #767676;
}
.cid-s3ZoaRMIHq .card-wrapper {
  background-color: #ffffff;
  background-color: transparent;
  position: relative;
  justify-content: unset;
}
.cid-s3ZoaRMIHq .card-wrapper .card-box {
  width: 100%;
}
.cid-s3ZoaRMIHq .card-wrapper .card-box .wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.cid-s3ZoaRMIHq .card-wrapper .card-box .wrapper .top-line {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.cid-s3ZoaRMIHq .card-wrapper .card-box .wrapper .bottom-line {
  width: 85%;
}
@media (max-width: 767px) {
  .cid-s3ZoaRMIHq .card-wrapper .card-box .wrapper .bottom-line {
    width: 100%;
  }
  .cid-s3ZoaRMIHq .card-wrapper .card-box .wrapper .bottom-line p {
    text-align: center;
    margin: 1rem 0 0 0;
  }
}

.cid-s3nMbhVkww {
  /*padding-top: 90px;
  padding-bottom: 90px;
  background-color: #f9f9f9;*/
}
.cid-s3nMbhVkww .mbr-section-subtitle {
  color: #767676;
}
.cid-s3nMbhVkww .container-table {
  margin: 0 auto;
}
.cid-s3nMbhVkww .scroll {
  /*overflow-x: auto;*/
  padding: 0;
}

/*.cid-s3nMbhVkww .dataTables_wrapper {
  display: block;
}
.cid-s3nMbhVkww .dataTables_wrapper .search {
  margin-bottom: .5rem;
}
.cid-s3nMbhVkww .dataTables_wrapper .table {
  overflow-x: auto;
}*/

/*.cid-s3nMbhVkww table {
  width: 100% !important;
  border: 1px solid #cccccc;
  margin-bottom: 0;
}
.cid-s3nMbhVkww table th {
  border-top: none;
  transition: all .2s;
  border-bottom: none;
}


.cid-s3nMbhVkww table tr:hover {
  background: #646c78 !important;
  color: #fff !important;
}

.cid-s3nMbhVkww table td {
  border-top: 1px solid #cccccc;
}
.cid-s3nMbhVkww table.table {
  background: #ffffff;
}*/

/*.cid-s3nMbhVkww table th:hover {
  background: #cccccc;
  color: #000000;
}*/

.cid-s3nMbhVkww table {
  width: 100% !important;
  border: 1px solid #cccccc;
  margin-bottom: 0;
  border-spacing: 0;
  border-collapse: collapse;
  /*overflow: hidden;*/
}

.cid-s3nMbhVkww table td, th {
   padding: 10px;
   position: relative;
   text-align: center; 
   vertical-align: middle;
}

.cid-s3nMbhVkww table tr:hover{
   background-color: #efefef;;
}

/*
.cid-s3nMbhVkww .dataTables_filter {
  text-align: right;
  margin-bottom: .5rem;
}
.cid-s3nMbhVkww .dataTables_filter label {
  display: inline;
  white-space: normal !important;
}
.cid-s3nMbhVkww .dataTables_filter input {
  display: inline;
  width: auto;
  margin-left: .5rem;
  border-radius: 100px;
  padding-left: 1rem;
}
.cid-s3nMbhVkww .dataTables_info {
  padding-bottom: 1rem;
  padding-top: 1rem;
  white-space: normal !important;
}
@media (max-width: 992px) {
  .cid-s3nMbhVkww .dataTables_filter {
    text-align: center;
  }
}
@media (max-width: 350px) {
  .cid-s3nMbhVkww .dataTables_filter {
    text-align: center;
  }
  .cid-s3nMbhVkww .dataTables_filter input {
    width: 100% !important;
    margin-left: 0 !important;
  }
}
.cid-s3nMbhVkww .searchInfo {
  text-align: right;
}
*/


.cid-s5sHqNibdR {
  /*padding-top: 60px;
  padding-bottom: 60px;*/
  position: relative;
  background-color: #ffffff;
}
.cid-s5sHqNibdR p {
  color: #767676;
}
.cid-s5sHqNibdR .card {
  border-radius: 0px;
  margin-bottom: -1px;
}
.cid-s5sHqNibdR .card .card-header {
  border-radius: 0px;
  border: 0px;
  padding: 0;
}
.cid-s5sHqNibdR .card .card-header a.panel-title {
  margin-bottom: 0;
  margin-top: -1px;
  font-weight: 500;
  font-style: normal;
  display: block;
  text-decoration: none !important;
  line-height: normal;
}
.cid-s5sHqNibdR .card .card-header a.panel-title:focus {
  text-decoration: none !important;
}
.cid-s5sHqNibdR .card .card-header a.panel-title h4 {
  border: 1px solid #dfdfdf;
  padding: 1.3rem 2rem;
  margin-bottom: 0;
}
.cid-s5sHqNibdR .card .card-header a.panel-title h4 .sign {
  padding-right: 1rem;
}