/* ANTRASIT + SARI PALETTE */
--c1: #383e42; /* koyu mavi */ --c1-tint: #263053; --c1-shade: #0c1739;
--c2: #222f5b; /* orta mavi */ --c2-tint: #1e2a51; --c2-shade: #38436b;
--c3: #5d5d5d; /* gri gibi */
--c4: #f0ad4e; /* bootstrap sarı */ --c4-tint: #f3bd71; --c4-shade: #a87936;
--c5: #383e42; /* antrasit */ --c5-tint: #5f6467; --c5-shade: #272b2e;
--c6: #191919; /* koyu gri */
--c7: #5cb85c; /* bootstrap yeşil */ --c7-tint: #6cbf6c; --c7-shade: #52a552;
--menu-background-color:var(--c5);
--menu-logo-text-color:var(--c4);
--menu-text-color-hover:var(--c4);
--lblcartcount-background:var(--c4);
--cart-shadow-layer-background-color: rgba(240, 173, 78, 0.6);

/* TWITTER NIGHT MODE */
--c1: #243447; /* mavimsi */ --c1-tint: #65707e; --c1-shade: #192431;
--c2: #222f5b; /* orta mavi */ --c2-tint: #1e2a51; --c2-shade: #38436b;
--c3: #5d5d5d; /* gri gibi */
--c4: #d04b7d; /* pembemsi */ --c4-tint: #d6628d; --c4-shade: #891541;
--c5: #243447; /* mavimsi */ --c5-tint: #65707e; --c5-shade: #192431;
--c6: #141d26; /* koyu laci */
--c7: #5cb85c; /* bootstrap yeşil */ --c7-tint: #6cbf6c; --c7-shade: #52a552;
--c8: #f0ad4e; /* bootstrap sarı */ --c8-tint: #f3bd71; --c8-shade: #a87936;
--menu-background-color:var(--c5);
--menu-logo-text-color:var(--c4);
--menu-text-color-hover:var(--c4);
--lblcartcount-background:var(--c4);
--cart-shadow-layer-background-color: rgba(255, 78, 80, 0.6);

/* DISCORD */
--c2: #222f5b; /* orta mavi */ --c2-tint: #1e2a51; --c2-shade: #38436b;
--c4: #7289da; /* discord mavisi */ --c4-tint: #9cace5; --c4-shade: #4f5f98;
--c5: #1e2124; /* koyu gri */ --c5-tint: #4a4d4f; --c5-shade: #0c0d0e;
--c6: #36393e; /* gri */
--c7: #5cb85c; /* bootstrap yeşil */ --c7-tint: #6cbf6c; --c7-shade: #52a552;
--c8: #f0ad4e; /* bootstrap sarı */ --c8-tint: #f3bd71; --c8-shade: #a87936;
--menu-background-color:var(--c5);
--menu-logo-text-color:var(--c4);
--menu-text-color-hover:var(--c4);
--lblcartcount-background:var(--c4);
--cart-shadow-layer-background-color: rgba(67, 87, 121, 0.6);

/* DISCORD INVERTED */
--c2: #222f5b; /* orta mavi */ --c2-tint: #1e2a51; --c2-shade: #38436b;
--c5: #7289da; /* discord mavisi */ --c5-tint: #9cace5; --c5-shade: #4f5f98;
--c4: #1e2124; /* koyu gri */ --c4-tint: #4a4d4f; --c4-shade: #0c0d0e;
--c6: #36393e; /* gri */
--c7: #5cb85c; /* bootstrap yeşil */ --c7-tint: #6cbf6c; --c7-shade: #52a552;
--c8: #f0ad4e; /* bootstrap sarı */ --c8-tint: #f3bd71; --c8-shade: #a87936;
--menu-background-color:var(--c4);
--menu-logo-text-color:var(--c5);
--menu-text-color-hover:var(--c5);
--lblcartcount-background:var(--c5);
--cart-shadow-layer-background-color: rgba(67, 87, 121, 0.6);

/* SUMMER COMING */
--c2: #222f5b; /* orta mavi */ --c2-tint: #1e2a51; --c2-shade: #38436b;
--c5: #ff4e50; /* discord mavisi */ --c5-tint: #ff8384; --c5-shade: #b23638;
--c4: #1e2124; /* koyu gri */ --c4-tint: #4a4d4f; --c4-shade: #0c0d0e;
--c6: #36393e; /* gri */
--c7: #5cb85c; /* bootstrap yeşil */ --c7-tint: #6cbf6c; --c7-shade: #52a552;
--c8: #f0ad4e; /* bootstrap sarı */ --c8-tint: #f3bd71; --c8-shade: #a87936;
--menu-background-color:var(--c4);
--menu-logo-text-color:var(--c5);
--menu-text-color-hover:var(--c5);
--lblcartcount-background:var(--c5);
--cart-shadow-layer-background-color: rgba(255, 78, 80, 0.6);