/* STYLE.CSS */

/*!
 * Mobirise v4 theme (https://mobirise.com/)
 * Copyright 2017 Mobirise
 */
@import url(https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap);
@import url(https://fonts.googleapis.com/css?family=Ubuntu:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap);
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,700;1,800&display=swap');

:root {
  /* PALETTE */
--black: black;
--white: white;
--c1: #383e42; /* koyu gri */ --c1-tint: #263053; --c1-shade: #0c1739;
--c2: #222f5b; /* orta mavi */ --c2-tint: #1e2a51; --c2-shade: #38436b;
--c4: #7289da; /* discord mavisi */
  --c4-tint: #9cace5;
  --c4-tint-double: #d6e9ff;
  --c4-tint-triple: #f1f3fa;
  --c4-shade: #2f395b;
  --c4-shade-double: #1c2236;
  --c4-shade-double-o40: rgb(11,13,21,.4);
  --c4-shade-double-o90: rgb(11,13,21,.9);
--c5: #1e2124; /* koyu gri */ --c5-tint: #4a4d4f; --c5-tint-double: #eceded; --c5-shade: #0c0d0e;
--c6: #36393e; /* gri */ --c6-tint: #9a9c9e; --c6-shade: #25272b;
--c7: #5cb85c; /* bootstrap yeşil */ --c7-tint: #6cbf6c; --c7-tint-double: #b3ffb3; --c7-shade: #52a552;
--c8: #f0ad4e; /* bootstrap sarı */ --c8-tint: #f3bd71; --c8-shade: #a87936;
--c9: #d9534f; /* bootstrap kırmızı */ --c9-tint: #e07572; --c9-shade: #ad423f;
--c10: #f1f2f3; /* very light gray */ --c10-shade: #f4f5f6;
--cart-shadow-layer-background-color: rgba(67, 87, 121, 0.6);
--menu-background-color:var(--white);
--menu-logo-text-color-digi:var(--c4);
--menu-logo-text-color-kredi:var(--c4-shade);
--menu-button-background-color:var(--white);
--menu-text-color:var(--c6-tint);
--menu-text-color-hover:var(--c4-shade);
--lblcartcount-background:var(--c4);

  /* GLOBAL STYLING */
  --font-family: 'Open Sans', sans-serif;
  --global-background-color:#f7f8f9;
  --toast-background-color:var(--c5);
  --global-border-radius: .4rem;
  --global-button-border-radius: .6rem;
  --global-input-border-radius: .6rem;
  --global-button-padding:.6rem;
  --apply-button-padding:1rem;
  --icon-color:var(--c4-shade);
  --primary-text-color: var(--c6);
  --title-color-primary: var(--c5);
  --title-color-secondary: var(--c4);
  --global-border-color: var(--c5-shade);
  --flasher-border-radius: 1.2rem;
  /* INPUT COLORS */
  --input-color: var(--c4);
  --input-border: var(--c4);
  --input-background: var(--c4-tint-triple);
  --input-placeholder: var(--c6-tint);
  --input-border-focus: var(--c4);
  --group-color: var(--white);
  --group-border: var(--input-border);
  --group-background: var(--input-border);
  --group-color-focus: var(--white);
  --group-border-focus: var(--input-border-focus);
  --group-background-focus: var(--c4-shade);
  --primary-color: var(--c5);
  --primary-color-hover: var(--c5-shade);
  --secondary-color: var(--c4);
  --secondary-color-hover: var(--c4-shade);
  --form-text-color: var(--c4-shade);
  --form-info-text-color: var(--c6-tint);
  /* BUTTON COLORS */
  --submit-button-bg: var(--c4);
  --submit-button-bg-hover: var(--c4-shade);
  --submit-button-text: var(--white);
  --submit-button-text-hover: var(--white);
  --submit-button-border: var(--c4);
  --apply-button-bg: var(--c7);
  --apply-button-bg-hover: var(--c7-shade);
  --apply-button-text: var(--submit-button-text);
  --apply-button-text-hover: var(--white);
  /* SAVE ICON COLORS */
  --like-icon-color:var(--c4);
  --like-icon-hover:var(--c4-shade);
  --like-icon-icon:'\f097';
  --like-icon-press:var(--c7-shade);
  --like-icon-icon-pressed:'\f02e';
  /* A HREF COLORS */
  --a-color: var(--c4);
  --a-color-hover: var(--c4-shade);
  /* BREADCRUMB COLORS */
  --breadcrumb-text-before: var(--c4);
  --breadcrumb-a-text: var(--c4-shade);
  --breadcrumb-a-text-hover: var(--c4);
  --breadcrumb-icon-color:var(--c4-tint);
  /* LOANTYPE PAGES*/
  --loantype-pages-header-bg: rgba(47,  57,  91, .75);
  /* CART ICON */
  --cart-icon-color: var(--c7);
  --cart-icon-color-hover: var(--c7-tint);
  /* TOOLTIP */
  --tooltip-primary: var(--c4-tint);
  --tooltip-secondary: var(--white);
}

html, body {
  width: 100%;
  height: 100%; 
}
body {
  font-family: var(--font-family), sans-serif;
  font-style: normal;
  line-height: 1.5;
  height: auto;
  /*min-height: 100vh;*/
  /*box-shadow: inset 0 100px 490px black;*/
  color: var(--primary-text-color);
  position: relative;
  /*margin: 0;
  height: 100%;*/
  background-color:var(--global-background-color);
  overflow: hidden;
}

section {
}

.form-control:focus {
  box-shadow: none;
  background-color: #eee;
}

:focus {
  outline: none;
}

section,
.container,
.container-fluid {
  position: relative;
  word-wrap: break-word;
}

a.mbr-iconfont:hover {
  text-decoration: none;
}

.form-text-color {
  color: var(--form-text-color);
}

.form-info-text-color {
  color: var(--form-info-text-color);
}

.input-text-color {
  color: var(--input-color);
}
/*.article .lead p,
.article .lead ul,
.article .lead ol,
.article .lead pre,
.article .lead blockquote {
  margin-bottom: 0;
}*/

ul,
ol,
pre,
blockquote {
  margin-top: 0.2rem;
}

pre {
  background: #f4f4f4;
  padding: 10px 24px;
  white-space: pre-wrap;
}

.inactive {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  pointer-events: none;
  -webkit-user-drag: none;
  user-drag: none;
}

.mbr-section__comments .row {
  justify-content: center;
  -webkit-justify-content: center;
}

a {
  font-style: normal;
  font-weight: 400;
  cursor: pointer;
  color:var(--a-color);
}

a:hover {
  text-decoration: none;
  color:var(--a-color-hover);
}

u {
  font-style: normal;
  font-weight: 400;
  cursor: pointer;
  color:var(--a-color);
}

u:hover {
  text-decoration: none;
  color:var(--a-color-hover);
}

figure {
  margin-bottom: 0;
}



h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
.display-1,
.display-2,
.display-3,
.display-4 {
  word-break: break-word;
  word-wrap: break-word;
  font-weight: 300;
}

.mbr-section-title {
  font-style: normal;
  line-height: 1.2;
}

.loan-query-title {
  position: relative;
  font-style: normal;
  line-height: 1.6;
}

.mbr-section-subtitle {
  line-height: 1.3;
}

.mbr-text {
  font-style: normal;
  line-height: 1.6;
}

b,
strong {
  font-weight: bold;
}

blockquote {
  padding: 10px 0 10px 20px;
  position: relative;
  border-left: 2px solid;
  border-color: #ff3366;
}

input:-webkit-autofill, input:-webkit-autofill:hover, input:-webkit-autofill:focus, input:-webkit-autofill:active {
  transition-delay: 9999s;
  transition-property: background-color, color;
}

textarea[type='hidden'] {
  display: none;
}


section {
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
}

section .mbr-background-video,
section .mbr-background-video-preview {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
}

.hidden {
  visibility: hidden;
}

.mbr-z-index20 {
  z-index: 20;
}

/*! Base colors */
.mbr-white {
  color: #ffffff;
}

.mbr-black {
  color: #000000;
}

.mbr-primary {
  color: var(--c1);
}

.mbr-secondary {
  color: var(--c4);
}

.mbr-green {
  color: var(--c7);
}
.mbr-yellow {
  color: var(--c8);
}
.mbr-red {
  color: var(--c9);
}

.mbr-bg-white {
  background-color: #ffffff;
}

.mbr-bg-black {
  background-color: #000000;
}

/*! Text-aligns */
.align-left {
  text-align: left;
}

.align-center {
  text-align: center;
}

.align-right {
  text-align: right;
}

.mbr-underline {
  text-decoration: underline;
}

@media (max-width: 767px) {
  .align-left,
  .align-center,
  .align-right,
  .mbr-section-btn,
  .mbr-section-title {
    /*text-align: center;*/
  }
}

/*! Font-weight  */
.mbr-light {
  font-weight: 300;
}

.mbr-regular {
  font-weight: 400;
}

.mbr-semibold {
  font-weight: 500;
}

.mbr-bold {
  font-weight: 700;
}

/*! Media  */
.media-size-item {
  -moz-flex: 1 1 auto;
  -o-flex: 1 1 auto;
  flex: 1 1 auto;
}

.media-content {
  flex-basis: 100%;
}

.media-container-row {
  /* border: 1px solid red; */ /* DELETE LATER */
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  align-items: start;
}

.media-container-row .media-size-item {
  width: 400px;
}

.media-container-column {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  align-items: stretch;
}

.media-container-column > * {
  width: 100%;
}

@media (min-width: 992px) {
  .media-container-row {
    flex-wrap: nowrap;
  }
}

figure {
  overflow: hidden;
}

figure[mbr-media-size] {
  transition: width 0.1s;
}

.mbr-figure img,
.mbr-figure iframe {
  display: block;
  width: 100%;
}

.loan-box {
  /* border: 1px solid #dee2e6; */
  border-radius: var(--global-border-radius);
  background-color: white;
  margin-bottom: 2rem;
  padding: 1.4rem 1rem;
  -webkit-box-shadow: 0px 8px 9px -2px rgb(125 125 125 / 10%);
  -moz-box-shadow: 0px 8px 9px -2px rgb(125 125 125 / 10%);
  box-shadow: 0px 8px 9px -2px rgb(125 125 125 / 10%);
}

.loan-summary-box {
  border: 1px solid #858586;
  border-radius: var(--global-border-radius);
  width: 100%;
  height: 100%;
}

.pad-right-05em {
  padding-right: 0.5em;
}
.pad-left-05em {
  padding-left: 0.5em;
}
.pad-0{
  padding:0;
}

@media (max-width: 575px){
  .loan-detail-area {
    padding:0em;
  }
  .pad-mobile-0 {
    padding: 0;
  }
  .align-right-mobile{
    text-align:right;
  }
}

.loan-final-card {
  background-color: #fff;
  -webkit-box-shadow: 0px 8px 9px -2px rgb(125 125 125 / 30%);
  -moz-box-shadow: 0px 8px 9px -2px rgb(125 125 125 / 30%);
  box-shadow: 0px 8px 9px -2px rgb(125 125 125 / 30%);
  padding: 1rem;
  margin-bottom: 1rem;
  border-radius: var(--global-border-radius);
}

#main-navigation .row {
  background-color: var(--c5-tint-double);
  /*-webkit-box-shadow: 0px 0px 22px -2px rgba(125,125,125,0.37);
  -moz-box-shadow: 0px 0px 22px -2px rgba(125,125,125,0.37);
  box-shadow: 0px 0px 22px -2px rgba(125,125,125,0.37);*/
  padding: 1rem;
  margin-bottom: 0.6rem;
  border-radius: var(--global-border-radius);
}

#main-navigation .row:hover {
  background-color: var(--c4-tint-triple);
}

#main-navigation > a {
  line-height: 1.15;
  color: var(--c6);
}
#main-navigation > a:hover {
  line-height: 1.15;
  color: var(--c4);
}

#main-navigation > i {
  line-height: 1.15;
  color: var(--c4);
}



.media {
  max-width: 100%;
  margin: 0 auto;
}

.mbr-figure {
  -ms-grid-row-align: center;
  align-self: center;
}

.media-container > div {
  max-width: 100%;
}

@media (max-width: 991px) {
  .media-size-item {
    width: auto !important;
  }
  .media {
    width: auto;
  }
  .mbr-figure {
    width: 100% !important;
  }
}

/*! Buttons */
.btn {
  font-weight: 500;
  border-width: 2px;
  font-style: normal;
  letter-spacing: 1px;
  
  white-space: normal;
  transition: all .3s ease-in-out;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  word-break: break-word;
  -webkit-align-items: center;
  -webkit-justify-content: center;
  display: -webkit-inline-flex;
}

.webkit-align-center {
  -webkit-align-items: center;
  -webkit-justify-content: center;
  vertical-align: middle;
}


.btn-sm {
  font-weight: 500;
  letter-spacing: 1px;
  transition: all .3s ease-in-out;
}

.btn-md {
  font-weight: 500;
  letter-spacing: 1px;
  margin: .4rem .8rem !important;
  transition: all .3s ease-in-out;
}

.btn-lg {
  font-weight: 500;
  letter-spacing: 1px;
  margin: .4rem .8rem !important;
  transition: all .3s ease-in-out;
}

.mbr-section-btn {
  margin-left: -0.25rem;
  margin-right: -0.25rem;
  font-size: 0;
}

nav .mbr-section-btn {
  margin-left: 0rem;
  margin-right: 0rem;
}

.btn-form {
  border-radius: 0;
}

.btn-form:hover {
  cursor: pointer;
}

/*! Btn icon margin */
.btn .mbr-iconfont,
.btn.btn-sm .mbr-iconfont {
  cursor: pointer;
  margin-right: 0.5rem;
}

.btn.btn-md .mbr-iconfont,
.btn.btn-md .mbr-iconfont {
  margin-right: 0.8rem;
}

.mbr-regular {
  font-weight: 400;
}

.mbr-semibold {
  font-weight: 500;
}

.mbr-bold {
  font-weight: 700;
}

[type='submit'] {
  -webkit-appearance: none;
}

/*! Full-screen */
.mbr-fullscreen .mbr-overlay {
  min-height: 100vh;
}

.mbr-fullscreen {
  display: flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  align-items: center;
  -webkit-align-items: center;
  min-height: 100vh;
  padding-top: 3rem;
  padding-bottom: 3rem;
}

/*! Map */
.map {
  height: 25rem;
  position: relative;
}

.map iframe {
  width: 100%;
  height: 100%;
}

.mbr-overlay {
  background-color: #000;
  bottom: 0;
  left: 0;
  opacity: .5;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 0;
  pointer-events: none;
}

/* Form */
blockquote {
  font-style: italic;
  padding: 10px 0 10px 20px;
  font-size: 1.09rem;
  position: relative;
  border-width: 3px;
}

.form-control {
  background-color: var(--input-background);
  border: 1px solid var(--group-border);
  box-shadow: none;
  color: var(--input-color);
  line-height: 1rem;
  -webkit-appearance:caret;
  line-height: 2;
  /*line-height: 1.43;*/
  /*min-height: 3.5em;*/
  /*padding: 1.07em .5em;*/
}

.form-control, .form-control:focus {
  /*border: 1px solid var(--input-border-focus);*/
  border: none;
  border-radius: var(--global-input-border-radius);
}

.form-active .form-control:invalid {
  border-color: red;
  border: 1px solid red;
}

.form-control-label {
  position: relative;
  cursor: pointer;
  margin-bottom: .357em;
  padding: 0;
}

.alert {
  color: #ffffff;
  border-radius: 0;
  border: 0;
  font-size: .875rem;
  line-height: 1.5;
  margin-bottom: 1.875rem;
  padding: 1.25rem;
  position: relative;
}

.alert.alert-form::after {
  background-color: inherit;
  bottom: -7px;
  content: "";
  display: block;
  height: 14px;
  left: 50%;
  margin-left: -7px;
  position: absolute;
  transform: rotate(45deg);
  width: 14px;
  -webkit-transform: rotate(45deg);
}

.form-asterisk {
  font-family: initial;
  position: absolute;
  top: -2px;
  font-weight: normal;
}

/*! Scroll to top arrow */
#scrollToTop a i:before {
  content: '';
  position: absolute;
  height: 40%;
  top: 25%;
  background: #fff;
  width: 2px;
  left: calc(50% - 1px);
}

#scrollToTop a i:after {
  content: '';
  position: absolute;
  display: block;
  border-top: 2px solid #fff;
  border-right: 2px solid #fff;
  width: 40%;
  height: 40%;
  left: 30%;
  bottom: 30%;
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}

.mbr-arrow-up {
  bottom: 25px;
  right: 90px;
  position: fixed;
  text-align: right;
  z-index: 5000;
  color: #ffffff;
  font-size: 32px;
  transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
}

.mbr-arrow-up a {
  background: rgba(0, 0, 0, 0.2);
  border-radius: 3px;
  color: #fff;
  display: inline-block;
  height: 60px;
  width: 60px;
  outline-style: none !important;
  position: relative;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  text-align: center;
}

.mbr-arrow-up a:hover {
  background-color: rgba(0, 0, 0, 0.4);
}

.mbr-arrow-up a i {
  line-height: 60px;
}

.mbr-arrow-up-icon {
  display: block;
  color: #fff;
}

.mbr-arrow-up-icon::before {
  content: '\203a';
  display: inline-block;
  font-family: serif;
  font-size: 32px;
  line-height: 1;
  font-style: normal;
  position: relative;
  top: 6px;
  left: -4px;
  -webkit-transform: rotate(-90deg);
  transform: rotate(-90deg);
}

/*! Arrow Down */
.mbr-arrow {
  position: absolute;
  bottom: 45px;
  left: 50%;
  width: 60px;
  height: 60px;
  cursor: pointer;
  background-color: rgba(80, 80, 80, 0.5);
  border-radius: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}

.mbr-arrow > a {
  display: inline-block;
  text-decoration: none;
  outline-style: none;
  -webkit-animation: arrowdown 1.7s ease-in-out infinite;
  animation: arrowdown 1.7s ease-in-out infinite;
}

.mbr-arrow > a > i {
  position: absolute;
  top: -2px;
  left: 15px;
  font-size: 2rem;
}

@keyframes arrowdown {
  0% {
    transform: translateY(0px);
    -webkit-transform: translateY(0px);
  }
  50% {
    transform: translateY(-5px);
    -webkit-transform: translateY(-5px);
  }
  100% {
    transform: translateY(0px);
    -webkit-transform: translateY(0px);
  }
}

@-webkit-keyframes arrowdown {
  0% {
    transform: translateY(0px);
    -webkit-transform: translateY(0px);
  }
  50% {
    transform: translateY(-5px);
    -webkit-transform: translateY(-5px);
  }
  100% {
    transform: translateY(0px);
    -webkit-transform: translateY(0px);
  }
}

@media (max-width: 500px) {
  .mbr-arrow-up {
    left: 50%;
    right: auto;
    transform: translateX(-50%) rotate(180deg);
    -webkit-transform: translateX(-50%) rotate(180deg);
  }
}

/*Gradients animation*/
@keyframes gradient-animation {
  from {
    background-position: 0% 100%;
    -webkit-animation-timing-function: ease-in-out;
            animation-timing-function: ease-in-out;
  }
  to {
    background-position: 100% 0%;
    -webkit-animation-timing-function: ease-in-out;
            animation-timing-function: ease-in-out;
  }
}

@-webkit-keyframes gradient-animation {
  from {
    background-position: 0% 100%;
    -webkit-animation-timing-function: ease-in-out;
            animation-timing-function: ease-in-out;
  }
  to {
    background-position: 100% 0%;
    -webkit-animation-timing-function: ease-in-out;
            animation-timing-function: ease-in-out;
  }
}

.bg-gradient {
  background-size: 200% 200%;
  animation: gradient-animation 5s infinite alternate;
  -webkit-animation: gradient-animation 5s infinite alternate;
}

.menu .navbar-brand {
  display: -webkit-flex;
}

.menu .navbar-brand span {
  display: flex;
  display: -webkit-flex;
}

.menu .navbar-brand .navbar-caption-wrap {
  display: -webkit-flex;
}

.menu .navbar-brand .navbar-logo img {
  display: -webkit-flex;
}

@media (min-width: 768px) and (max-width: 1023px) {
  .menu .navbar-toggleable-sm .navbar-nav {
    display: -ms-flexbox;
  }
}

@media (max-width: 1023px) {
  .menu .navbar-collapse {
    max-height: 93.5vh;
  }
  .menu .navbar-collapse.show {
    overflow: auto;
  }
}

@media (min-width: 1024px) {
  .menu .navbar-nav.nav-dropdown {
    display: -webkit-flex;
  }
  .menu .navbar-toggleable-sm .navbar-collapse {
    display: -webkit-flex !important;
  }
  .menu .collapsed .navbar-collapse {
    max-height: 93.5vh;
  }
  .menu .collapsed .navbar-collapse.show {
    overflow: auto;
  }
}

@media (max-width: 767px) {
  .menu .navbar-collapse {
    max-height: 80vh;
  }
}

/* Others*/
.note-check a[data-value=Rubik] {
  font-style: normal;
}

.mbr-arrow a {
  color: #ffffff;
}

@media (max-width: 767px) {
  .mbr-arrow {
    display: none;
  }
}

.navbar {
  display: -webkit-flex;
  -webkit-flex-wrap: wrap;
  -webkit-align-items: center;
  -webkit-justify-content: space-between;
}

.navbar-collapse {
  -webkit-flex-basis: 100%;
  -webkit-flex-grow: 1;
  -webkit-align-items: center;
}

.nav-dropdown .link {
  padding: 0.667em 1.667em !important;
  margin: 0 !important;
}

.nav {
  display: -webkit-flex;
  -webkit-flex-wrap: wrap;
}

.row {
  display: -webkit-flex;
  -webkit-flex-wrap: wrap;
  -webkit-align-items: center;
}

.row-nice {
  display: flex;
  display: -webkit-flex;
  flex-wrap: wrap;
}
.row-nice > [class*='col-'] {
  display: flex;
  flex-direction: column;
}

.justify-content-center {
  -webkit-justify-content: center;
}

.align-items-start {
  -webkit-align-items: start;
}

.form-inline {
  display: -webkit-flex;
  -webkit-align-items: center;
}

.card-wrapper {
  -webkit-flex: 1;
}

.carousel-control {
  z-index: 10;
  display: -webkit-flex;
  -webkit-align-items: center;
  -webkit-justify-content: center;
}

.carousel-controls {
  display: -webkit-flex;
}

.media {
  display: -webkit-flex;
}

.form-group:focus {
  outline: none;
}

.jq-selectbox__select {
  padding: 1.07em 0.5em;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.jq-selectbox__dropdown {
  position: absolute;
  top: 100%;
  left: 0 !important;
  width: 100% !important;
}

.jq-selectbox__trigger-arrow {
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.jq-selectbox li {
  padding: 1.07em 0.5em;
}

input[type='range'] {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.modal-dialog,
.modal-content {
  /*height: 100%;*/
}

.modal-dialog .carousel-inner {
  height: calc(100vh - 1.75rem);
}

@media (max-width: 575px) {
  .modal-dialog .carousel-inner {
    height: calc(100vh - 1rem);
  }
}

.carousel-item {
  text-align: center;
}

.carousel-item img {
  margin: auto;
}

.navbar-toggler {
  align-self: flex-start;
  padding: 0.25rem 0.75rem;
  font-size: 1.25rem;
  line-height: 1;
  background: transparent;
  border: 1px solid transparent;
  border-radius: 0.25rem;
}

.navbar-toggler:focus,
.navbar-toggler:hover {
  text-decoration: none;
}

.navbar-toggler-icon {
  display: inline-block;
  width: 1.5em;
  height: 1.5em;
  vertical-align: middle;
  content: '';
  background: no-repeat center center;
  background-size: 100% 100%;
}

.navbar-toggler-left {
  position: absolute;
  left: 1rem;
}

.navbar-toggler-right {
  position: absolute;
  right: 1rem;
}

@media (max-width: 575px) {
  .navbar-toggleable .navbar-nav .dropdown-menu {
    position: static;
    float: none;
  }
  .navbar-toggleable > .container {
    padding-right: 0;
    padding-left: 0;
  }
}

@media (min-width: 576px) {
  .navbar-toggleable {
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
  }
  .navbar-toggleable .navbar-nav {
    flex-direction: row;
  }
  .navbar-toggleable .navbar-nav .nav-link {
    padding-right: 0.5rem;
    padding-left: 0.5rem;
  }
  .navbar-toggleable > .container {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
  }
  .navbar-toggleable .navbar-collapse {
    display: flex !important;
    width: 100%;
  }
  .navbar-toggleable .navbar-toggler {
    display: none;
  }
}

@media (max-width: 767px) {
  .navbar-toggleable-sm .navbar-nav .dropdown-menu {
    position: static;
    float: none;
  }
  .navbar-toggleable-sm > .container {
    padding-right: 0;
    padding-left: 0;
  }
}

@media (min-width: 768px) {
  .navbar-toggleable-sm {
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
  }
  .navbar-toggleable-sm .navbar-nav {
    flex-direction: row;
  }
  .navbar-toggleable-sm .navbar-nav .nav-link {
    padding-right: 0.5rem;
    padding-left: 0.5rem;
  }
  .navbar-toggleable-sm > .container {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
  }
  .navbar-toggleable-sm .navbar-collapse {
    display: none;
    width: 100%;
  }
  .navbar-toggleable-sm .navbar-toggler {
    display: none;
  }
}

@media (max-width: 1023px) {
  .navbar-toggleable-md .navbar-nav .dropdown-menu {
    position: static;
    float: none;
  }
  .navbar-toggleable-md > .container {
    padding-right: 0;
    padding-left: 0;
  }
}

@media (min-width: 1024px) {
  .navbar-toggleable-md {
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
  }
  .navbar-toggleable-md .navbar-nav {
    flex-direction: row;
  }
  .navbar-toggleable-md .navbar-nav .nav-link {
    padding-right: 0.5rem;
    padding-left: 0.5rem;
  }
  .navbar-toggleable-md > .container {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
  }
  .navbar-toggleable-md .navbar-collapse {
    display: flex !important;
    width: 100%;
  }
  .navbar-toggleable-md .navbar-toggler {
    display: none;
  }
}

@media (max-width: 1199px) {
  .navbar-toggleable-lg .navbar-nav .dropdown-menu {
    position: static;
    float: none;
  }
  .navbar-toggleable-lg > .container {
    padding-right: 0;
    padding-left: 0;
  }
}

@media (min-width: 1200px) {
  .navbar-toggleable-lg {
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
  }
  .navbar-toggleable-lg .navbar-nav {
    flex-direction: row;
  }
  .navbar-toggleable-lg .navbar-nav .nav-link {
    padding-right: 0.5rem;
    padding-left: 0.5rem;
  }
  .navbar-toggleable-lg > .container {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
  }
  .navbar-toggleable-lg .navbar-collapse {
    display: flex !important;
    width: 100%;
  }
  .navbar-toggleable-lg .navbar-toggler {
    display: none;
  }
}

.navbar-toggleable-xl {
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
}

.navbar-toggleable-xl .navbar-nav .dropdown-menu {
  position: static;
  float: none;
}

.navbar-toggleable-xl > .container {
  padding-right: 0;
  padding-left: 0;
}

.navbar-toggleable-xl .navbar-nav {
  flex-direction: row;
}

.navbar-toggleable-xl .navbar-nav .nav-link {
  padding-right: 0.5rem;
  padding-left: 0.5rem;
}

.navbar-toggleable-xl > .container {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
}

.navbar-toggleable-xl .navbar-collapse {
  display: flex !important;
  width: 100%;
}

.navbar-toggleable-xl .navbar-toggler {
  display: none;
}

.card-img {
  width: auto;
}

.menu .navbar.collapsed:not(.beta-menu) {
  flex-direction: column;
}

.carousel-item.active,
.carousel-item-next,
.carousel-item-prev {
  display: flex;
}

.note-air-layout .dropup .dropdown-menu,
.note-air-layout .navbar-fixed-bottom .dropdown .dropdown-menu {
  bottom: initial !important;
}



.dropup .dropdown-toggle::after {
  display: none;
}
.engine {
  position: absolute;
  text-indent: -2400px;
  text-align: center;
  padding: 0;
  top: 0;
  left: -2400px;
}


#sticky {
    border: 1px solid black;
    padding: 5px 15px;
    color: #fff;
    font-size: 32px;
}

#sticky.stick {
    /*position: fixed;*/
    top: 0px;
    z-index: 10000;
}



@media (max-width: 767px) {
  #sticky {
    position: fixed;
    top: 0px;
  }
}

/* RADIO BUTTON */

[type="radio"]:checked,
[type="radio"]:not(:checked) {
    position: absolute;
    left: -9999px;
}
[type="radio"]:checked + label,
[type="radio"]:not(:checked) + label
{
    position: relative;
    padding-left: 28px;
    cursor: pointer;
    line-height: 20px;
}
[type="radio"]:checked + label:before,
[type="radio"]:not(:checked) + label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 1.2em;
    height: 1.2em;
    border: 1px solid #ddd;
    border-radius: 100%;
    background: #fff;
}
[type="radio"]:checked + label:after,
[type="radio"]:not(:checked) + label:after {
    content: '';
    width: 15px;
    height: 15px;
    background: var(--group-border);
    position: absolute;
    top: 1px;
    left: 1px;
    border-radius: 100%;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}
[type="radio"]:not(:checked) + label:after {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
}
[type="radio"]:checked + label:after {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}

/* HOOK TABS */

/*
#loan-detail-tabs li:active >a{
  font-weight: 600;
}
*/

#loanDetailTabsContent {
  padding: 1em 0;
}

/* TREE BAR */

.tree-bar {
  border-bottom: 1px solid #efefef;
  margin-bottom: 2em;
  padding-left: 3em;
}

.tree-bar a:hover {
  color: blue !important;
}

@media (max-width: 767px) {
  .tree-bar {
    display: none;
  }
}

/* HOMEPAGE HEADER */
.homepage-header {
  padding: 15px;
  margin-bottom: 15px;
  vertical-align: top;
}

/* .row {
  margin-right: 0px !important;
  margin-left: 0px !important;
} */


/* LOADER */
.loader {
  border: 5px solid #f3f3f3;
  border-radius: 50%;
  border-top: 5px solid #3498db;
  width: 5px;
  height: 5px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.not-found-box {
  margin:1rem 0;
  padding:var(--global-button-padding);
  /*text-align:center;*/
  border-radius: var(--global-border-radius);
  background:white;
}


.bank-loantype-summary-box {
  border: none;
  border-radius: var(--global-border-radius);
  background-color: #fff;
  position: relative;
  margin: 0.4rem;
  -webkit-box-shadow: 0px 0px 22px -2px rgba(125,125,125,0.37);
  -moz-box-shadow: 0px 0px 22px -2px rgba(125,125,125,0.37);
  box-shadow: 0px 0px 22px -2px rgba(125,125,125,0.37);
  max-width: 22%;
}

@media (max-width: 767px) {
  .bank-loantype-summary-box {
    max-width: 100%;
  }
}

/* POSITION RELATIVE */
.position-relative {
  position: relative !important;
}

/* loan header div --> sponsorlu vs etiketi için */
.loan-header-div {
  position:absolute;
  top:0.4rem;
  left:0.4rem;
  border-radius: var(--global-border-radius);
  padding: 0.4rem;
  z-index: 1;
}

/*.loan-header-div .content {
  padding:0.5em 0 .5em 2em;
}*/

/* MENU DROPDOWN */

/* Dropdown Button */
.dropbtn {
  /*background-color: #efefef;*/
  /*color: gray;*/
  /*padding: 1.2rem;*/
  /* font-size: 16px;*/
  /*border: none;*/
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: blue;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {background-color: #efefef;}


/* BREADCRUMB */
ul.breadcrumb {
  padding: 0.8rem 2rem;
  margin:0 !important;
  list-style: none;
  background-color: white;
  /*border-bottom: 1px solid #efefef;*/
}
ul.breadcrumb li {
  display: inline;
  /*font-size: 18px;*/
}
ul.breadcrumb li+li:before {
  padding: 8px;
  color: var(--breadcrumb-icon-color);
  content: "\21D2";
}

#breadcrumb-home li+li:before {
  padding: 8px;
  color: var(--breadcrumb-icon-color);
  content: "\00B7";
}

ul.breadcrumb li a {
  color: var(--breadcrumb-a-text);
  text-decoration: none;
}
ul.breadcrumb li a:hover {
  color: var(--breadcrumb-a-text-hover);
  text-decoration: underline;
}

/* ANCHOR */
a.anchor {
    display: block;
    position: relative;
    top: -80px;
    visibility: hidden;
}

/* GO TO TOP BUTTON */
#top-btn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 99;
  cursor: pointer;
  color:var(--primary-text-color);
  opacity: 0.8
  /*padding: 15px;*/
}

#top-btn:hover {
  color: #555;
}

/* LOADING */
.loader-div {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100vw;
  height: 100vh;
  background-color: rgba(192, 192, 192, 0.5);
}

.lds-hourglass {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.lds-hourglass:after {
  content: " ";
  display: block;
  border-radius: 50%;
  width: 0;
  height: 0;
  margin: 8px;
  box-sizing: border-box;
  border: 32px solid #fff;
  border-color: #fff transparent #fff transparent;
  animation: lds-hourglass 1.2s infinite;
}
@keyframes lds-hourglass {
  0% {
    transform: rotate(0);
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }
  50% {
    transform: rotate(900deg);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  100% {
    transform: rotate(1800deg);
  }
}

.lds-hourglass-ajax:after {
  content: " ";
  display: block;
  border-radius: 50%;
  width: 0;
  height: 0;
  box-sizing: border-box;
  border: 20px solid var(--c8);
  border-color: var(--c8) transparent var(--c8) transparent;
  animation: lds-hourglass 1.2s infinite;
}

.lds-hourglass-button:after {
  content: " ";
  display: inline-block;
  border-radius: 50%;
  width: 0;
  height: 0;
  box-sizing: border-box;
  border: 8px solid var(--c8);
  border-color: var(--c8) transparent var(--c8) transparent;
  animation: lds-hourglass 1.2s infinite;
}

@keyframes lds-hourglass {
  0% {
    transform: rotate(0);
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }
  50% {
    transform: rotate(900deg);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  100% {
    transform: rotate(1800deg);
  }
}

/* MBR-ADDITIONAL.CSS */

.display-1 {
  font-size: 4rem;
  font-display: swap;
}
.display-1 > .mbr-iconfont {
  font-size: 6.8rem;
}
.main-title {
  font-size: 3rem;
  font-display: swap;
  font-weight: lighter;
}
.display-2 {
  font-size: 3rem;
  font-display: swap;
}
.display-2 > .mbr-iconfont {
  font-size: 4.8rem;
}
.display-3 {
  font-size: 2.4rem;
  font-display: swap;
}
.display-3 > .mbr-iconfont {
  font-size: 2.8rem;
}
.display-4 {
  font-size: 1.5rem;
  font-display: swap;
}
.display-4 > .mbr-iconfont {
  font-size: 2.4rem;
}
.display-5 {
  font-size: 1.3rem;
  font-display: swap;
}
.display-5 > .mbr-iconfont {
  font-size: 1.9rem;
}
.display-6 {
  font-size: 1.1rem;
  font-display: swap;
}
.display-6 > .mbr-iconfont {
  font-size: 1.7rem;
}
.display-7 {
  font-size: 0.9rem;
  font-display: swap;
}
.display-7 > .mbr-iconfont {
  font-size: 1.4rem;
}
.display-8 {
  font-size: 0.7rem;
  font-display: swap;
}
.display-8 > .mbr-iconfont {
  font-size: 1.1rem;
}
.display-9 {
  font-size: 0.5rem;
  font-display: swap;
}
.display-9 > .mbr-iconfont {
  font-size: 0.8rem;
}
/* ---- Fluid typography for mobile devices ---- */
/* 1.4 - font scale ratio ( bootstrap == 1.42857 ) */
/* 100vw - current viewport width */
/* (48 - 20)  48 == 48rem == 768px, 20 == 20rem == 320px(minimal supported viewport) */
/* 0.65 - min scale variable, may vary */
@media (max-width: 768px) {
  .display-1 {
    font-size: 3.4rem;
    font-size: calc( 2.1374999999999997rem + (4.25 - 2.1374999999999997) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (2.1374999999999997rem + (4.25 - 2.1374999999999997) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-2 {
    font-size: 2.4rem;
    font-size: calc( 1.7rem + (3 - 1.7) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.7rem + (3 - 1.7) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-4 {
    font-size: 0.8rem;
    font-size: calc( 1rem + (1 - 1) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1rem + (1 - 1) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-5 {
    font-size: 1.2rem;
    font-size: calc( 1.175rem + (1.5 - 1.175) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.175rem + (1.5 - 1.175) * ((100vw - 20rem) / (48 - 20))));
  }
}
/* Buttons */
.btn {
  padding: 1rem 3rem;
  border-radius: 3px;
}
.btn-sm {
  padding: 0.6rem 1.5rem;
  border-radius: 3px;
}
.btn-md {
  padding: 1rem 3rem;
  border-radius: 3px;
}
.btn-lg {
  padding: 1.2rem 3.2rem;
  border-radius: 3px;
}
.form-control {
  font-display: swap;
}
.cid-s2gxzRnY70 {
  padding-top: 30px;
  padding-bottom: 30px;
  /*background-color: #2c3952;*/
}
@media (max-width: 767px) {
  .cid-s2gxzRnY70 .content {
    text-align: center;
  }
  .cid-s2gxzRnY70 .content > div:not(:last-child) {
    margin-bottom: 2rem;
  }
}
@media (max-width: 767px) {
  .cid-s2gxzRnY70 .media-wrap {
    margin-bottom: 1rem;
  }
}
.cid-s2gxzRnY70 .media-wrap .mbr-iconfont-logo {
  font-size: 7.5rem;
  color: #f36;
}
.cid-s2gxzRnY70 .media-wrap img {
  height: 6rem;
}
@media (max-width: 767px) {
  .cid-s2gxzRnY70 .footer-lower .copyright {
    margin-bottom: 1rem;
    text-align: center;
  }
}
.cid-s2gxzRnY70 .footer-lower hr {
  margin: 1rem 0;
  border-color: #fff;
  opacity: .05;
}
.cid-s2gxzRnY70 .footer-lower .social-list {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
  display: flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-justify-content: flex-end;
  justify-content: flex-end;
}
.cid-s2gxzRnY70 .footer-lower .social-list .mbr-iconfont-social {
  font-size: 1.3rem;
  color: #fff;
}
.cid-s2gxzRnY70 .footer-lower .social-list .soc-item {
  margin: 0 .5rem;
}
.cid-s2gxzRnY70 .footer-lower .social-list a {
  margin: 0;
  opacity: .5;
  -webkit-transition: .2s linear;
  transition: .2s linear;
}
.cid-s2gxzRnY70 .footer-lower .social-list a:hover {
  opacity: 1;
}
@media (max-width: 767px) {
  .cid-s2gxzRnY70 .footer-lower .social-list {
    -webkit-justify-content: center;
    justify-content: center;
  }
}
.cid-s3ZoaRMIHq {
  margin-bottom: 3rem;
}
.cid-s3ZoaRMIHq .title {
  padding-bottom: 2.5rem;
}
.cid-s3ZoaRMIHq h4 {
  width: 85%;
  font-weight: 500;
  margin-bottom: 0;
}
.cid-s3ZoaRMIHq .bottom-line p {
  color: #767676;
}
.cid-s3ZoaRMIHq .card {
  background-color: transparent;
}
.cid-s3ZoaRMIHq .card-wrapper {
  /*background-color: #ffffff;*/
  /*background-color: transparent;*/
  position: relative;
  justify-content: unset;
}
.cid-s3ZoaRMIHq .card-wrapper .card-box {
  /*background-color: var(--c4-tint-triple);*/
  padding: 1rem;
  width: 100%;
}
.cid-s3ZoaRMIHq .card-wrapper .card-box .wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.cid-s3ZoaRMIHq .card-wrapper .card-box .wrapper .top-line {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.cid-s3ZoaRMIHq .card-wrapper .card-box .wrapper .bottom-line {
  width: 85%;
}
@media (max-width: 767px) {
  .cid-s3ZoaRMIHq .card-wrapper .card-box .wrapper .bottom-line {
    width: 100%;
  }
  .cid-s3ZoaRMIHq .card-wrapper .card-box .wrapper .bottom-line p {
    text-align: center;
    margin: 1rem 0 0 0;
  }
}

.cid-s3nMbhVkww .mbr-section-subtitle {
  color: #767676;
}
.cid-s3nMbhVkww .container-table {
  margin: 0 auto;
}
.cid-s3nMbhVkww .scroll {
  padding: 0;
}

.cid-s3nMbhVkww table {
  background-color: white;
  width: 100% !important;
  border: 1px solid #cccccc;
  margin-bottom: 0;
  border-spacing: 0;
  border-collapse: collapse;
  /*overflow: hidden;*/
}

.cid-s3nMbhVkww table td, th {
   padding: 10px;
   position: relative;
   text-align: center; 
   vertical-align: middle;
}

.cid-s3nMbhVkww table tr:hover{
   background-color: #efefef;;
}


.cid-s5sHqNibdR {
  position: relative;
}
.cid-s5sHqNibdR p {
  color: #767676;
}
.cid-s5sHqNibdR .card {
  border-radius: 0px;
  margin-bottom: -1px;
}
.cid-s5sHqNibdR .card .card-header {
  border-radius: 0px;
  border: 0px;
  padding: 0;
}
.cid-s5sHqNibdR .card .card-header a.collapsed h4 i::before {
  color:var(--c4);
  content: "\f061";
}
.cid-s5sHqNibdR .card .card-header a i {
}

.cid-s5sHqNibdR .card .card-header a.panel-title {
  margin-bottom: 0;
  margin-top: -1px;
  display: block;
  text-decoration: none !important;
  line-height: normal;
}
.cid-s5sHqNibdR .card .card-header a.panel-title:focus {
  text-decoration: none !important;
}
.cid-s5sHqNibdR .card .card-header a.panel-title h4 {
  border: 1px solid #dfdfdf;
  padding: 1.3rem 2rem;
  margin-bottom: 0;
}
.cid-s5sHqNibdR .card .card-header a.panel-title h4 .sign {
  padding-right: 1rem;
}

/* FORMS.CSS */



.form-field {
  display: block;
  width: 100%;
  padding: 0px 0px 0px 1rem;
  border-radius: var(--global-input-border-radius);
  -webkit-appearance: none;
  color: var(--input-color);
  /*border: 1px solid var(--input-border);*/
  border:none;
  background: var(--input-background);
  -webkit-transition: border .3s ease;
  transition: border .3s ease;
}

.form-field::placeholder {
  color: var(--input-placeholder);
  font-style: italic;
}

.form-field:focus {
  outline: none;
  border-color: var(--input-border-focus);
  color: var(--c4-shade);
  background-color: #eee;
}

.form-group-loan-request {
  /*font-family: 'Montserrat', sans-serif;*/
  position: relative;
  display: -webkit-box;
  display: flex;
  width: 100%;
  /*margin-bottom: 0.4rem;*/
}

.form-control {
  font-size: inherit;
}

.form-group>label{
  position:absolute;
  top:10px;
  left:40px;
  background-color:white;
}
.form-group-loan-request > span {
  line-height: 1.6;
  min-width: 3rem;
}
.form-group-loan-request > span,
.form-group-loan-request .form-field {
  white-space: nowrap;
  display: block;
}
.form-group-loan-request > span:not(:first-child):not(:last-child),
.form-group-loan-request .form-field:not(:first-child):not(:last-child) {
  border-radius: 0;
}
.form-group-loan-request > span:first-child,
.form-group-loan-request .form-field:first-child {
  border-radius: var(--global-input-border-radius) 0 0 var(--global-input-border-radius);
}
.form-group-loan-request > span:last-child,
.form-group-loan-request {
  border-radius: 0 var(--global-input-border-radius) var(--global-input-border-radius) 0;
}
.form-group-loan-request > span:not(:first-child),
.form-group-loan-request .form-field:not(:first-child) {
  margin-left: -1px;
}
.form-group-loan-request .form-field {
  position: relative;
  z-index: 1;
  -webkit-box-flex: 1;
          flex: 1 1 auto;
  width: 1%;
  margin-top: 0;
  margin-bottom: 0;
}
.form-group-loan-request > span {
  /*text-align: center;*/
  /*margin: auto;*/
  /*padding: 0.5rem;*/
  padding: 0.5rem;
  color: var(--group-color);
  background: var(--group-background);
  /*border: 1px solid var(--group-border);*/
  -webkit-transition: background .3s ease, border .3s ease, color .3s ease;
  transition: background .3s ease, border .3s ease, color .3s ease;
}
.form-group-loan-request:focus-within > span {
  color: var(--group-color-focus);
  background: var(--group-background-focus);
  border-color: var(--group-border-focus);
}

.general-button {
  background-color: var(--submit-button-bg);
  border-radius:var(--global-button-border-radius);
  border:none;
  cursor:pointer;
  color:var(--submit-button-text);
  padding: var(--apply-button-padding);
  text-decoration:none;
  /*width: 100%;*/
}

.general-button:hover {
  background-color: var(--submit-button-bg-hover);
  color:var(--submit-button-text-hover);
}
.general-button:active {
  position:relative;
  top:1px;
}

.general-button:disabled, .general-button:disabled:hover,
.general-button[disabled]{
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
}


.bg-gray {
  background-color: #efefef !important;
  color: black;
}
.bg-gray:hover {
  background-color: #ddd !important;
  color: black;
}
.bg-gray:active {
  background-color: #CACBD3 !important;
  color: black;
}

.bg-green {
  background-color: var(--c7) !important;
  color: white;
}

.bg-green:hover {
  background-color: var(--c7-tint) !important;
}

.bg-green:active {
  background-color: var(--c7-shade) !important;
}

.bg-primary-tinted {
  background-color: #e8f3ff !important;
  color: white;
}

.bg-secondary-tinted {
  background-color: #d1ffd1 !important;
  color: white;
}

.rounded-corners {
  border-radius: 1rem;
}

.cid-s3nMbhVkww .table-bg-green {
  background-color: var(--c7) !important;
  color: white;
}
.cid-s3nMbhVkww .table-bg-gray {
  background-color: var(--c6-tint) !important;
  color: white;
}
.cid-s3nMbhVkww .table-bg-red {
  background-color: var(--c9) !important;
  color: white;
}

#interest_breakdown td, th{
  border: none;
}

/*@media screen and (max-width: 768px) {
  .apply-button {
    margin-top: 10px;
  }
}*/

.apply-button {
  background-color: var(--apply-button-bg);
  color: var(--apply-button-text);
}
.apply-button:hover {
  background-color: var(--apply-button-bg-hover) !important;
  color: var(--apply-button-text-hover);
}

/* LOAN_DETAIL_PAGE_GRID.CSS */
.loan-detail-upper-parent {
display: grid;
grid-template-columns: repeat(3, 1fr);
grid-template-rows: 1fr;
grid-column-gap: 0px;
grid-row-gap: 0px;
-webkit-align-items: center;
-webkit-justify-content: center;
margin: 1em 0em;
padding-bottom: 1em;
}

.loan-detail-upper-div1 { grid-area: 1 / 1 / 2 / 2;}
.loan-detail-upper-div2 { grid-area: 1 / 2 / 2 / 3;}
.loan-detail-upper-div3 { grid-area: 1 / 3 / 2 / 4;}

.loan-detail-lower-parent {
display: grid;
grid-template-columns: repeat(2, 1fr);
grid-template-rows: 1fr;
grid-column-gap: 0px;
grid-row-gap: 0px;
margin: 1em 0em;
}

.loan-detail-lower-div1 { grid-area: 1 / 1 / 2 / 2; }
.loan-detail-lower-div2 { grid-area: 1 / 2 / 2 / 3; }

.loan-payment-breakdown-parent {
  
display: grid;
grid-template-columns: repeat(2, 1fr);
grid-template-rows: repeat(5, 1fr);
grid-column-gap: 10em 1em;
grid-row-gap: 1em 1em;
}

.loan-payment-breakdown-div1 { grid-area: 1 / 1 / 2 / 3; padding-top: 1em;}
.loan-payment-breakdown-div2 { grid-area: 2 / 1 / 3 / 2; }
.loan-payment-breakdown-div3 { grid-area: 2 / 2 / 3 / 3; }
.loan-payment-breakdown-div4 { grid-area: 3 / 1 / 4 / 2; }
.loan-payment-breakdown-div5 { grid-area: 3 / 2 / 4 / 3; }
.loan-payment-breakdown-div6 { grid-area: 4 / 1 / 5 / 2; }
.loan-payment-breakdown-div7 { grid-area: 4 / 2 / 5 / 3; }
.loan-payment-breakdown-div8 { grid-area: 5 / 1 / 6 / 2; padding-top: 0.5em;}
.loan-payment-breakdown-div9 { grid-area: 5 / 2 / 6 / 3; padding-top: 0.5em;}

/* TOOLTIP.CSS */
.someTooltip {
  display: none;
  position: absolute;
  /*border: 1px solid black;*/
  border-radius: 6px;
  background-color: white;
  overflow: visible !important;
  z-index: 99;
  -webkit-box-shadow: 0px 0px 27px -6px rgba(60,60,60,.74);
  -moz-box-shadow: 0px 0px 27px -6px rgba(60,60,60,.74);
  box-shadow: 0px 0px 27px -6px rgba(60,60,60,.74);
}

.hasTooltip:hover .someTooltip,
.someTooltip:hover {
  display: block;
}

.bg-primary {
  background-color: var(--primary-color)  !important;
}
.bg-primary:hover {
  background-color: var(--primary-color-hover)  !important;
}
.bg-secondary {
  background-color: var(--secondary-color) !important;
}
.bg-secondary:hover:enabled {
  background-color: var(--secondary-color-hover) !important;
}

.tooltip-bg-primary {
  background-color: var(--tooltip-primary)  !important;
}
.tooltip-bg-secondary {
  background-color: var(--tooltip-secondary) !important;
}

/* FEATURED_LOANS_CONTAINER.CSS */

#ft-container {
  display: flex;
  justify-content: space-between;
}

#ft-container > div {
  border:1px solid #ddd;
  border-radius: 12px;
  padding:10px;
}

.space-between {
  display: flex;
  justify-content: space-between;
}

/* FAVORITE_ICON_CSS */

.like-div {
  margin:0 auto;
  position:absolute; top:0; right:1rem;
  z-index: 2;
}

.like-icon {
  cursor:pointer;
  /*padding:10px 12px 8px;*/
  /*background:#fff;*/
  /*border-radius:50%;*/
  /*display:inline-block;*/
  /*margin:1em 1em;*/
  align-items: center;
  color:var(--like-icon-color);
  transition:.2s;
}

.like-icon:hover {
  color:var(--like-icon-press);
}

.like-icon::before {
  font-family:fontawesome;
  content:var(--like-icon-icon);
  font-style:normal;
}

.liked-text {
  /*visibility: hidden;*/
  transition:.6s;
  z-index:-2;
  /*font-size:2px;*/
}

.like-icon-press {
  animation: size .4s;
  color:var(--like-icon-press);
}

.like-icon-press::before {
  font-family:fontawesome;
  content:var(--like-icon-icon-pressed);
  font-style:normal;
}

/*.liked-text-press {
  visibility:visible;
  color:#e23b3b;
  animation: fade 1s;
}*/

/*@keyframes fade {
  0% {color:#transparent;}
  50% {color:#e23b3b;}
  100% {color:#transparent;}
}*/

/*@keyframes size {
  0% {padding:10px 12px 8px;}
  50% {padding:14px 16px 12px;  
    margin-top:-4px;}
  100% {padding:10px 12px 8px;}
}*/

/* CLICK_ICON.CSS */

.click-icon {
  font-family:fontawesome;
  content:'\f004';
  font-style:normal;
}

/* INTEREST_CHANGE_WIDGET.CSS */
.interest-change-div {
  margin:0 auto;
  position:absolute; bottom:0; left:1rem;
  z-index: 2;
}

/* LOAN_SAVE_DATE_WIDGET.CSS */
.loan-save-date-div {
  margin:0 auto;
  position:absolute; top:0.4rem; right:1rem;
  z-index: 2;
}

/* INFO_BOX.CSS */
.info-box {
  border:1px dashed var(--global-border-color);
  border-radius: var(--global-border-radius);
  padding: var(--global-button-padding);
}

/* CART_STYLE.CSS */

body.overflow-hidden {
  /* prevent 2 vertical scrollbars on ie and firefox when the cart is visible */
  overflow: hidden;
}

/* -------------------------------- 

Modules - reusable parts of our design

-------------------------------- */
.cd-container {
  /* this class is used to horizontally align the gallery of items */
  position: relative;
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  z-index: 2;
}
.cd-container::after {
  /* clearfix */
  content: '';
  display: table;
  clear: both;
}

.cd-img-replace {
  /* replace text with a background-image */
  display: inline-block;
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
}

/* -------------------------------- 

xheader 

-------------------------------- */
header {
  position: fixed;
  top: 0;
  left: 0;
  height: 50px;
  width: 100%;
  background: var(--menu-background-color);
  text-align: center;
  /*border-bottom: 1px solid #efefef;*/
  box-shadow: 0 0.125rem 0.25rem 0 rgb(0 0 0 / 10%);
  z-index: 4;
}
@media only screen and (min-width: 1200px) {
  header {
    height: 50px;
  }
}

#logo {
    /*padding: 0.4rem;*/
    /*position: absolute;*/
    /*min-width: 200px;*/
    /* logo left margin on Dekstop */
    /*left: 2.4em;*/
    /*top: 0;*/
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  }


#cd-hamburger-menu, #cd-cart-trigger {
  position: absolute;
  top: 10px;
  /*height: 100%;*/
}
#cd-hamburger-menu a, #cd-cart-trigger a {
  width: 60px;
  height: 100%;
}

#cd-hamburger-menu {
  left: 0;
}
#cd-hamburger-menu a {
  background: #26292f url("./img/cd-hamburger-menu.svg") no-repeat center center;
}
@media only screen and (min-width: 1200px) {
  #cd-hamburger-menu {
    display: none;
  }
}

#cd-cart-trigger {
  right: 0;
}
/*#cd-cart-trigger a {
  background: #26292f url("./img/cd-cart.svg") no-repeat center center;
}*/
@media only screen and (min-width: 1200px) {
  #cd-cart-trigger {
    /* cart right margin on desktop */
    right: 0;
  }
  #cd-cart-trigger a {
    position: relative;
    width: 100px;
    border-left: none;
    /*background-color: #efefef;*/
  }
}

#cd-cart {
  position: fixed;
  top: 50px;
  height: 100%;
  width: 260px;
  /* header height */
  /*padding-top: 30px;*/
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  z-index: 3;
}
@media only screen and (max-width: 768px) {
  #cd-cart {
    width: 90%;
  }
}

@media only screen and (min-width: 768px) {
  #cd-cart {
    width: 75%;
  }
}

@media only screen and (min-width: 1200px) {
   #cd-cart {
    width: 40%;
    /* header height has changed */
    /* padding-top: 50px; */
  }
}

@media only screen and (min-width: 1550px) {
   #cd-cart {
    width: 30%;
  }
}


#main-nav {
  left: 10%;
  /*background: #FFF;*/
  -webkit-transition: left 0.3s;
  -moz-transition: left 0.3s;
  transition: left 0.3s;
}
#main-nav.speed-in {
  /*left: 0;*/
}
#main-nav ul a {
  /*display: block;*/
  /*height: 20px;*/
  /*line-height: 60px;*/
  /*padding: 0 1em;*/
  /*border-bottom: 1px solid #e0e6ef;*/
}
#main-nav ul .current {
  /*box-shadow: inset 3px 0 #435779;*/
}


#main-nav {
  /* reset main nav style */
  position: fixed; 
  height: auto;
  width: auto;
  left: auto;
  /*right: 6em;*/
  padding-top: 0;
  top: 0;
  background: transparent;
  box-shadow: none;
  /* header height */
  /*line-height: 60px;*/
  z-index:5;
}
#main-nav li {
  display: inline-block;
  /*margin-left: 0.6em;*/
}
#main-nav ul a {
  display: inline-block;
  height: auto;
  line-height: 1;
  margin: 0.6em 0;
  padding: 0 0.6em;
  /*background-color:var(--menu-button-background-color);*/
  border-bottom: none;
  transition: .3s ease-in;
  border-radius: 0.15em;
  color: var(--menu-text-color);
}

#main-nav ul a.mbr-green {
  color: var(--c7);
}

#main-nav ul a.mbr-green:hover {
  color: var(--c7-shade);
}

#main-nav ul a.current {
  box-shadow: none;
  background: #435779;
  color: #FFF;
}
#main-nav ul a:hover {
  /*background: var(--c5-tint);*/
  color: var(--menu-text-color-hover);
}

.dropdown:hover .dropdown-menu {
  display: block;
}

.no-js #main-nav {
  position: fixed;
}

#cd-cart {
  right: -100%;
  background: #FFF;
  -webkit-transition: right 0.3s;
  -moz-transition: right 0.3s;
  transition: right 0.3s;
}
#cd-cart.speed-in {
  right: 0;
}
#cd-cart > * {
  padding: 0 1em;
}
/*#cd-cart h2 {
  font-size: 14px;
  font-size: 0.875rem;
  font-weight: bold;
  text-transform: uppercase;
  margin: 1em 0;
}*/
#cd-cart .cd-cart-items {
  padding: 0;
}
#cd-cart .cd-cart-items li {
  position: relative;
  border-bottom: 1px solid var(--c5-tint-double);
}
#cd-cart .cd-cart-items li::marker{
  content: "";
}
#cd-cart .cd-cart-items li:last-child {
}
#cd-cart .cd-qty, #cd-cart .cd-price {
  color: #a5aebc;
}
#cd-cart .cd-price {
  margin-top: .4em;
}
#cd-cart .cd-item-remove {
  position: absolute;
  right: 1em;
  top: 50%;
  bottom: auto;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background: url("./img/cd-remove-item.svg") no-repeat center center;
}
.no-touch #cd-cart .cd-item-remove:hover {
  background-color: #e0e6ef;
}
#cd-cart .cd-cart-total {
  padding-top: 1em;
  padding-bottom: 1em;
}
#cd-cart .cd-cart-total span {
  float: right;
}
#cd-cart .cd-cart-total::after {
  /* clearfix */
  content: '';
  display: table;
  clear: both;
}
#cd-cart .checkout-btn {
  display: block;
  width: 100%;
  height: 60px;
  line-height: 60px;
  background: #7dcf85;
  color: #FFF;
  text-align: center;
}
.no-touch #cd-cart .checkout-btn:hover {
  background: #a2dda8;
}
#cd-cart .cd-go-to-cart {
  text-align: center;
  margin: 1em 0;
}
#cd-cart .cd-go-to-cart a {
  text-decoration: underline;
}
@media only screen and (min-width: 1200px) {
  #cd-cart > * {
    padding: 0 2em;
  }
  #cd-cart .cd-cart-items li {
    padding: 1em 2em;
  }
  #cd-cart .cd-item-remove {
    right: 2em;
  }
}

/* -------------------------------- 

xgallery 

-------------------------------- */
/*main {
  position: relative;
  min-height: 100%;
  background: #eeeff7;
  padding-top: 70px;
  z-index: 1;
}
@media only screen and (min-width: 768px) {
  main {
    padding-top: 90px;
  }
}
@media only screen and (min-width: 1200px) {
  main {
    padding-top: 120px;
  }
}

#cd-gallery-items li {
  margin-bottom: 1.5em;
}
#cd-gallery-items li img {
  width: 100%;
  display: block;
  border-radius: 0.25em;
}
@media only screen and (min-width: 768px) {
  #cd-gallery-items li {
    width: 48%;
    float: left;
    margin-bottom: 2em;
    margin-right: 4%;
  }
  #cd-gallery-items li:nth-child(2n) {
    margin-right: 0;
  }
}
@media only screen and (min-width: 1200px) {
  #cd-gallery-items li {
    width: 31%;
    float: left;
    margin-bottom: 2.5em;
    margin-right: 3.5%;
  }
  #cd-gallery-items li:nth-child(2n) {
    margin-right: 3.5%;
  }
  #cd-gallery-items li:nth-child(3n) {
    margin-right: 0;
  }
}*/

#cd-shadow-layer {
  position: fixed;
  min-height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background: var(--cart-shadow-layer-background-color);
  cursor: pointer;
  z-index: 2;
  display: none;
}
#cd-shadow-layer.is-visible {
  display: block;
  -webkit-animation: cd-fade-in 0.3s;
  -moz-animation: cd-fade-in 0.3s;
  animation: cd-fade-in 0.3s;
}

/* -------------------------------- 

xkeyframes 

-------------------------------- */
@-webkit-keyframes cd-fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
@-moz-keyframes cd-fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
@keyframes cd-fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}


#lblCartCount {
    font-size: 12px;
    background: var(--lblcartcount-background);
    color: #fff;
    padding: 5px 5px;
    vertical-align: top;
    margin-left: -10px;
    margin-top: -5px;
}
.badge {
  /*padding-left: 9px;
  padding-right: 9px;*/
  -webkit-border-radius: 9px;
  -moz-border-radius: 9px;
  border-radius: 9px;
}

.label-warning[href],
.badge-warning[href] {
  background-color: #c67605;
}

.loantype-pages-header {
  background-color: var(--loantype-pages-header-bg);
  border-radius: var(--global-border-radius);
  color:white;
}

.icon-color {
  color:var(--icon-color);
}

.title-color-primary {
  color:var(--title-color-primary);
}

.title-color-secondary {
  color:var(--title-color-secondary);
}

.primary-text-color {
  color:var(--primary-text-color);
}


/* Arrange Visibility */
@media only screen and (max-width: 1200px) {
  /*#loanmatrix-tables-section {
    display: none;
  }*/
  /*#featured-loans-section {
    display: none;
  }*/
  /*#loansummary-section {
    display: none;
  }*/
  .divider-div {
    height: 1rem;
  }

  .hasTooltip:hover .someTooltip,
  .someTooltip:hover {
    display: none;
  }

  .cid-s3nMbhVkww .scroll {
    overflow-x: auto;
    padding: 0;
  }
  .mobile-hidden {
    display: none !important;
  }
}

.mobile-show {
  display: none !important;
}
@media only screen and (max-width: 1200px) {
  .mobile-show {
    display: inline-block !important;
  }
}

.always-scroll {
  overflow-x: auto;
  padding: 0;
}

.pad-mobile {
  padding-bottom: 0.4rem;
}
#cart-icon {
  color:var(--cart-icon-color);
}

#cart-icon:hover {
  color:var(--cart-icon-color-hover);
}

#logo-text {
  margin-left:0.4rem;
  color:var(--menu-logo-text-color-digi);
}

#logo-text:hover {
  color:var(--menu-text-color-hover);
}

.divider-div {
  height: 3rem;
}

.min-max-interest-section-left {
  /*padding:0.4rem;*/
  /*margin:1rem 1rem 0 0;*/
  margin: 1rem;
  margin-right: 0;
  margin-bottom: 0;
  border-radius: var(--global-border-radius);
  /*border:1px dotted var(--c6-tint);*/
  /*border: 1px dashed #d9534f;*/
}

.min-max-interest-section-middle {
  /*padding:0.4rem;*/
  /*margin:1rem 1rem 0 0;*/
  margin: 1rem;
  margin-bottom: 0;
  border-radius: var(--global-border-radius);
  /*border:1px dotted var(--c6-tint);*/
  /*border: 1px dashed #f0ad4e;*/
}
.min-max-interest-section-right {
  /*padding:0.4rem;*/
  /*margin:1rem 0rem 0 0;*/
  margin: 1rem;
  margin-left: 0;
  margin-bottom: 0;
  border-radius: var(--global-border-radius);
  /*border:1px dotted var(--c6-tint);*/
  /*border: 1px dashed #5cb85c;*/
}

@media only screen and (max-width: 1200px) {
  .min-max-interest-section-left {
    margin-right: 1rem;
  }
  .min-max-interest-section-right {
    margin-left: 1rem;
  }
}

.bank-list-item {
  background-color: white;
  margin: 0 0.4rem 0.4rem 0;
  border-radius: var(--global-border-radius);
  position: relative;
} 
.bank-list-item:hover{
  /*background-color: gray;*/
  box-shadow: 0px 8px 9px -2px rgb(125 125 125 / 25%);
  -moz-box-shadow:  0px 8px 9px -2px rgb(125 125 125 / 25%);
  -webkit-box-shadow: 0px 8px 9px -2px rgb(125 125 125 / 25%);
}

.bank-list-item:active{
  /*background-color: gray;*/
  margin-top: 1px;
  margin-bottom: -1px;
}

.tools-title-item {
  height: 100%;
  background-color: white;
  padding: 2rem;
  border-radius: var(--global-border-radius);
  position: relative;
  box-shadow: 0px 8px 9px -2px rgb(125 125 125 / 15%);
  -moz-box-shadow:  0px 8px 9px -2px rgb(125 125 125 / 15%);
  -webkit-box-shadow: 0px 8px 9px -2px rgb(125 125 125 / 15%);
  transition: .25s;
} 
.tools-title-item:hover{
  /*background-color: gray;*/
  margin-top: 1px;
  margin-bottom: -1px;
  box-shadow: 0px 8px 9px -2px rgb(125 125 125 / 25%);
  -moz-box-shadow:  0px 8px 9px -2px rgb(125 125 125 / 25%);
  -webkit-box-shadow: 0px 8px 9px -2px rgb(125 125 125 / 25%);
}

.tools-title-item:active{
  /*background-color: gray;*/
  margin-top: 5px;
  margin-bottom: -5px;
}

.lock:hover .icon-unlock,
.lock .icon-lock {
    display: none;
}
.lock:hover .icon-lock {
    display: inline;
}

.text-primary {
  color: var(--primary-text-color) !important;
}

/* TOASTR.CSS */
.toast-title {
  /* font-weight: 700 */
  line-height: 1.15;
}

.toast-message {
  -ms-word-wrap: break-word;
  word-wrap: break-word
}

.toast-message a,
.toast-message label {
  color: var(--a-color);
}

.toast-message a:hover {
  color: var(--a-color-hover);
  text-decoration: none
}

.toast-close-button {
  position: relative;
  right: -.3em;
  top: -.3em;
  float: right;
  font-size: 20px;
  font-weight: 700;
  color: #FFF;
  -webkit-text-shadow: 0 1px 0 #fff;
  text-shadow: 0 1px 0 #fff;
  opacity: .6;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
  filter: alpha(opacity=80);
  line-height: 1
}

.toast-close-button:focus,
.toast-close-button:hover {
  color: #000;
  text-decoration: none;
  cursor: pointer;
  opacity: .4;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=40);
  filter: alpha(opacity=40)
}

.rtl .toast-close-button {
  left: -.3em;
  float: left;
  right: .3em
}

button.toast-close-button {
  padding: 0;
  cursor: pointer;
  background: 0 0;
  border: 0;
  -webkit-appearance: none
}

.toast-top-center {
  top: 0;
  right: 0;
  width: 100%
}

.toast-bottom-center {
  bottom: 0;
  right: 0;
  width: 100%
}

.toast-top-full-width {
  top: 0;
  right: 0;
  width: 100%
}

.toast-bottom-full-width {
  bottom: 0;
  right: 0;
  width: 100%
}

.toast-top-left {
  top: 12px;
  left: 12px
}

.toast-top-right {
  top: 12px;
  right: 12px
}

.toast-bottom-right {
  right: 12px;
  bottom: 12px
}

.toast-bottom-left {
  bottom: 12px;
  left: 12px
}

#toast-container {
  position: fixed;
  z-index: 999999;
  pointer-events: none;
  align-content: flex-start;
}

#toast-container * {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box
}

#toast-container>div {
  position: relative;
  pointer-events: auto;
  overflow: hidden;
  margin: 0 0 6px;
  padding: 15px 15px 15px 50px;
  width: 300px;
  -moz-border-radius: var(--global-border-radius);
  -webkit-border-radius: var(--global-border-radius);
  border-radius: var(--global-border-radius);
  background-position: 15px center;
  background-repeat: no-repeat;
  -moz-box-shadow: 0 0 12px #999;
  -webkit-box-shadow: 0 0 12px #999;
  box-shadow: 0 0 12px #999;
  color: #FFF;
  opacity: .8;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
  filter: alpha(opacity=80)
}

#toast-container>div.rtl {
  direction: rtl;
  padding: 15px 50px 15px 15px;
  background-position: right 15px center
}

#toast-container>div:hover {
  -moz-box-shadow: 0 0 12px #000;
  -webkit-box-shadow: 0 0 12px #000;
  box-shadow: 0 0 12px #000;
  opacity: 1;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  filter: alpha(opacity=100);
  cursor: pointer
}

#toast-container>.toast-info {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAGwSURBVEhLtZa9SgNBEMc9sUxxRcoUKSzSWIhXpFMhhYWFhaBg4yPYiWCXZxBLERsLRS3EQkEfwCKdjWJAwSKCgoKCcudv4O5YLrt7EzgXhiU3/4+b2ckmwVjJSpKkQ6wAi4gwhT+z3wRBcEz0yjSseUTrcRyfsHsXmD0AmbHOC9Ii8VImnuXBPglHpQ5wwSVM7sNnTG7Za4JwDdCjxyAiH3nyA2mtaTJufiDZ5dCaqlItILh1NHatfN5skvjx9Z38m69CgzuXmZgVrPIGE763Jx9qKsRozWYw6xOHdER+nn2KkO+Bb+UV5CBN6WC6QtBgbRVozrahAbmm6HtUsgtPC19tFdxXZYBOfkbmFJ1VaHA1VAHjd0pp70oTZzvR+EVrx2Ygfdsq6eu55BHYR8hlcki+n+kERUFG8BrA0BwjeAv2M8WLQBtcy+SD6fNsmnB3AlBLrgTtVW1c2QN4bVWLATaIS60J2Du5y1TiJgjSBvFVZgTmwCU+dAZFoPxGEEs8nyHC9Bwe2GvEJv2WXZb0vjdyFT4Cxk3e/kIqlOGoVLwwPevpYHT+00T+hWwXDf4AJAOUqWcDhbwAAAAASUVORK5CYII=)!important
}

#toast-container>.toast-error {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAHOSURBVEhLrZa/SgNBEMZzh0WKCClSCKaIYOED+AAKeQQLG8HWztLCImBrYadgIdY+gIKNYkBFSwu7CAoqCgkkoGBI/E28PdbLZmeDLgzZzcx83/zZ2SSXC1j9fr+I1Hq93g2yxH4iwM1vkoBWAdxCmpzTxfkN2RcyZNaHFIkSo10+8kgxkXIURV5HGxTmFuc75B2RfQkpxHG8aAgaAFa0tAHqYFfQ7Iwe2yhODk8+J4C7yAoRTWI3w/4klGRgR4lO7Rpn9+gvMyWp+uxFh8+H+ARlgN1nJuJuQAYvNkEnwGFck18Er4q3egEc/oO+mhLdKgRyhdNFiacC0rlOCbhNVz4H9FnAYgDBvU3QIioZlJFLJtsoHYRDfiZoUyIxqCtRpVlANq0EU4dApjrtgezPFad5S19Wgjkc0hNVnuF4HjVA6C7QrSIbylB+oZe3aHgBsqlNqKYH48jXyJKMuAbiyVJ8KzaB3eRc0pg9VwQ4niFryI68qiOi3AbjwdsfnAtk0bCjTLJKr6mrD9g8iq/S/B81hguOMlQTnVyG40wAcjnmgsCNESDrjme7wfftP4P7SP4N3CJZdvzoNyGq2c/HWOXJGsvVg+RA/k2MC/wN6I2YA2Pt8GkAAAAASUVORK5CYII=)!important
}

#toast-container>.toast-success {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAADsSURBVEhLY2AYBfQMgf///3P8+/evAIgvA/FsIF+BavYDDWMBGroaSMMBiE8VC7AZDrIFaMFnii3AZTjUgsUUWUDA8OdAH6iQbQEhw4HyGsPEcKBXBIC4ARhex4G4BsjmweU1soIFaGg/WtoFZRIZdEvIMhxkCCjXIVsATV6gFGACs4Rsw0EGgIIH3QJYJgHSARQZDrWAB+jawzgs+Q2UO49D7jnRSRGoEFRILcdmEMWGI0cm0JJ2QpYA1RDvcmzJEWhABhD/pqrL0S0CWuABKgnRki9lLseS7g2AlqwHWQSKH4oKLrILpRGhEQCw2LiRUIa4lwAAAABJRU5ErkJggg==)!important
}

#toast-container>.toast-warning {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAGYSURBVEhL5ZSvTsNQFMbXZGICMYGYmJhAQIJAICYQPAACiSDB8AiICQQJT4CqQEwgJvYASAQCiZiYmJhAIBATCARJy+9rTsldd8sKu1M0+dLb057v6/lbq/2rK0mS/TRNj9cWNAKPYIJII7gIxCcQ51cvqID+GIEX8ASG4B1bK5gIZFeQfoJdEXOfgX4QAQg7kH2A65yQ87lyxb27sggkAzAuFhbbg1K2kgCkB1bVwyIR9m2L7PRPIhDUIXgGtyKw575yz3lTNs6X4JXnjV+LKM/m3MydnTbtOKIjtz6VhCBq4vSm3ncdrD2lk0VgUXSVKjVDJXJzijW1RQdsU7F77He8u68koNZTz8Oz5yGa6J3H3lZ0xYgXBK2QymlWWA+RWnYhskLBv2vmE+hBMCtbA7KX5drWyRT/2JsqZ2IvfB9Y4bWDNMFbJRFmC9E74SoS0CqulwjkC0+5bpcV1CZ8NMej4pjy0U+doDQsGyo1hzVJttIjhQ7GnBtRFN1UarUlH8F3xict+HY07rEzoUGPlWcjRFRr4/gChZgc3ZL2d8oAAAAASUVORK5CYII=)!important
}

#toast-container.toast-bottom-center>div,
#toast-container.toast-top-center>div {
  width: 300px;
  margin-left: auto;
  margin-right: auto
}

#toast-container.toast-bottom-full-width>div,
#toast-container.toast-top-full-width>div {
  width: 96%;
  margin-left: auto;
  margin-right: auto
}

.toast {
  background-color: #030303
}

.toast-success {
  background-color: #51A351
}

.toast-error {
  background-color: #BD362F
}

.toast-info {
  background-color: var(--toast-background-color)
}

.toast-warning {
  background-color: #F89406
}

.toast-progress {
  position: absolute;
  left: 0;
  bottom: 0;
  height: 4px;
  background-color: #000;
  opacity: .4;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=40);
  filter: alpha(opacity=40)
}

@media all and (max-width:240px) {
  #toast-container>div {
    padding: 8px 8px 8px 50px;
    width: 11em
  }
  #toast-container>div.rtl {
    padding: 8px 50px 8px 8px
  }
  #toast-container .toast-close-button {
    right: -.2em;
    top: -.2em
  }
  #toast-container .rtl .toast-close-button {
    left: -.2em;
    right: .2em
  }
}

@media all and (min-width:241px) and (max-width:480px) {
  #toast-container>div {
    padding: 8px 8px 8px 50px;
    width: 18em
  }
  #toast-container>div.rtl {
    padding: 8px 50px 8px 8px
  }
  #toast-container .toast-close-button {
    right: -.2em;
    top: -.2em
  }
  #toast-container .rtl .toast-close-button {
    left: -.2em;
    right: .2em
  }
}

@media all and (min-width:481px) and (max-width:768px) {
  #toast-container>div {
    padding: 15px 15px 15px 50px;
    width: 25em
  }
  #toast-container>div.rtl {
    padding: 15px 50px 15px 15px
  }
}

/* END TOASTR.CSS */

.btn-link {
    border: none;
    width: 100%;
    background: var(--c5-tint-double);
    color:var(--c4-shade);
    border-radius: var(--global-border-radius);
    cursor: pointer;
    padding: var(--global-button-padding);
    font-family: inherit;
    font-size: inherit;
}

.btn-link:hover {
  background: #ddd;
  color:var(--c4-shade-double);
  text-decoration: none;
}

.btn-bottom-margin{
  margin-bottom: var(--global-button-padding);
}

#bank-logo-div img{max-width:100%;height: auto;}

.loan-box-numericals {
  justify-content: space-around;
}
@media only screen and (max-width: 1200px) {
  .loan-box-numericals {
    justify-content: space-around;
    padding: 0;
    margin: 0.4rem 0 0.4rem 0;
  }
}
.sticky-top { top: 4rem; }

@media (min-width: 1200px) {
  .container {
    max-width:1244px;
  }
  .pad-desktop-top-1 {
    margin-top:1rem;
  }
}

/* @media (max-width: 1200px) {
  .container {
    padding-left: 0;
    padding-right: 0;
  }
} */

/* TABS CSS */

/*button,
input {
    font-family: "Montserrat", "Helvetica Neue", Arial, sans-serif;
}*/

/*a {
    color: #f96332;
}

a:hover,
a:focus {
    color: #f96332;
}

p {
    line-height: 1.61em;
    font-weight: 300;
    font-size: 1.2em;
}

.category {
    text-transform: capitalize;
    font-weight: 700;
    color: #9A9A9A;
}*/
/*
body {
    color: #2c2c2c;
    font-size: 14px;
    font-family: "Montserrat", "Helvetica Neue", Arial, sans-serif;
    overflow-x: hidden;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
}*/

.nav-item .nav-link,
.nav-tabs .nav-link {
    -webkit-transition: all 300ms ease 0s;
    -moz-transition: all 300ms ease 0s;
    -o-transition: all 300ms ease 0s;
    -ms-transition: all 300ms ease 0s;
    transition: all 300ms ease 0s;
}

@media screen and (min-width: 1200px) {
    #tabs1-5 .nav-item > a::after {
      content: "Kredisi";
    }
}

.card a {
    -webkit-transition: all 150ms ease 0s;
    -moz-transition: all 150ms ease 0s;
    -o-transition: all 150ms ease 0s;
    -ms-transition: all 150ms ease 0s;
    transition: all 150ms ease 0s;
}

[data-toggle="collapse"][data-parent="#accordion"] i {
    -webkit-transition: transform 150ms ease 0s;
    -moz-transition: transform 150ms ease 0s;
    -o-transition: transform 150ms ease 0s;
    -ms-transition: all 150ms ease 0s;
    transition: transform 150ms ease 0s;
}

[data-toggle="collapse"][data-parent="#accordion"][aria-expanded="true"] i {
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2);
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
}


.now-ui-icons {
    display: inline-block;
    font: normal normal normal 14px/1 'Nucleo Outline';
    font-size: inherit;
    speak: none;
    text-transform: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

@-webkit-keyframes nc-icon-spin {
    0% {
        -webkit-transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
    }
}

@-moz-keyframes nc-icon-spin {
    0% {
        -moz-transform: rotate(0deg);
    }

    100% {
        -moz-transform: rotate(360deg);
    }
}

@keyframes nc-icon-spin {
    0% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

.now-ui-icons.objects_umbrella-13:before {
    content: "\ea5f";
}

.now-ui-icons.shopping_cart-simple:before {
    content: "\ea1d";
}

.now-ui-icons.shopping_shop:before {
    content: "\ea50";
}

.now-ui-icons.ui-2_settings-90:before {
    content: "\ea4b";
}

.nav-tabs {
    border: 0;
    margin-bottom: 0;
    /*padding: 0.4rem 0;*/
}

.nav-tabs:not(.nav-tabs-neutral)>.nav-item>.nav-link.active {
    box-shadow: 0px 8px 9px -2px rgb(125 125 125 / 30%)
}

.card .nav-tabs {
    border-top-right-radius: 0.1875rem;
    border-top-left-radius: 0.1875rem;
}

.nav-tabs>.nav-item>.nav-link {
    color: var(--menu-text-color);
    margin: 0;
    margin-right: 0.6rem;
    background-color: transparent;
    border: 1px solid transparent;
    border-radius: var(--global-border-radius);
    padding: 0.6rem 1.2rem;
    line-height: 1.15;
}

.nav-tabs>.nav-item>.nav-link:hover {
    background-color: transparent;
}

.nav-tabs>.nav-item>.nav-link.active {
    background-color: var(--c4);
    border-radius: 30px;
    color: #FFFFFF;
}

.nav-tabs>.nav-item>.nav-link i.now-ui-icons {
    font-size: 14px;
    position: relative;
    top: 1px;
    margin-right: 3px;
}

.nav-tabs.nav-tabs-neutral>.nav-item>.nav-link {
    color: #FFFFFF;
}

.nav-tabs.nav-tabs-neutral>.nav-item>.nav-link.active {
    background-color: rgba(255, 255, 255, 0.2);
    color: #FFFFFF;
}

.card {
    border: 0;
    border-radius: 0.1875rem;
    display: inline-block;
    position: relative;
    width: 100%;
    /*margin-bottom: 30px;*/
    /*box-shadow: 0px 5px 25px 0px rgba(0, 0, 0, 0.2);*/
}

.card .card-header {
    background-color: transparent;
    border-bottom: 0;
    background-color: transparent;
    border-radius: 0;
    padding: 0;
}

.card[data-background-color="orange"] {
    background-color: #f96332;
}

.card[data-background-color="red"] {
    background-color: #FF3636;
}

.card[data-background-color="yellow"] {
    background-color: #FFB236;
}

.card[data-background-color="blue"] {
    background-color: #2CA8FF;
}

.card[data-background-color="green"] {
    background-color: #15b60d;
}

[data-background-color="orange"] {
    background-color: #e95e38;
}

[data-background-color="black"] {
    background-color: #2c2c2c;
}

[data-background-color]:not([data-background-color="gray"]) {
    color: #FFFFFF;
}

[data-background-color]:not([data-background-color="gray"]) p {
    color: #FFFFFF;
}

[data-background-color]:not([data-background-color="gray"]) a:not(.btn):not(.dropdown-item) {
    color: #FFFFFF;
}

[data-background-color]:not([data-background-color="gray"]) .nav-tabs>.nav-item>.nav-link i.now-ui-icons {
    color: #FFFFFF;
}


@font-face {
  font-family: 'Nucleo Outline';
  src: url("https://github.com/creativetimofficial/now-ui-kit/blob/master/assets/fonts/nucleo-outline.eot");
  src: url("https://github.com/creativetimofficial/now-ui-kit/blob/master/assets/fonts/nucleo-outline.eot") format("embedded-opentype");
  src: url("https://raw.githack.com/creativetimofficial/now-ui-kit/master/assets/fonts/nucleo-outline.woff2");
  font-weight: normal;
  font-style: normal;
        
}

.now-ui-icons {
  display: inline-block;
  font: normal normal normal 14px/1 'Nucleo Outline';
  font-size: inherit;
  speak: none;
  text-transform: none;
  /* Better Font Rendering */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


footer{
    margin-top:50px;
    color: #555;
    background: #fff;
    padding: 25px;
    font-weight: 300;
    background: #f7f7f7;
    
}
.footer p{
    margin-bottom: 0;
}
footer p a{
    color: #555;
    font-weight: 400;
}

footer p a:hover{
    color: #e86c42;
}

@media screen and (max-width: 768px) {

    .nav-tabs {
        /*
        display: inline-block;
        width: 100%;
        */
        /*padding-left: 100px;
        padding-right: 100px;*/
        /*text-align: center;*/
    }

    .nav-tabs .nav-item>.nav-link {
        /*margin-bottom: 5px;*/
        margin-right: 0;
    }
}

.min-height-3rem {
  height: 3rem;
}

.max-height-3rem {
  height: 3rem;
}

.margin-bottom-0 {
  margin-bottom: 0;
}

.side-div {
  background-color: white;
  border-radius: var(--global-border-radius);
  padding: 1rem;
  margin-bottom: 1rem;
}

span.step {
  position: relative;
  background: #cccccc;
  /*background: var(--c6-tint);*/
  /*background-image: radial-gradient(circle, var(--c4), var(--c4-shade));*/
  border-radius: 2.4rem;
  -moz-border-radius: 2.4rem;
  -webkit-border-radius: 2.4rem;
  color: #ffffff;
  width: 4.8rem;
  height: 4.8rem;
}

span.step > i {
  position: absolute;
  top: 0;
  left: 1.6rem;
}

.main-title-div {
  margin: 3rem 0;
}

@media screen and (max-width: 768px) {
  .main-title-div {
    margin: 2rem 0 1rem 0;
  }
  .main-title {
    font-size: 1.8rem;
  }
  span.step {
  position: relative;
    background: #cccccc;
    /*background: var(--c6-tint);*/
    /*background-image: radial-gradient(circle, var(--c4), var(--c4-shade));*/
    border-radius: 1rem;
    -moz-border-radius: 1rem;
    -webkit-border-radius: 1rem;
    color: #ffffff;
    width: 2rem;
    height: 2rem;
  }
  span.step > i {
    position: absolute;
    top: -.35rem;
    left: .45rem;
  }

  .kayitli-kredilerim-text{
    margin-bottom: 1rem;
  }
}

.section-title > .straight-line {
  width:100%; border-bottom:1px solid #dee2e6; position: absolute;top:0.8rem;z-index: -1;
}
.section-title > .title {
  background-color: var(--global-background-color);padding:0 0.6rem;
}

.section-margin {
  margin-bottom: 3rem;
}

.show-requery-button {
  color: white;
  background-color: var(--c4);
  border-radius:var(--global-button-border-radius);
  border:none;
  position: absolute;
  top: 0;
  right: 0;
}


@media screen and (min-width: 1200px) {
  .show-requery-button {
    display:none;
  }
}

.subscription-section-homepage {
  border-bottom: 1px solid #efefef;
  border-top: 1px solid #efefef;
  padding: 1rem 0;
  background-color: white;
}


.fade-in {
  opacity: 1;
  animation-name: fadeInOpacity;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 0.6s;
}

@keyframes fadeInOpacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.fade-out {
  opacity: 1;
  animation-name: fadeOutOpacity;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 0.6s;
}

@keyframes fadeOutOpacity {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.slide-up {
  animation-name: slideUp;
  animation-iteration-count: 1;
  animation-timing-function: ease;
  animation-duration: 0.6s;
}

@keyframes slideUp {
  0% {
    margin-top: 100vh;
  }
  100% {
    margin-top: 0rem;
  }
}



.loantype-pages-header u {
  color: white;
}

p {
  line-height: 1.5;
}

.index-redirector {
  border-radius: var(--global-border-radius);
  margin: 1rem 15px;
  padding: 1rem;
  min-height: 20rem;
  background: white;
  cursor: pointer;
  transition: .25s;
  -webkit-box-shadow: 0px 8px 9px -2px rgb(125 125 125 / 10%);
  -moz-box-shadow: 0px 8px 9px -2px rgb(125 125 125 / 10%);
  box-shadow: 0px 8px 9px -2px rgb(125 125 125 / 10%);
}

.index-redirector:hover {
  margin-top:0.6rem;
}

.index-redirector-v2 {
  padding: 1rem;
  min-height: 20rem;
  transition: .25s;
  /*border: 1px solid black;*/
}

@media screen and (min-width: 1200px) {
  .index-redirector-v2 {
    max-width: 50%;
    margin: 8rem auto;
    padding: 0;
    /*-ms-transform: translateY(50%);
    transform: translateY(50%);*/
  }
}
/*.index-redirector-v2:hover {
  margin-top:0.6rem;
}*/

a.negative {
  color: white;
}

a.negative:hover {
  color: var(--c5-tint-double);
}

a:hover .hoverable-title {
  text-decoration: underline;
}

.index-seperator {
  height: 3rem;
}

@media screen and (max-width: 768px) {
  .index-seperator {
    height: 0;
  }
}

.hesaplama-araci {
  z-index: 1;
}

@media screen and (min-width: 1200px) {
  .hesaplama-araci {
    transition: all .3s ease-in-out;
    transform: translateX(50%);
    position: absolute;top:0;left:0;
  }
}

@media (max-width: 575px){
  .hesaplama-araci {
    margin: 0 15px;
  }
}


/*.slide-left {
  animation-name: slideLeft;
  animation-iteration-count: 1;
  animation-timing-function: ease;
  animation-duration: 0.6s;
}

@keyframes slideLeft {
  0% {
    transform: translateX(50%);
  }
  100% {
    transform: translateX(0px);
  }
}
*/
.margin-bottom-04 {
  margin-bottom: 0.4rem;
}

.all-rounded {
  border-radius:var(--global-input-border-radius);
}

.positive-outcome-box {
  width: 100%;
  padding:1rem;margin:0 0 1rem 0;border-radius: var(--global-border-radius);background:var(--c7);
  display: inline-block;
}
.positive-outcome-box > i {
  color:white;padding-right:4px;
}

.negative-outcome-box {
  width: 100%;
  padding:1rem;margin:0 0 1rem 0;border-radius: var(--global-border-radius);background:var(--c9);
}
.negative-outcome-box > i {
  color:white;padding-right:4px;
}

.cid-s2gxOHzbBU {
  /*padding-top: 90px;
  padding-bottom: 90px;*/
  /*background-color: #fff;*/
}
.cid-s2gxOHzbBU .mbr-section-subtitle,
.cid-s2gxOHzbBU .mbr-text {
  /* color: #767676; */
}
.cid-s2gxOHzbBU .card {
  display: -webkit-flex;
  position: relative;
  justify-content: center;
  -webkit-justify-content: center;
  background-color: transparent;
}
.cid-s2gxOHzbBU .card-wrapper {
  /*border: 1px dashed var(--secondary-color);*/
  border-radius: var(--global-border-radius);
  height: 100%;
  box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0);
  background-color: white;
  transition: box-shadow 0.3s;
}
.cid-s2gxOHzbBU .card-wrapper .card-img {
  display: -webkit-flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
  /*border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;*/
  -webkit-flex-direction: column;
  -webkit-align-items: center;
  -webkit-justify-content: center;
}
.cid-s2gxOHzbBU .card-wrapper .card-img .mbr-overlay {
  background-color: #ffffff;
  display: none;
  transition: opacity .3s;
}
.cid-s2gxOHzbBU .card-wrapper .card-img .mbr-section-btn {
  position: absolute;
  transition: opacity .3s;
  width: 100%;
  left: 0;
  top: 50%;
  height: auto;
  transform: translateY(-50%);
}
.cid-s2gxOHzbBU .card-wrapper .card-img img {
  width: 100%;
}
.cid-s2gxOHzbBU .card-wrapper .card-box {
  /*background-color: #ffffff;*/
  min-height: 10rem;
  padding: 1rem;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  line-height: 1.15; 
}
.cid-s2gxOHzbBU .card-wrapper .card-box h4 {
  font-weight: 500;
  margin-bottom: 0;
  /*padding-top: 2rem;*/
}
.cid-s2gxOHzbBU .card-wrapper .card-box p {
  margin-bottom: 0;
  /*padding-top: 1.5rem;*/
}
.cid-s2gxOHzbBU .card-wrapper:hover {
  box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.05);
}
.cid-s2gxOHzbBU .card-img .mbr-overlay {
  display: block !important;
  opacity: 0;
}
.cid-s2gxOHzbBU .card-img .mbr-section-btn {
  opacity: 0;
}
.cid-s2gxOHzbBU .card-img:hover .mbr-overlay {
  opacity: .5;
}
.cid-s2gxOHzbBU .card-img:hover .mbr-section-btn {
  opacity: 1;
}

/*FULL SCREEN OVERLAY */
.overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  text-align:left;
  /*background-color: rgb(0,0,0);*/
  background-color: var(--c4-shade-double-o90);
  backdrop-filter: blur(4px);
  overflow-x: hidden;
  transition: 0.5s;
}

.overlay-content {
  /*position: relative;*/
  /*top: 15%;*/
  max-width: 560px;
  margin:3rem auto;
  padding: 2rem;
  /*text-align: center;*/
  /*margin-top: 30px;*/
}

@media (max-width: 767px) {
  .overlay-content {
    padding: 1rem;
  }
}

.overlay a {
  padding: 1rem;
  display: block;
  transition: 0.3s;
  text-align: left;
  /*background-color: rgba(255,255,255);*/
}

.overlay i {
  width: 20px;
  margin-right: 1rem;
}

.icon-sizing {
  width: 20px;
  margin-right: .4rem;
}

.overlay .closebtn {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 3;
  font-size: 30px;
}

.dropdown-menu {
  min-width: 20rem;
}

#index-nav {
  color: var(--c4-shade-double) !important;
}

.rehber-adim {
  width: 40px;
  height: 40px;
  border: 1px solid #7289DA;
  border-radius: 50%;
  background-color: #7289DA;
  color: white;
  text-align: center;
  padding-top: 1px;
  display: inline-block;
}

.flasher {
  padding: 2rem;
  font-weight: 100;
  background-color: var(--c7-shade);
  border-radius: var(--flasher-border-radius);
  margin: 0 1rem;
}

.flasher a {
  color: var(--c10);
  text-decoration: underline;
}

.flasher a:hover {
  color: var(--c10-shade);
}

.flasher .iconfont-wrapper {
  background-color: var(--c7);
  -webkit-box-shadow: 0px 0px 20px 0px rgb(0 0 0 / 10%);
  max-width: 120px;
  max-height: 120px;
  padding:1.2rem;
  border-radius: var(--global-button-border-radius);
}

@media (max-width: 767px) {
  .flasher {
    padding: 1rem;
  }
  .flasher .iconfont-wrapper {
    font-size:10px;
  }
}