{% load pandas_filters %}
{% if loan.bank.partnered %}
<form method = "post" action="/apply">
	{% csrf_token %}
	<input type="hidden" name="loan-key" value="{{ loan.id|add:'&'|add:principal|add:'&'|add:tenure }}"/>
	<input type="hidden" name="request_source" {% if request_source == None %} value="unknown" {% else %} value="{{ request_source }}" {% endif %}/>
	<button 
		type="submit"
		name="apply-button"
		{% if class != None %} class = "{{ class }}"
		{% else %}  class="general-button display-7 apply-button align-center w-100 btn-bottom-margin" 
		{% endif %}><i class="fa fa-hand-o-up" aria-hidden="true"></i> Başvur
		</button>
		<!-- <span class="mobi-mbri mobi-mbri-cursor-click mbr-iconfont mbr-iconfont-btn"></span> -->
</form>
{% endif %}