{% extends 'base.html' %}
{% load static pandas_filters wagtailimages_tags crispy_forms_tags %}

{% block head %}
    {% include 'home/global/head.html' %}
{% endblock %}

{% block body %}
<body>
    {% include 'home/global/menu.html' %}
    {% include 'home/global/cd_cart.html' %}
    {% include 'home/global/bank_list_section.html' with title='Kredi Çekebileceğiniz' subtitle='bankalar' description='' %}
    <div style="height:600px;"></div>
</body>
{% endblock %}
{% block foot %}
    {% include 'home/global/foot.html' %}
{% endblock %}
{% block scripts %}
    {% include 'home/global/scripts.html' %}
{% endblock %}