<div id='banks-list' class="container loan-box" hidden>
        <div class="row">
            <div class="homepage-header">
            <i class="fa fa-info-circle fa-3x" aria-hidden="true"></i>
            </div>
            <div class="homepage-header">
            <span class="display-3 font-weight-bold">{{ title }}</span><br><span class="display-5 font-weight-bold">{{ subtitle }}</span>
            </div>
            <div class="homepage-header">
            <span class="display-7">{{ description }}</span>
            </div>
        </div>    
        <div class="d-flex flex-row flex-wrap justify-content-center">
        {% for bank in banks %}
            <div class="p-2" style="border:1px dashed #efefef;position:relative;">
                {% if bank.sponsored %}
                    <span class='display-8' style="position: absolute;top: 2px;right:2px;color:blue;">Sponsorlu<i class="fa fa-info-circle fa-xs" aria-hidden="true"></i></span>
                {% endif %}
                <a href="{{ '/banka/'|add:bank.slug }}">
                {% image bank.logo width-128 alt="{{ bank.name }}" %}
                </a>
            </div>
        {% endfor %}
        </div>
</div>