{% load pandas_filters wagtailimages_tags %}
<section class="cid-s5sHqNibdR section-margin">
        <div class="container">
                {% comment %}
                <div class="row">
                    <div class="homepage-header">
                    <i class="fa fa-info-circle fa-3x icon-color mobile-hidden" aria-hidden="true"></i>
                    </div>
                    <div class="homepage-header">
                    <span class="display-3 font-weight-bold title-color-primary">{{ title }}</span><br><span class="display-5 font-weight-bold title-color-secondary">{{ subtitle }}</span>
                    </div>
                    <div class="homepage-header">
                    <span class="display-7">{{ description }}</span>
                    </div>
                </div>
                {% endcomment %}
                <div class="row justify-content-center position-relative icon-color section-title" style="margin:0">
                      <div class="display-4 title-color-primary title"><i class="fa fa-university" aria-hidden="true"></i>&nbsp;Banka Listesi</div>
                      <br>
                      <span class="col-md-12 straight-line"></span>
                </div>
                <div class="row flex-wrap justify-content-center" style="margin-top:1rem">
                {% for bank in banks %}
                    <div class="p-2 bank-list-item">
                        {% if bank.sponsored %}
                            <span class='display-8' style="position: absolute;top: 4px;right:4px;color:var(--c8);">Sponsorlu<i class="fa fa-info-circle fa-xs" aria-hidden="true"></i></span>
                        {% endif %}
                        <a href="{{ '/banka/'|add:bank.slug }}">
                        {% image bank.logo fill-128x96 %}
                        </a>
                    </div>
                {% endfor %}
                </div>
        </div>
</section>