{% load pandas_filters %}
<form action = "/show-detail" method = "POST">
	{% csrf_token %}
	<input type="hidden" name="tenure" value="{{ loan.tenure }}">
	<input type="hidden" name="principal" value="{{ loan.principal }}">
	<input type="hidden" name="loan_type" value="{{ loan.loan_type.loan_type }}">
	<input type="hidden" name="bank" value="{{ loan.bank.slug }}">
	{% comment %}<input type="hidden" name="slug" value="{{ loan.slug }}">{% endcomment %}
	<input type="hidden" name="request_source" value="{{ request_source }}">
	<button type="submit" class="btn-link btn-bottom-margin" formaction="/show-detail">
		<span class="display-8">Detay</span>
	</button>
</form>