{% load static %}
<section class="cid-s2gxzRnY70 bg-primary" id="footer1-1">
    <i onclick="topFunction()" id="top-btn" class="fa fa-arrow-circle-up fa-3x" aria-hidden="true"></i>
    <div class="container">
        <div class="media-container-row content text-white">
            <div class="col-12 col-md-3">
                <div class="media-wrap">
                    <a href="/">
                        <img src="{% static 'home/css/img/cd-logo-2-n.png' %}" alt="DigiKredi">
                    <span class="display-4 font-weight-bold" id="logo-text">Digi<span style="color:var(--c4-tint);">Kredi</span></span></a>
                </div>
            </div>
            <div class="col-12 col-md-3 mbr-fonts-style display-7">
                <h5 class="pb-3">
                    Kredi Ara
                </h5>
                <p>
                    <a href="/ihtiyac-kredisi">İhtiyaç Kredisi</a>
                    <br><a href="/konut-kredisi">Konut Kredisi</a>
                    <br><a href="/tasit-kredisi-0km">Taşıt Kredisi (0 Km)</a>
                    <br><a href="/tasit-kredisi-2el">Taşıt Kredisi (2. El)</a>
                </p>
            </div>
            <div class="col-12 col-md-3 mbr-fonts-style display-7">
                <h5 class="pb-3">
                    Kredi Hesapla
                </h5>
                <p>
                    <a href="/kredi/hesaplama-araclari/basit-kredi-hesaplama">Basit Kredi Hesaplama</a>
                    <br><a href="/kredi/hesaplama-araclari/kredi-erken-kapama-hesaplama">Erken Kapama Hesaplama</a>
                    <br><a href="/kredi/hesaplama-araclari/kredi-pesinat-hesaplama">Peşinat Hesaplama</a>
                    <br><a href="/kredi/hesaplama-araclari/kredi-yapilandirma-hesaplama">Yapılandırma Hesaplama</a>
                    <br><a href="/kredi/hesaplama-araclari/kredi-karti-taksitli-nakit-avans-hesaplama">Nakit Avans Hesaplama</a>
                    <br><a href="/kredi/hesaplama-araclari/gecikme-faizi-hesaplama">Gecikme Faizi Hesaplama</a>
                    <br><a href="/kredi/hesaplama-araclari/kredi-erken-odeme-cezasi-hesaplama">Erken Ödeme Cezası Hesaplama</a>
                    <br><a href="/kredi/hesaplama-araclari/kredi-vergisi-hesaplama">Kredi Vergisi Hesaplama</a>
                </p>
            </div>
            <div class="col-12 col-md-3 mbr-fonts-style display-7">
                <h5 class="pb-3">
                    Hakkında
                </h5>
                <p>
                    <a href="/gizlilik-ve-cerez-politikasi">Gizlilik ve Çerez Politikası</a>
                    <br><a href="/kisisel-verilerin-korunmasi">Kişisel Verilerin Korunması</a>
                    <br><a href="/acik-riza-metni">Açık Rıza Metni</a>
                    <br><a href="/kullanim-kosullari">Kullanım Koşulları</a>
                    <!-- <br><a href="/iletisim-formu">İletişim Formu</a> -->
                </p>
            </div>
        </div>
        <div class="footer-lower">
            <div class="media-container-row">
                <div class="col-sm-12 mbr-white">
                    © 2021 DigiKredi
                </div>
            </div>
        </div>
    </div>
</section>