<div id="subscription-overlay" class="overlay">
	<div class="container overlay-content loan-final-card display-8">
			<a href="javascript:void(0)" class="closebtn display-6" onclick="closeSubscriptionOverlay()">&times;</a>
			<input id="session-email" value="{{ session_email }}" type="hidden" />
      <input id="show-subscription-notification" value="{{ show_subscription_notification }}" type="hidden" />
			<div class="row justify-content-center align-items-stretch mbr-primary">
				<div class="col-12 display-7" style="border:1px solid white;">
					<h1 class="display-4" id="subscription-overlay-title"><strong>{% if title %}{{title}}{% else %}Faiz değişimlerinden haberdar ol!{% endif %}</strong></h1>
					<h2 class="display-7" id="subscription-overlay-description">E-posta adresinize tamamen ücretsiz olarak faiz değişikliklerini göndermemizi ister misiniz?
					Hemen e-posta adresinizi girin, faiz değişikliklerini en önden öğrenin!</h2>
					<form action="/subscribe-to-alerts" method="POST" id="subscription-notification">
						{% csrf_token %}
            <input type="radio" id="all-mail" name="subscription_type" value="all">
            <label for="all-mail">Tüm faiz değişikliklerinden haberdar olmak istiyorum.</label>
            <input type="radio" id="custom-mail" name="subscription_type" value="custom">
            <label for="custom-mail">Sadece bana özel faiz değişikliklerinden haberdar olmak istiyorum.
            	<a id="show-options-btn" href='javascript:void(0)' style="display: none; padding: 0" onclick="toggleCustomOptions()">
            		Düzenle&nbsp;<i class="fa fa-angle-right" aria-hidden="true"></i></a></label>
						<!-- ADVANCED OPTIONS -->
						<div class="row justify-content-center align-items-stretch" id="custom-options-pane" style="display: none;">
							<div class="col-12 col-lg-4">
								<label class="align-center">Kredi Türleri</label><br>
								<label><input type="checkbox" name="GPL_check" value=1 />&nbsp;İhtiyaç Kredisi</label>
								<label><input type="checkbox" name="MOR_check" value=1 />&nbsp;Konut Kredisi</label><br>
								<label><input type="checkbox" name="CAR_check" value=1 />&nbsp;Taşıt Kredisi (0 Km)</label>
								<label><input type="checkbox" name="CA2_check" value=1 />&nbsp;Taşıt Kredisi (2. El)</label>
							</div>
							<div class="col-12 col-lg-8">
								{% include 'tools/widgets/principal_input_widget.html' with unit="TL'ye kadar" not_required=True %}
	          		{% include 'tools/widgets/tenure_input_widget.html' with unit="Aya kadar" not_required=True %}
							</div>
						</div>
	          <div class="form-group col" data-for="email" style="padding:0; margin-bottom:0.5rem;">
	           <input type="email" name="email" placeholder="E-posta adresiniz" data-form-field="Email" required="required" class="form-control display-7" id="email-form3-t" style="height: 3rem;">
	          </div>
	          <label><input type="checkbox" name="permission_check" value=1 required />&nbsp;Kişisel Verilerin Korunması Hakkında Bilgilendirme’yi okuduğumu ve kabul ettiğimi onaylıyorum.</label>
	          <button type="submit" class="general-button display-6 w-100" style="height: 3rem; margin-bottom:0.5rem;">Gönder</button>
		      </form>
				</div>
				<div class="col-12" style="border:1px solid white;">
					<form action="/no-notification" method="POST" class="align-center" id="no-notification">
						{% csrf_token %}
						<button type="submit" class="btn-link">Bir daha gösterme</button>
					</form>
				</div>
			</div>

	</div>
</div>