﻿{% load static compress %}
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="generator" content="digikredi.com">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="shortcut icon" type="image/png" href="{% static 'home/css/img/favicon.ico' %}"/>

{% if blog_page != None %} 
  {% block title %}{{ blog_page.title }}{% if blog_page.description %} | {{ blog_page.description }}{% endif %}{% endblock title %}
  <meta name="description" content="{% block meta_description %}{{ blog_page.search_description }}{% endblock meta_description %}"/>
  {% compress css %}
    <link rel="stylesheet" type="text/x-scss" href="{% static 'blog/scss/blog.scss' %}" rel="stylesheet" media="screen">
  {% endcompress %}
{% else %}
  <title>DigiKredi - İhtiyaç, Konut, Taşıt Kredilerini Listele</title>
  <meta name="description" content="En uygun ve en güncel kredileri araştır, sana en uygun krediyi bul!">
{% endif %}


<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" 
	  integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-tour/0.12.0/css/bootstrap-tour.min.css" integrity="sha512-sFyS37kke5UvcMHcV8k0NSAT2QWjeLEXKVm0JOXgFd8cd1XMMWqez/mL64g6m+HAS8jBjvPwi5ctTiYX2BRRpQ==" crossorigin="anonymous" /> -->
<!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-tour/0.12.0/css/bootstrap-tour-standalone.min.css" integrity="sha512-Ip/QaNzZ+ktVF+SKYnWTriTa3MY5PB1toFS0wmFUuqoHEmxhfUn8dQUse70nJdonrKvwmYYvAGByX9pjePYboA==" crossorigin="anonymous" /> -->
<link rel="stylesheet" href="{% static 'home/css/style.css' %}">
<link rel="stylesheet" href="{% static 'assets/intro-js/minified/introjs.min.css' %}">
<link rel="stylesheet" href="{% static 'assets/intro-js/themes/introjs-modern.css' %}">
<!-- TOASTR CSS -->
<!-- <link href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css" rel="stylesheet"/> -->
</head>


{% comment %}
<!-- <link rel="stylesheet" href="https://unpkg.com/bootstrap-table@1.17.1/dist/bootstrap-table.min.css"> -->

<link rel="stylesheet" href="{% static 'assets/web/assets/mobirise-icons/mobirise-icons.css' %}">
<link rel="stylesheet" href="{% static 'assets/web/assets/mobirise-icons2/mobirise2.css' %}">
<link rel="stylesheet" href="{% static 'assets/bootstrap/css/bootstrap-grid.min.css' %}">
<link rel="stylesheet" href="{% static 'assets/bootstrap/css/bootstrap-reboot.min.css' %}">
<link rel="stylesheet" href="{% static 'assets/socicon/css/styles.css' %}">
<link rel="stylesheet" href="{% static 'assets/dropdown/css/style.css' %}">
<link rel="stylesheet" href="{% static 'assets/datatables/data-tables.bootstrap4.min.css' %}">
<link rel="stylesheet" href="{% static 'assets/tether/tether.min.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'home/css/sidenav.css' %}">
<link rel="stylesheet" href="{% static 'home/css/cart_reset.css' %}"> <!-- CSS reset -->
<link rel="stylesheet" href="{% static 'home/css/cart_style.css' %}"> <!-- Gem style -->
<link rel="stylesheet" href="{% static 'assets/theme/css/style.css' %}">
<link rel="preload" as="style" href="{% static 'assets/mobirise/css/mbr-additional.css' %}">
<link rel="stylesheet" href="{% static 'assets/mobirise/css/mbr-additional.css' %}" type="text/css">
<link rel="stylesheet" type="text/css" href="{% static 'home/css/forms.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'home/css/loan_detail_page_grid.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'home/css/tooltip.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'home/css/featured_loans_container.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'home/css/favorite_icon.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'home/css/click_icon.css' %}">
{% endcomment %}