{% load static %}
<header>
   <!-- <div id="cd-hamburger-menu"><a class="cd-img-replace" href="#0">Menu</a></div> -->
   <div id="cd-cart-trigger" style="cursor:pointer;margin-right: 1rem;" data-step="2" data-intro="Kayıtlı kredilerinize göz atıp karşılaştırma yapabilirsiniz." data-position='right'>
      <a href="#" class="lock" style="color:var(--cart-icon-color) !important;">
      <i class="fa fa-bookmark-o fa-2x icon-unlock"></i>
      <i class="fa fa-bookmark fa-2x icon-lock"></i>
      <span class='badge badge-warning display-7' id='lblCartCount'>0</span>
      </a>
   </div>
   <div id='ajax-loader' style="display:none;padding-top:5px;position:fixed;top:0;right: 4rem;">
      <div class="lds-hourglass-ajax"></div>
   </div>
   <!-- <div id=#cd-hamburger-menu><a>x</a></div> -->
   <nav id="main-nav" class="display-8">
      <ul class="pad-mobile-0 margin-bottom-0">
         <li class="mobile-show" style="font-size:24px;"><span id="hamburger-menu" onclick="openHamburger()" style="margin-left:1rem;">&#9776;</span></li>
         <li>
            <a href="/"><span class="display-4 font-weight-bold" id="logo-text"><img src="{% static 'home/css/img/cd-logo-2-n.png' %}" height=36 alt="DigiKredi">Digi<span style="color:var(--menu-logo-text-color-kredi);">Kredi</span></span></a>
         </li>
         <li class="mobile-hidden nav-item dropdown">
            <a class="nav-link  dropdown-toggle" href="/kredi">Krediler</a>
            <ul class="dropdown-menu display-8">
               <li><a href="/kredi/ihtiyac-kredisi"><i class="fa fa-money icon-sizing"></i> İhtiyaç Kredisi</a></li>
               <br>
               <li><a href="/kredi/tasit-kredisi-0km"><i class="fa fa-car icon-sizing"></i> Taşıt Kredisi (0 Km)</a></li>
               <br>
               <li><a href="/kredi/tasit-kredisi-2el"><i class="fa fa-car icon-sizing"></i> Taşıt Kredisi (2. El)</a></li>
               <br>
               <li><a href="/kredi/konut-kredisi"><i class="fa fa-home icon-sizing"></i> Konut Kredisi</a></li>
            </ul>
         </li>
         <li class="mobile-hidden nav-item dropdown">
            <a class="nav-link  dropdown-toggle" href="/kredi/hesaplama-araclari/">Hesaplama</a>
            <ul class="dropdown-menu display-8">
               <li>{% include 'home/global/hamburger_single_a.html' with href='/kredi/hesaplama-araclari/basit-kredi-hesaplama/' icon='icon-sizing fa fa-money' title='Basit Kredi Hesaplama' no_class=True %}</li>
               <br>
               <li>{% include 'home/global/hamburger_single_a.html' with href='/kredi/hesaplama-araclari/kredi-erken-kapama-hesaplama/' icon='icon-sizing fa fa-handshake-o' title='Kredi Erken Kapama Hesaplama' no_class=True %}</li>
               <br>
               <li>{% include 'home/global/hamburger_single_a.html' with href='/kredi/hesaplama-araclari/kredi-pesinat-hesaplama/' icon='icon-sizing fa fa-star-half-o' title='Kredi Peşinat Hesaplama' no_class=True %}</li>
               <br>
               <li>{% include 'home/global/hamburger_single_a.html' with href='/kredi/hesaplama-araclari/kredi-yapilandirma-hesaplama/' icon='icon-sizing fa fa-magic' title='Kredi Yapılandırma Hesaplama' no_class=True %}</li>
               <br>
               <li>{% include 'home/global/hamburger_single_a.html' with href='/kredi/hesaplama-araclari/kredi-karti-taksitli-nakit-avans-hesaplama/' icon='icon-sizing fa fa-credit-card' title='Kredi Kartı Taksitli Nakit Avans Hesaplama' no_class=True %}</li>
               <br>
               <li>{% include 'home/global/hamburger_single_a.html' with href='/kredi/hesaplama-araclari/gecikme-faizi-hesaplama/' icon='icon-sizing fa fa-calendar-times-o' title='Gecikme Faizi Hesaplama' no_class=True %}</li>
               <br>
               <li>{% include 'home/global/hamburger_single_a.html' with href='/kredi/hesaplama-araclari/kredi-erken-odeme-cezasi-hesaplama/' icon='icon-sizing fa fa-calendar-check-o' title='Kredi Erken Ödeme Cezası Hesaplama' no_class=True %}</li>
               <br>
               <li>{% include 'home/global/hamburger_single_a.html' with href='/kredi/hesaplama-araclari/kredi-vergisi-hesaplama/' icon='icon-sizing fa fa-file-text-o' title='KKDF-BSMV Kredi Vergisi Hesaplama' no_class=True %}</li>
            </ul>
         </li>
         <li class="mobile-hidden"><a href="/banka"><i class="fa fa-bank"></i> Bankalar</a></li>
         <li class="mobile-hidden"><a href="/sepet"><i class="fa fa-bookmark"></i> Kayıtlı Kredilerim</a></li>
         <li class="mobile-hidden"><a href="/neden-digikredi" class="mbr-green"><i class="fa fa-lock"></i> Burada güvendesiniz</a></li>
         <!-- <li><a id="show-banks">Bankalar &#8595;</a> -->
         </li>
      </ul>
   </nav>
</header>
<div id="hamburger-menu-content" class="overlay">
   <a href="javascript:void(0)" class="closebtn" onclick="closeHamburger()">&times;</a>
   <div class="overlay-content display-7">
      <a class="display-4 mbr-white border-bottom font-weight-bold" href="/kredi" class="mbr-white border-bottom"><i class="fa fa-money"></i> Kredi Listele</a>
      <a href="/kredi/ihtiyac-kredisi" class="mbr-white border-bottom"><i class="fa fa-money"></i> İhtiyaç Kredisi</a>
      <a href="/kredi/tasit-kredisi-0km" class="mbr-white border-bottom"><i class="fa fa-car"></i> Taşıt Kredisi (0 Km)</a>
      <a href="/kredi/tasit-kredisi-2el" class="mbr-white border-bottom"><i class="fa fa-car"></i> Taşıt Kredisi (2. El)</a>
      <a href="/kredi/konut-kredisi" class="mbr-white border-bottom"><i class="fa fa-home"></i> Konut Kredisi</a>
      <br>
      <a class="display-4 mbr-white border-bottom font-weight-bold" href="/banka"><i class="fa fa-bank"></i> Bankalar</a>
      <a class="display-4 mbr-white border-bottom font-weight-bold" href="/sepet"><i class="fa fa-bookmark"></i> Kayıtlı Kredilerim</a>
      <br>
      <a class="display-4 mbr-white border-bottom font-weight-bold" href="/kredi/hesaplama-araclari/" class="mbr-white border-bottom"><i class="fa fa-money"></i> Hesaplama Araçları</a>
      {% include 'home/global/hamburger_single_a.html' with href='/kredi/hesaplama-araclari/basit-kredi-hesaplama/' title='Basit Kredi Hesaplama' %}
      {% include 'home/global/hamburger_single_a.html' with href='/kredi/hesaplama-araclari/kredi-erken-kapama-hesaplama/' title='Kredi Erken Kapama Hesaplama' %}
      {% include 'home/global/hamburger_single_a.html' with href='/kredi/hesaplama-araclari/kredi-pesinat-hesaplama/' title='Kredi Peşinat Hesaplama' %}
      {% include 'home/global/hamburger_single_a.html' with href='/kredi/hesaplama-araclari/kredi-yapilandirma-hesaplama/' title='Kredi Yapılandırma Hesaplama' %}
      {% include 'home/global/hamburger_single_a.html' with href='/kredi/hesaplama-araclari/kredi-karti-taksitli-nakit-avans-hesaplama/' title='Kredi Kartı Taksitli Nakit Avans Hesaplama' %}
      {% include 'home/global/hamburger_single_a.html' with href='/kredi/hesaplama-araclari/gecikme-faizi-hesaplama/' title='Gecikme Faizi Hesaplama' %}
      {% include 'home/global/hamburger_single_a.html' with href='/kredi/hesaplama-araclari/kredi-erken-odeme-cezasi-hesaplama/' title='Kredi Erken Ödeme Cezası Hesaplama' %}
      {% include 'home/global/hamburger_single_a.html' with href='/kredi/hesaplama-araclari/kredi-vergisi-hesaplama/' title='KKDF-BSMV Kredi Vergisi Hesaplama' %}
      <br>
      <a class="display-4 mbr-white border-bottom font-weight-bold" href="/neden-digikredi"><i class="fa fa-question-circle-o"></i> Neden DigiKredi?</a>
      <br>
   </div>
</div>