{% load static %}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="{% static 'assets/popper/popper.min.js' %}"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
<script src="{% static 'home/js/main.js' %}"></script>

{% comment %}
<script src="{% static 'assets/smoothscroll/smooth-scroll.js' %}"></script>
<script src="{% static 'assets/dropdown/js/nav-dropdown.js' %}"></script>
<script src="{% static 'assets/dropdown/js/navbar-dropdown.js' %}"></script>
<script src="{% static 'assets/datatables/jquery.data-tables.min.js' %}"></script>
<script src="{% static 'assets/datatables/data-tables.bootstrap4.min.js' %}"></script>
<script src="{% static 'assets/mbr-popup-btns/mbr-popup-btns.js' %}"></script>
<script src="{% static 'assets/touchswipe/jquery.touch-swipe.min.js' %}"></script>
{% endcomment %}

{% comment %}
<script src="{% static 'assets/tether/tether.min.js' %}"></script>
<script src="{% static 'assets/theme/js/script.js' %}"></script>
<script src="https://unpkg.com/bootstrap-table@1.17.1/dist/bootstrap-table.min.js"></script>
<script src="{% static 'assets/web/assets/cookies-alert-plugin/cookies-alert-core.js' %}"></script>
<!-- <script src="{% static 'assets/web/assets/cookies-alert-plugin/cookies-alert-script.js' %}"></script> -->
{% endcomment %}
{% comment %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/waypoints/4.0.1/noframework.waypoints.min.js"></script>
{% endcomment %}

{% comment %}
<script src="{% static 'assets/formoid/formoid.min.js' %}"></script>
{% endcomment %}

{% comment %} 
<!-- SCRIPT FOR TOASTR -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>
<script src="{% static 'home/js/toastr_main.js' %}"></script> 
<div id="toast"></div>
{% endcomment %}


<!-- 
<input name="cookieData" data-cookie-customDialogSelector='null' data-cookie-colorText='#424a4d' data-cookie-colorBg='rgba(234, 239, 241, 0.99)' data-cookie-textButton='Agree' data-cookie-colorButton='' data-cookie-colorLink='#424a4d' data-cookie-underlineLink='true' data-cookie-text="We use cookies to give you the best experience. Read our <a href='privacy.html'>cookie policy</a>."> -->