{% load pandas_filters %}
<form action = "/search-across-all-banks" method = "post">
	{% csrf_token %}
	<input type="hidden" name="loan_type" value="{{ loan.loan_type.loan_type }}" />
	<input type="hidden" name="principal" value="{{ loan.principal }}" />
	<input type="hidden" name="tenure" value="{{ loan.tenure.tenure }}" />
	<input type="hidden" name="request_source" value="{{ request_source }}" />
	<button type="submit" class="btn-link">
		<span class="display-8">Tüm bankalarda ara</span>
	</button>
</form>