{% extends 'base.html' %}
{% load static %}
{% load wagtailimages_tags pandas_filters %}

{% block head %}
    {% include 'home/global/head.html' %}
{% endblock %}

{% block body %}
<body>
    {% include 'home/global/menu.html' %}
    {% include 'home/global/cd_cart.html' %}
    <a class="anchor" id='kredi-sorgula'></a>
    {% include 'loantype_pages/local/loan_request_section.html' %}
    {% include 'loantype_pages/local/navigator.html' %}
    <a class="anchor" id='en-dusuk-faiz-oranlari'></a>
    <div id="loanmatrix-tables-section"></div>
    {% comment %}
        {% include 'loantype_pages/local/loan_matrix_section.html' %}
    {% endcomment %}
    <a class="anchor" id='bankalara-gore-faiz-oranlari'></a>
    <div id="loansummary-section"></div>
    {% comment %}
        {% include 'loantype_pages/local/loan_summary_section.html' %}
    {% endcomment %}
    <a href="anchor" id='kredi-rehberi'></a>
    {% if loan_type.loan_type == 'GPL' %}
    {% include 'loantype_pages/local/ihtiyac_kredisi_rehberi.html' %}
    {% elif loan_type.loan_type == 'CAR' or loan_type.loan_type == 'CA2' %}
    {% include 'loantype_pages/local/tasit_kredisi_rehberi.html' %}
    {% else %}
    {% include 'loantype_pages/local/konut_kredisi_rehberi.html' %}
    {% endif %}
    <a class="anchor" id='one-cikan-krediler'></a>
    {% include 'home/local/featured_loans_section.html' with request_source=loan_type.loan_type|add:'-featured-loans' %}
    <a class="anchor" id='bankalar'></a>
    <div id="banks-section"></div>
    {% comment %}
        {% include 'home/global/bank_list_section.html' with title=loan_type.loan_type_long subtitle='Çekebileceğiniz Bankalar' description='' %}
    {% endcomment %}
    {% include 'home/local/subscription_section.html' %}
    {% include 'loantype_pages/local/breadcrumb.html' %}
</body>
{% endblock %}

{% block foot %}
    {% include 'home/global/foot.html' %}
{% endblock %}

{% block scripts %}
    {% include 'home/global/scripts.html' %}
    {% if show_subscription_notification %}
        {% include 'loans/widgets/subscription_notification.html' with notification_title=loan_type.loan_type_long|add:' ilgili faiz değişikliklerinden anında haberdar olmak ister misiniz? E-posta adresinizi girin, gönderelim.' %}
    {% endif %}
    {% include 'loantype_pages/local/scripts.html' %}
{% endblock %}