<div class="row justify-content-end">
	<div class="col-12 col-xl-6">
		<div class="display-7 row align-center mbr-white negative-outcome-box justify-content-center">
			Hesaplama başarısız. Lütfen formdaki hataları düzeltip tekrar deneyin.
		</div>
	</div>
</div>
