{% load static wagtailmd wagtailcore_tags wagtailimages_tags blogapp_tags %}
<a id="blog" class="anchor"></a>
<section class="cid-s3ZoaRMIHq">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-lg-8">
                <h1>{{ post.title }}</h1>
                <hr>
                {{ post.body|markdown|safe }}
                <p>
                    <i class="fa fa-clock-o"></i> {{post.date}} &nbsp;
                    <i class="fa fa-user-o"></i> {{post.owner}} &nbsp;
                </p>
            </div>
        </div>
    </div>
</section>