<a href="{{ href }}" class="display-8">
	<div class="general-button row" style="margin:.2rem 0;">
		<div class="col-3"><i class="{{ icon }}"></i></div>
		<div class="col-9">{{ title }}</div>
	</div>
</a>