{% load pandas_filters %}
<div class="row justify-content-end">
	<div class="col-12 col-xl-6">
		<div class="display-7 row align-center mbr-white positive-outcome-box">
	            <i class="fa fa-check-circle-o" aria-hidden="true"></i>
	    		Hesaplama başarılı!
	    </div>
		<div class="loan-box">
		    <div class="row-nice justify-content-between font-weight-bold">
		    	<span>Toplam Kapama Tutarı</span><span>{{ early_payment_amount|as_currency_plain_short }} TL</span>
		    </div>
		    <hr>
		    <div class="row-nice justify-content-between">
		    	<span>Erken Kapama Ücreti*</span><span>{{ early_payment_fine|as_currency_plain_short }} TL</span>
		    </div>
		    <hr>
		    <div class="row-nice justify-content-between">
		    	<span>Şu Ana Kadar Ödenen Faiz</span><span>{{ total_interest_paid|as_currency_plain_short }} TL</span>
		    </div>
		    <hr>
		    <div class="row-nice justify-content-between">
		    	<span>Elde Edilen Toplam Kâr</span><span>{{ profit|as_currency_plain_short }} TL</span>
		    </div>
		    <hr>
		    <div class="row-nice justify-content-between">
		    	<span>Kapama Sonrası Kredi Maliyeti</span><span>{{ total_cost|as_currency_plain_short }} TL</span>
		    </div>
		    <hr>
		    <div class="row-nice justify-content-between">
		    	<a href="/{{ loan_type.slug }}"><i class="fa {{loan_type.fa_icon}}"></i>&nbsp;{{ loan_type}} Listele</a><a href="/kredi/hesaplama-araclari/basit-kredi-hesaplama/">Kredi Hesapla</a>
		    </div>
		    <hr>
		    <div class="row-nice justify-content-between">
		    	<span>*İhtiyaç ve taşıt kredilerinde erken kapama ücreti alınmamaktadır. Konut kredilerindeki hesaplama için <a href="#blog">yazımızı okuyun.</a></span>
		    </div>
		</div>
	</div>
</div>