
<style>
:root {
  /* PALETTE */
--black: black;
--white: white;
--c1: #383e42; /* koyu gri */ --c1-tint: #263053; --c1-shade: #0c1739;
--c2: #222f5b; /* orta mavi */ --c2-tint: #1e2a51; --c2-shade: #38436b;
--c4: #7289da; /* discord mavisi */
  --c4-tint: #9cace5;
  --c4-tint-double: #d6e9ff;
  --c4-tint-triple: #f1f3fa;
  --c4-shade: #2f395b;
  --c4-shade-double: #1c2236;
  --c4-shade-double-o40: rgb(11,13,21,.4);
  --c4-shade-double-o90: rgb(11,13,21,.9);
--c5: #1e2124; /* koyu gri */ --c5-tint: #4a4d4f; --c5-tint-double: #eceded; --c5-shade: #0c0d0e;
--c6: #36393e; /* gri */ --c6-tint: #9a9c9e; --c6-shade: #25272b;
--c7: #5cb85c; /* bootstrap yeşil */ --c7-tint: #6cbf6c; --c7-tint-double: #b3ffb3; --c7-shade: #52a552;
--c8: #f0ad4e; /* bootstrap sarı */ --c8-tint: #f3bd71; --c8-shade: #a87936;
--c9: #d9534f; /* bootstrap kırmızı */ --c9-tint: #e07572; --c9-shade: #ad423f;
--c10: #f1f2f3; /* very light gray */ --c10-shade: #f4f5f6;
--cart-shadow-layer-background-color: rgba(67, 87, 121, 0.6);
--menu-background-color:var(--white);
--menu-logo-text-color-digi:var(--c4);
--menu-logo-text-color-kredi:var(--c4-shade);
--menu-button-background-color:var(--white);
--menu-text-color:var(--c6-tint);
--menu-text-color-hover:var(--c4-shade);
--lblcartcount-background:var(--c4);
}

*{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}
body{
    font-family: Helvetica;
    -webkit-font-smoothing: antialiased;
    background: var(--c4-tint-triple);
    margin:0;
}
h1{
    text-align: center;
    font-size: 24px;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: var(--c5);
    padding: 1rem 0;
}

h2{
    text-align: center;
    font-size: 18px;
    /*text-transform: uppercase;*/
    letter-spacing: 1px;
    color: var(--c5);
    padding: 30px 0;
}

/* Table Styles */

.table-wrapper{
    margin: 10px 70px 70px;
    box-shadow: 0px 17px 25px rgba( 0, 0, 0, 0.1 );
}

#header img {
  margin-left: auto;
  margin-right: auto;
  display: block;
  text-align: center;
  vertical-align: middle;
}

table {
    border-radius: 5px;
    font-size: 12px;
    font-weight: normal;
    border: none;
    border-collapse: collapse;
    width: 100%;
    max-width: 100%;
    white-space: nowrap;
    background-color: white;
}

td, th {
    text-align: center;
    padding: 8px;
}

td {
    border-right: 1px solid #f8f8f8;
    font-size: 12px;
}

thead th {
    color: #ffffff;
    background: var(--c4);
}


thead th:nth-child(odd) {
    color: #ffffff;
    background: var(--c4-shade);
}

tr:nth-child(even) {
    background: #F8F8F8;
}

/* Responsive */

@media (max-width: 767px) {
    {
        display: block;
        width: 100%;
    }
    .table-wrapper:before{
        content: "Kaydir >";
        display: block;
        text-align: right;
        font-size: 11px;
        color: white;
        padding: 0 0 10px;
    }
    thead, tbody, thead th {
        display: block;
    }
    thead th:last-child{
        border-bottom: none;
    }
    thead {
        float: left;
    }
    tbody {
        width: auto;
        position: relative;
        overflow-x: auto;
    }
    td, th {
        padding: 20px .625em .625em .625em;
        height: 60px;
        vertical-align: middle;
        box-sizing: border-box;
        overflow-x: hidden;
        overflow-y: auto;
        width: 120px;
        font-size: 13px;
        text-overflow: ellipsis;
    }
    thead th {
        text-align: left;
        border-bottom: 1px solid #f7f7f9;
    }
    tbody tr {
        display: table-cell;
    }
    tbody tr:nth-child(odd) {
        background: none;
    }
    tr:nth-child(even) {
        background: transparent;
    }
    tr td:nth-child(odd) {
        background: #F8F8F8;
        border-right: 1px solid #E6E4E4;
    }
    tr td:nth-child(even) {
        border-right: 1px solid #E6E4E4;
    }
    tbody td {
        display: block;
        text-align: center;
    }
}
</style>
<div id='header'>
    <h2>DigiKredi Daily Report</h2>
    <h1>Generated at: April 14, 2021</h1>
</div>
<h2>Applications</h2><div class="table-wrapper"><table border="1" class="dataframe">
  <thead>
    <tr>
      <th></th>
      <th colspan="3" halign="left">Total</th>
      <th colspan="3" halign="left">Distinct</th>
    </tr>
    <tr>
      <th>Success</th>
      <th>False</th>
      <th>True</th>
      <th>All</th>
      <th>False</th>
      <th>True</th>
      <th>All</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>2021-04-07</th>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
    </tr>
    <tr>
      <th>2021-04-08</th>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
    </tr>
    <tr>
      <th>2021-04-09</th>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
    </tr>
    <tr>
      <th>2021-04-10</th>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
    </tr>
    <tr>
      <th>2021-04-11</th>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
    </tr>
    <tr>
      <th>2021-04-12</th>
      <td>0</td>
      <td>1</td>
      <td>1</td>
      <td>0</td>
      <td>1</td>
      <td>1</td>
    </tr>
    <tr>
      <th>2021-04-13</th>
      <td>1</td>
      <td>1</td>
      <td>2</td>
      <td>1</td>
      <td>1</td>
      <td>2</td>
    </tr>
  </tbody>
</table></div><h2>Loan Requests and Sessions Created</h2><div class="table-wrapper"><table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>CA2</th>
      <th>GPL</th>
      <th>MOR</th>
      <th>All</th>
      <th>distinct_requests</th>
      <th>sessions_created</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>2021-04-13</th>
      <td>0</td>
      <td>10</td>
      <td>1</td>
      <td>11</td>
      <td>6</td>
      <td>14</td>
    </tr>
    <tr>
      <th>2021-04-12</th>
      <td>0</td>
      <td>5</td>
      <td>5</td>
      <td>10</td>
      <td>5</td>
      <td>0</td>
    </tr>
    <tr>
      <th>2021-04-11</th>
      <td>0</td>
      <td>5</td>
      <td>0</td>
      <td>5</td>
      <td>3</td>
      <td>0</td>
    </tr>
    <tr>
      <th>2021-04-10</th>
      <td>1</td>
      <td>2</td>
      <td>0</td>
      <td>3</td>
      <td>3</td>
      <td>0</td>
    </tr>
    <tr>
      <th>2021-04-09</th>
      <td>0</td>
      <td>19</td>
      <td>1</td>
      <td>20</td>
      <td>11</td>
      <td>0</td>
    </tr>
    <tr>
      <th>2021-04-08</th>
      <td>0</td>
      <td>2</td>
      <td>1</td>
      <td>3</td>
      <td>2</td>
      <td>0</td>
    </tr>
    <tr>
      <th>2021-04-07</th>
      <td>0</td>
      <td>2</td>
      <td>2</td>
      <td>4</td>
      <td>3</td>
      <td>0</td>
    </tr>
  </tbody>
</table></div><h2>Loan Detail Requests</h2><div class="table-wrapper"><table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>CA2</th>
      <th>CAR</th>
      <th>GPL</th>
      <th>MOR</th>
      <th>All</th>
      <th>distinct_requests</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>2021-04-13</th>
      <td>0</td>
      <td>0</td>
      <td>6</td>
      <td>0</td>
      <td>6</td>
      <td>4</td>
    </tr>
    <tr>
      <th>2021-04-12</th>
      <td>0</td>
      <td>2</td>
      <td>1</td>
      <td>6</td>
      <td>9</td>
      <td>2</td>
    </tr>
    <tr>
      <th>2021-04-11</th>
      <td>0</td>
      <td>0</td>
      <td>2</td>
      <td>0</td>
      <td>2</td>
      <td>2</td>
    </tr>
    <tr>
      <th>2021-04-10</th>
      <td>1</td>
      <td>0</td>
      <td>1</td>
      <td>0</td>
      <td>2</td>
      <td>2</td>
    </tr>
    <tr>
      <th>2021-04-09</th>
      <td>0</td>
      <td>0</td>
      <td>7</td>
      <td>0</td>
      <td>7</td>
      <td>5</td>
    </tr>
    <tr>
      <th>2021-04-08</th>
      <td>0</td>
      <td>1</td>
      <td>5</td>
      <td>1</td>
      <td>7</td>
      <td>2</td>
    </tr>
    <tr>
      <th>2021-04-07</th>
      <td>1</td>
      <td>0</td>
      <td>1</td>
      <td>2</td>
      <td>4</td>
      <td>3</td>
    </tr>
  </tbody>
</table></div>