{% if no_liked_loans == False %}
<div class="d-flex flex-column not-found-box sticky-top" style="z-index: 0;">
	<span class="p-2 display-7 border-bottom">Başvur</span>
	<div style="height: 0.5rem;"></div>
	
	<button type="submit" class="general-button display-7 w-100 align-left" name="apply-selected" formaction="/apply">
		<i class="fa fa-angle-right" aria-hidden="true"></i> Seçtiklerime Başvur
	</button>
	<div style="height: 0.25rem;"></div>
	<button type="submit" class="general-button display-7 w-100 align-left" name="apply-all" formaction="/apply">
		<i class="fa fa-angle-double-right" aria-hidden="true"></i> Hepsine Başvur
	</button>
	
	<div style="height: 0.5rem;"></div>

	<span class="p-2 display-7 border-bottom">Karşılaştır</span>
	<div style="height: 0.5rem;"></div>
	
	<button type="submit" class="general-button bg-secondary display-7 w-100 align-left" name="compare-selected">
		<i class="fa fa-angle-right" aria-hidden="true"></i> Seçtiklerimi Karşılaştır
	</button>
	<div style="height: 0.25rem;"></div>
	<button type="submit" class="general-button bg-secondary display-7 w-100 align-left" name="compare-all">
		<i class="fa fa-angle-double-right" aria-hidden="true"></i> Hepsini Karşılaştır
	</button>

</div>
{% endif %}