<div class="container">
    <div class="loan-query-title col-12 webkit-align-center">
        <span class="display-5 font-weight-bold">Kayıtlı Kredilerim</span>
        <br>
        <p class="display-7">
            Burası senin kayıtlı kredilerin sayfan. Önceden beğendiğin kredileri karşılaştırabilir, istediğine başvurabilirsin!
        </p>
    </div>
</div>
