<form method = "post" id="cartCheckboxForm">
{% csrf_token %}
<div class="container">
    <div class="row display-8 align-items-stretch">
        <div class="col-sm-9" id="cart-left-side">
        	{% include 'sepet/cart_items.html' %}
        </div>
        <div class="col-sm-3" >
        	{% include 'sepet/cart_operations.html' %}
        </div>
    </div>
</div>
<div class="divider-div"></div>
</form>