<div class="container">
    <div class="loan-query-title col-12 webkit-align-center">
        <span class="display-5 font-weight-bold">Kredi Karşılaştırma</span>
        <br>
        <p class="display-7">
            Aşağıda senin için seçtiğin kredileri karşılaştırdık. Sana en uygun olanı seçip başvurunu tamamlayabilirsin.
        </p>
    </div>
</div>
