<span {% if class != None %} class= {{ class }} {% else %} class="display-7 border-bottom font-weight-bold" {% endif %}  style="line-height: 2;margin-bottom: 0.4em">{{ text }}  <i class="fa fa-angle-double-right" aria-hidden="true"></i></span>