{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load wagtailimages_tags static pandas_filters %}

{% block head %}
    {% include 'home/global/head.html' %}
{% endblock %}

{% block body %}
<body>
    {% include 'home/global/menu.html' %}
    {% include 'home/global/cd_cart.html' %}
    {% include 'sepet/header.html' %}
    <div id="cart-page-content">{% include 'sepet/layout.html' %}</div>
    {% include 'home/global/breadcrumb.html' with z='DigiKredi.com'|zip:'/' curr='Kayıtlı Kredilerim' %}
</body>
{% endblock %}
{% block foot %}
    {% include 'home/global/foot.html' %}
{% endblock %}
{% block scripts %}
    {% include 'home/global/scripts.html' %}
    {% if show_subscription_notification %}
        {% include 'loans/widgets/subscription_notification.html' with notification_title='Kayıtlı kredilerinizle ilgili faiz değişikliklerinden anında haberdar olmak ister misiniz? E-posta adresinizi girin, gönderelim.' %}
    {% endif %}
    {% include 'sepet/scripts.html' %}
{% endblock %}
