{% load wagtailimages_tags pandas_filters %}
<div class="{% if removed == False %}checkbox {% endif %}card-box loan-box position-relative" {% if loan.header_type != None and removed == False %} style="padding-top: 2rem;" {% elif removed %} style="background-color: var(--c4-tint-triple);box-shadow: none; border: 1px solid var(--c4-tint-double)"{% endif %}>
    {% if removed == False %}
        {% include 'loans/widgets/loan_header.html' %}
    {% endif %}
    <div class="row">
        <div class="col-xs-3 col-sm-2 align-center">
            {% image loan.bank.logo width-96 alt="{{ loan.bank.name }}" %}<br><span class="display-8">{{ loan.name }}</span>            
        </div>
        <div class="col-xs-6 col-sm-7 align-center loan-box-numericals">
            <div class="row loan-box-numericals">
                <div class="align-center">
                    <span class="display-8">Tutar</span><br>
                    <span class="display-6 font-weight-bold">{% as_currency loan.principal.principal 'left' %}</span>
                    <span class="display-8">{% as_currency loan.principal.principal 'right' %}</span>
                </div>
                <div class="align-center">
                    <span class="display-8">Vade</span><br>
                    <span class="display-6 font-weight-bold">{{ loan.tenure.tenure|add_tenure_suffix_plain }}</span>
                </div>
                <div class="align-center">
                    {% include 'hr/simple_info_tooltip.html' %}<br>
                    <span class="display-6 font-weight-bold">
                        {{ loan.interest|as_percentage }}
                    </span>
                    {% include 'loans/widgets/saved_interest_change.html' %}
                </div>
            </div>
        </div>
        <div class="col-xs-3 col-sm-3 align-center">
            {% include 'home/global/detay_button.html' with request_source='saved-loans-page' %}
            {% include 'home/global/apply_button.html' with request_source='saved-loans-page' class="general-button display-8 bg-green align-center w-100" principal=loan.principal.principal tenure=loan.tenure.tenure %}
            {% if removed %}
                {% include 'loans/widgets/fav_icon.html' with class="re-like-icon like-icon" div_class="align-center" text_above='Kaydet' %}
            {% else %}
                <div class="row justify-content-around">
                    <div class="p-2">
                        <input type="checkbox" 
                    name="{{ loan.id|add:'&'|add:loan.principal.principal|add:'&'|add:loan.tenure.tenure }}" 
                    value=1 />
                        <label for="{{ loan.id|add:'&'|add:loan.principal.principal|add:'&'|add:loan.tenure.tenure }}">Seç</label>
                    </div>
                    <div class="p-2">
                        <a class="loan-remove-property detay-a" loan-key="{{ loan.id|add:'&'|add:loan.principal.principal|add:'&'|add:loan.tenure.tenure }}"><i class="fa fa-times" aria-hidden="true"></i>Sil</a>
                    </div>
                </div>
            {% endif %}
        </div>

        {% include 'loans/widgets/loan_save_date.html' %}
        
    </div>
</div>