{% load wagtailimages_tags %}
{% load pandas_filters %}
<div class="card-box loan-box">
    <div class="row align-items-center">
        <div class="col-xs-3 col-sm-2 align-center">
            {% image loan.bank.logo width-96 alt="{{ loan.bank.name }}" %}<br><span class="display-8">{{ loan.name }}</span>
        </div>
        <div class="col-xs-3 col-sm-2 align-center">
            <span class="display-8">Tutar </span>
            <br>
            <span class="display-6">{% as_currency loan.principal.principal 'left' %}</span>
            <span class="display-8">{% as_currency loan.principal.principal 'right' %}</span>
        </div>
        <div class="col-xs-3 col-sm-2 align-center">
            <span class="display-8">Vade</span><br>            
            <span class="display-6">{{ loan.tenure.tenure|add_tenure_suffix_plain }}</span>
        </div>
        <div class="col-xs-3 col-sm-2 align-center">
            <!-- <span class="display-8">Faiz Oranı </span><a data-tooltip="Kredi tutarının %0,05'i kadarlık dosya masrafı dahil edilmiştir."><i class="fa fa-info-circle" aria-hidden="true"></i></a> -->
            {% include 'hr/simple_info_tooltip.html' %}
            <br>           
            <span class="display-6">{{ loan.interest|as_percentage }}</span>
        </div>
        <div class="col-xs-6 col-sm-2 align-center" >
            {% include 'home/global/detay_button.html' with request_source='saved-loans-page' %}
            {% include 'home/global/apply_button.html' with request_source='saved-loans-page' class="general-button display-8 bg-green align-center" principal=loan.principal.principal tenure=loan.tenure.tenure %}
        </div>
        <div class="col-xs-6 col-sm-2">
            {% include 'loans/widgets/fav_icon.html' with class="re-like-icon like-icon" div_class="align-center" text_above='Kaydet' %}
        </div>
    </div>
</div>