{% load static wagtailmd %}
<section class="cid-s3ZoaRMIHq">
    <div class="container">
        <div class="row align-items-stretch align-center">
            <div class="col-sm-3 mobile-hidden"> 
                {% include 'tools/global/side_div.html' %}
            </div>
            <div class="col-12 col-xl-9">
                {% include 'tools/global/header.html' with title='Kredi Peşinat Hesaplama' description='Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam pharetra enim a feugiat viverra.' %}
                {% include 'tools/kredi_pesinat_hesaplama/hesaplama_araci.html' %}
            </div>
        </div>
    </div>
</section>
<hr>
{% include 'tools/global/post.html' %}