{% load static %}
<div class="row justify-content-center align-left align-items-start" style="position: relative;">
    <div class="col-12 col-lg-6 loan-final-card hesaplama-araci" id="form-div">
        <form method = "post" action="/ajax/hesaplama-araclari/kredi-pesinat-hesaplama/" id="hesaplama-form">
            {% csrf_token %}
            <label for="loan_type" class="display-7 form-text-color m-0">
			    Kredi Türü
			</label>
			<select class="margin-bottom-04 select form-control min-height-3rem" id="loan_type" name="loan_type" required>
			    <option value="">Seçiniz</option>
			    <option value="MOR">Konut Kredisi</option>
			    <option value="CAR">Taşıt Kredisi</option>
			</select>
            {% include 'tools/widgets/principal_input_widget.html' with label_text='Satın Alınacak Mülkün/Taşıtın Değeri' id='value' name='value' placeholder='250.000' %}
            {% include 'tools/widgets/tenure_input_widget.html' with label_text='Çekmeyi Düşündüğünüz Kredi Vadesi (Opsiyonel)' not_required=True placeholder='48' %}
            {% include 'tools/widgets/tools_submit_button.html' %}
        </form>
    </div>
    <div class="col-12" id="hesaplama-sonucu"></div>
</div>