{% load pandas_filters %}
<div class="row justify-content-end">
	<div class="col-12 col-xl-6">
		<div class="display-7 row align-center mbr-white positive-outcome-box">
	            <i class="fa fa-check-circle-o" aria-hidden="true"></i>
	    		Hesaplama başarılı!
	    		{% if min_interest %}
	    		Hesabınıza göre {{ max_principal|as_currency_plain_short }} TL'ye kadar kredi çekebilirsiniz. Bu tutar için en düşük faiz oranı {{ min_interest|as_percentage }}. <a class="mbr-white mbr-underline" href="#available-loans">Seçenekleri incele!</a>
	    		{% endif %}
	    </div>
	    <div class="loan-box">
		    <div class="row-nice justify-content-between">
		    	<span>En fazla çekebileceğiniz kredi tutarı</span><span>{{ max_principal|as_currency_plain_short }} TL</span>
		    </div>
		    <hr>
		    <div class="row-nice justify-content-between">
		    	<span>En az ödeyebileceğiniz peşinat</span><span>{{ downpayment|as_currency_plain_short }} TL</span>
		    </div>
		    <hr>
		    <div class="row-nice justify-content-between">
		    	<span>Kredi peşinat hesaplaması satın alacağınız mülkün veya taşıtın değeri üzerinden belirlenir. Detayları <a href="#blog">buradan</a> öğrenebilirsiniz.</span>
		    </div>
		</div>
	</div>
</div>
{% if loans %}
<section class="cid-s3ZoaRMIHq" id="available-loans">
	<h2 class="display-5">Hesaplamanıza göre bu kredileri kullanabilirsiniz:</h2><hr>
	{% if at_least_one_loan %}
		{% for loan in loans %}
	        {% include 'tools/basit_kredi_hesaplama/single_loan_summary.html' %}
	    {% endfor %}
	{% else %}
	    {% include 'loans/loan_query_page_elements/no_loan_found_message.html' %}
	{% endif %}
</section>
{% endif %}