{% load static pandas_filters %}
<div class="side-div sticky-top" style="z-index: 0;">
	{% include 'loans/loan_query_page_elements/loan_list_header.html' %}

	<div class="mobile-hidden" id="loan-requery-mobile-hidden-section">
		<form method = "post">
		    {% csrf_token %}
		    <input type="hidden" name="loan_type" id="loan_type_id" value="{{ loan_type }}" />
		    <input type="hidden" name="initial_tenure" id="initial_tenure_id" value="{{ tenure }}" />
		    <input type="hidden" name="initial_principal" id="initial_principal_id" value="{{ principal }}" />
		    <input type="hidden" name="request_source" value="loan-query-page" />
		    <div id = "main-request-principal"></div>
		    <div id = "main-request-tenure"></div>
		    <button type="submit" class="general-button display-7 w-100" name="requery-button" style="margin: 0.4rem 0 1rem 0;">Tekrar Listele</button>
		</form>
		{% include 'loans/widgets/user_guide_trigger.html' %}
	</div>

	<!-- TODO: PARAMETRIZE MIN-MAX IN PRINCIPAL LATER -->
</div>