<section class="cid-s3ZoaRMIHq">
    <div class="container">
        <div class="row align-items-stretch">
            <div class="col-12 col-lg-3">
                {% include 'loans/loan_query_page_elements/loan_requery_section.html' %}
                {% load pandas_filters %}
            </div>
            <div class="col-12 col-lg-9">
                {% if at_least_one_loan %}
                <!--Cards-->
                {% include 'loans/loan_query_page_elements/min_interest_check.html' with request_source='loan-query-page-cheaper-gpl-exists' %}
                {% for loan in loans %}
                        {% include 'loans/loan_query_page_elements/single_loan_summary.html' %}
                    {% endfor %}
                {% else %}
                    {% include 'loans/loan_query_page_elements/no_loan_found_message.html' %}
                {% endif %}
            </div>
        </div>
    </div>
</section>