{% load pandas_filters %}
<div class="loan-query-title">
    <span class="display-5">{{ loan_type|convert_loan_type }}</span>
    <br>
    <span class="align-left display-7">
        Sorgu sonucu <span class="font-weight-bold">{{ principal|as_currency_plain_short }} TL</span> tutarlı, <span class="font-weight-bold">{{ tenure|add_tenure_suffix_plain }}</span> vadeli <span class="font-weight-bold">({{ loans|length }})</span> adet kredi bulundu.

        <button class="show-requery-button" onclick="$('#loan-requery-mobile-hidden-section').removeClass('mobile-hidden');$('.show-requery-button').css('background-color','var(--c6)');"><i class="fa fa-filter" aria-hidden="true"></i>&nbsp;Tekrar Ara</button>
    </span>
</div>