{% load pandas_filters %}
{% if cheaper_gpl_exists %}
<div class="display-7 row d-flex justify-content-between" style="padding:1rem;margin:0 0 1rem 0;border-radius: var(--global-border-radius);background:var(--c4-tint-triple);line-height: 1.15;">
    <div class="col-12 col-sm-8">
    		<div class="row">
    			<div class="col-2">
	    			<i class="fa fa-info-circle fa-2x" aria-hidden="true" style="color:var(--icon-color);"></i>
	    		</div>
	    		<div class="col-10">
	        		Aynı vade ve tutarda daha <b>düşük faiz oranlı</b> bir <b>İhtiyaç Kredisi</b> mevcut.
	        	</div>
        	</div>
    </div>
    <div class="col-12 col-sm-4">
    	{% include 'loans/widgets/show_cheaper_gpl_form.html' %}
    </div>
</div>
{% endif %}