{% load pandas_filters %}
<div class="loan-query-title col-12">
	<hr>
    <p class="align-left mbr-fonts-style m-0 display-7 align-center">
        {{ principal|as_currency_plain }} değerinde {{ tenure|add_tenure_suffix }} vadeli kredi bulunamadı.
    </p>
    <hr>
</div>