{% load static %}
<script src="{% static 'assets/intro-js/minified/intro.min.js' %}"></script>
<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-tour/0.12.0/js/bootstrap-tour-standalone.min.js" integrity="sha512-KlU17Q8b+noPYQtMWXM8BO08lReJoX3AHxYm7Zyi3UpYYkE4ch7r8d82DGitdIE3r82OW20VMQLVwsYyXo99sQ==" crossorigin="anonymous"></script> -->
{% comment %}
<script src="{% static 'loans/js/loan_query_page.js' %}"></script>
<script src="{% static 'loans/js/subscribe.js' %}"></script>
<script src="{% static 'loans/js/user_guide.js' %}"></script>
{% endcomment %}