{% load wagtailimages_tags pandas_filters %}
<div class="card-box loan-box position-relative slide-up" {% if loan.header_type != None %} style="padding-top: 2rem;" {% endif %}>
    {% include 'loans/widgets/loan_header.html' %}
    {% include 'loans/widgets/fav_icon.html' %}
    {% include 'loans/widgets/last_interest_change.html' %}
    <div class="row">
        <div class="col-xs-3 col-sm-2 align-center">
            <a href="{{ '/banka/'|add:loan.bank.slug }}">{% image loan.bank.logo width-96 alt="{{ loan.bank.name }}" %}</a><br>
            <span class="display-8">{{ loan.name }}</span>            
        </div>
        <div class="col-xs-6 col-sm-7 align-center loan-box-numericals">
            <div class="row loan-box-numericals">
                <div class="align-center">
                    {% include 'hr/simple_info_tooltip.html' %}
                    <br>
                    <span class="display-6 font-weight-bold">{{ loan.interest|as_percentage }}</span>
                </div>
                <div class="align-center">
                    <span class="display-8">Aylık Taksit</span><br>            
                    <span class="display-6 font-weight-bold">{% as_currency loan.installment 'left' %}</span>
                    <span class="display-8">{% as_currency loan.installment 'right' %}</span>
                </div>
                <div class="align-center">
                    <!-- <span class="display-8">Toplam Ödeme</span> -->
                    {% include 'hr/loan_detail_tooltip.html' %}
                    <!-- <a data-tooltip="Kredi tutarının %0,05'i kadarlık dosya masrafı dahil edilmiştir."><i class="fa fa-info-circle fa-xs" aria-hidden="true"></i></a> -->
                    <br>
                    <span class="display-6 font-weight-bold">{% as_currency loan.total_payment 'left' %}</span>
                    <span class="display-8">{% as_currency loan.total_payment 'right' %}</span>
                </div>
            </div>
        </div>
        <div class="col-xs-3 col-sm-3 align-center">
            {% include 'home/global/detay_button.html' with request_source='loan-query-page' %}
            {% include 'home/global/apply_button.html' with request_source='loan-query-page' %}
        </div>
    </div>
</div>