{% extends 'base.html' %}
{% load static %}
{% load wagtailimages_tags %}

{% block head %}
    {% include 'home/global/head.html' %}
{% endblock %}

{% block body %}
<body>
    {% include 'home/global/menu.html' %}
    {% include 'loantype_pages/global/tree_bar.html' %}
    <section class="engine"></section>
    <h1> THIS IS THE IHTIYAC KREDISI PAGE</h1>
</body>
{% endblock %}

{% block foot %}
    {% include 'home/global/foot.html' %}
{% endblock %}

{% block scripts %}
    {% include 'home/global/scripts.html' %}
{% endblock %}