
{% load static wagtailimages_tags wagtailmd pandas_filters %}
{% if blogs|leng > 0 %}
<section class="features18 popup-btn-cards cid-s2gxOHzbBU section-margin" id="features18-4" style="display: none;">
    <div class="container">
        <div class="row justify-content-center position-relative icon-color section-title" style="margin:0">
              <div class="display-4 title-color-primary title"><i class="fa fa-newspaper-o" aria-hidden="true"></i>&nbsp;DigiKredi Bilgi Merkezi</div>
              <br>
              <span class="col-md-12 straight-line"></span>
        </div>
        <div class="media-container-row row align-items-stretch">
            {% for blog in blogs %}
            <div class="card col-12 col-md-6 col-lg-3" style="margin-top:1rem">
                <div class="card-wrapper ">
                    <div class="card-img" style="border-radius:var(--global-border-radius);">
                        <div class="mbr-overlay"></div>
                        <div class="mbr-section-btn text-center">
                            <a href="{{ blog.url_path }}" class="general-button bg-secondary display-6">Devamını oku</a>
                        </div>
                        <img alt="{{ blog.header_image.alt }}" src="{{ blog.header_image.file.url }}" height="200" />
                        {% comment %}{% image blog.header_image max-200x200 alt="{{ blog.header_image.alt }}" %}{% endcomment %}
                    </div>
                    <div class="card-box display-8">
                        <i class="display-8 form-info-text-color">{{ blog.date }}<br><br></i>
                        <h4 class="display-7">{{ blog.title }}</h4>
                        <span class="display-8">
                            <br>
                            {% if blog.excerpt %}
                                {{ blog.excerpt|markdown|safe }}
                            {% else %}
                                {{ blog.body|markdown|safe }}
                            {% endif %}
                        </span>
                        <br>
                        <a href="{{ blog.url_path }}" class="display-8">Devamını oku...</a>
                    </div> 
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
{% endif %}