{% load pandas_filters %}
{% if faqs|leng > 0 %}
<section class="toggle1 cid-s5sHqNibdR section-margin" id="toggle1-z" style="display:none">
   <div class="container">
      <div class="row justify-content-center position-relative icon-color section-title">
         <div class="display-4 title-color-primary title"><i class="fa fa-newspaper-o" aria-hidden="true"></i>&nbsp;Sıkça Sorulan Sorular</div>
         <br>
         <span class="col-md-12 straight-line"></span>
      </div>
      <div id="bootstrap-toggle" class="toggle-panel accordionStyles tab-content" style="margin-top:1rem">
         {% for faq in faqs %}
         <div class="card">
            <div class="card-header" role="tab" id="headingOne">
               <a role="button" class="collapsed panel-title" data-toggle="collapse" data-core="" href={% concat '#collapse' faq.bullet_no '_10' %}
               aria-expanded="false" aria-controls="collapse1">
               <h4 class="mbr-fonts-style display-7" style="color:var(--primary-text-color);">
                  <i class="fa fa-arrow-right"></i> {{faq.bullet_title}}
               </h4>
               </a>
            </div>
            <div id={% concat 'collapse' faq.bullet_no '_10' %} class="panel-collapse noScroll collapse" role="tabpanel" aria-labelledby="headingOne">
            <div class="panel-body p-4">
               <p class="mbr-fonts-style panel-text display-8">
                  {{faq.bullet_content|safe}}
               </p>
            </div>
         </div>
      </div>
      {% endfor %}
   </div>
   </div>
</section>
{% endif %}