{% load pandas_filters %}
<ul class="list-group" refers-to= {% concat "featured_loan_id_form_" loan.slug %} >
    <li class="d-flex justify-content-between", style="line-height: 1.5;">
    	<span class="display-8">Faiz Oranı</span>
    	<span>{{ loan.interest|as_percentage }}</span>
    </li>
    <li class="d-flex justify-content-between", style="line-height: 1.5;">
    	<span class="display-8">Aylık Taksit</span>
    	<span>{{ loan.installment|as_currency_plain }}</span>
    </li>
    <li class="d-flex justify-content-between", style="line-height: 1.5;">
    	<span class="display-8">Toplam Ödeme</span>
    	<span>{{ loan.total_payment|as_currency_plain }}</span>
    </li>
    <li class="space-between d-flex justify-content-center">
    {% include 'home/global/detay_button.html' %}<br>
    </li>
    <li class="space-between d-flex justify-content-center">
    	{% include 'home/global/apply_button.html' with principal=loan.principal.principal tenure=loan.tenure.tenure %}
    </li>
    <li class="space-between d-flex justify-content-center">
        {% include 'home/global/search_across_all_banks_button.html' %}
    </li>
</ul>