{% load static pandas_filters wagtailimages_tags %}
{% if featured_loans|length > 0 %}
<section class="cid-s3nMbhVkww min-vh-100">
	<div class="container scroll">
	<div class="row">
		<div class="homepage-header">
		<i class="fa fa-bar-chart fa-3x icon-color mobile-hidden" aria-hidden="true"></i>
		</div>
		<div class="homepage-header">
		<span class="display-4 font-weight-bold title-color-primary">Öne Çıkan</span><br><span class="display-5 font-weight-bold title-color-secondary">Krediler</span>
		</div>
		<div class="homepage-header">
		<span class="display-7">{{ description }}</span></div>
	</div>
	<div id="ft-container" class="display-7">	
		{% for loan in featured_loans %}
			{% include "home/local/featured_loan_item.html" %}
		{% endfor %}
	</div>
</div>
</section>
<div class="divider-div"></div>
{% endif %}