{% load wagtailimages_tags %}
{% load pandas_filters %}
<div class="card-box loan-box" style="width: 16rem;position:relative;min-width: 250px;">
  {% comment %} {% include 'loans/widgets/fav_icon.html' %} {% endcomment %}
	<div class="align-left" style="min-height: 4rem;">
		{% image loan.bank.logo min-48x36 alt="{{ loan.bank.name }}" %}<br><span class="display-7">{{ loan.name }}</span>
	</div>
  

  	<div id={% concat "featured_loan_id_form_" loan.slug %} class="card-body">

        <input type="hidden" name="loan_type" value={{ lt }} />
        <input type="hidden" name="bank_slug" value={{loan.bank.slug}} />
        
          	{% csrf_token %}
            {{ form.media }}
            <!-- principal input widget -->
            <div 
              id = {% concat "featured_loan_id_principal_" loan.slug %}
              slug = {{ loan.slug }}
              initial = {{ loan.principal.principal }}></div>
            
            
            <!-- tenure input widget -->
            <div 
              id = {% concat "featured_loan_id_tenure_" loan.slug %}
              slug = {{ loan.slug }}
              initial = {{ loan.tenure.tenure }}></div>
            
	</div>
  {% include 'home/local/featured_loan_item_details.html' %}
</div>