{% load wagtailimages_tags %}
{% load pandas_filters %}
{% load static %}
<section class="cid-s3nMbhVkww section-margin">
  <div class="container">
    <div class="row justify-content-center position-relative icon-color section-title" style="margin:0">
          <div class="display-4 title-color-primary title"><i class="fa fa-bar-chart-o" aria-hidden="true"></i>&nbsp;Banka Kredi Özetleri</div>
          <br>
          <span class="col-md-12 straight-line"></span>
    </div>
    <div id = "loan-summary-tabs">
      <ul class="nav nav-tabs display-7 justify-content-center" id="loanSummaryTabs" role="tablist" style="margin-bottom:1rem;">
        <li class="nav-item">
          <a class="nav-link active" id="GPLSummary-tab" data-toggle="tab" href="#GPLSummary" role="tab" aria-controls="GPLSummary" aria-selected="false">İhtiyaç Kredisi</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="MORSummary-tab" data-toggle="tab" href="#MORSummary" role="tab" aria-controls="MORSummary" aria-selected="false">Konut Kredisi</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="CARSummary-tab" data-toggle="tab" href="#CARSummary" role="tab" aria-controls="CARSummary" aria-selected="false">Taşıt Kredisi 0 Km</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="CA2Summary-tab" data-toggle="tab" href="#CA2Summary" role="tab" aria-controls="CA2Summary" aria-selected="false">Taşıt Kredisi 2. El</a>
        </li>
      </ul>

      <div class="tab-content display-7" id="loanSummaryTabsContent">
        <div class="tab-pane fade show active" id="GPLSummary" role="tabpanel" aria-labelledby="GPLSummary-tab">
          {% include "home/local/loan_summary_table_gpl.html" with lt="GPL" %}
        </div>
        <div class="tab-pane fade" id="MORSummary" role="tabpanel" aria-labelledby="MORSummary-tab">
          {% include "home/local/loan_summary_table_gpl.html" with lt="MOR" %}
        </div>
        <div class="tab-pane fade" id="CARSummary" role="tabpanel" aria-labelledby="CARSummary-tab">
          {% include "home/local/loan_summary_table_gpl.html" with lt="CAR" %}
        </div>
        <div class="tab-pane fade" id="CA2Summary" role="tabpanel" aria-labelledby="CA2Summary-tab">
          {% include "home/local/loan_summary_table_gpl.html" with lt="CA2" %}
        </div>
      </div>
    </div>
</section>
