{% load wagtailimages_tags %}
{% load pandas_filters %}
{% load static %}
<section class="cid-s3nMbhVkww section-margin">
  <div class="container">
      <div class="row justify-content-center position-relative icon-color section-title" style="margin:0">
            <div class="display-4 title-color-primary title"><i class="fa fa-sort-amount-asc" aria-hidden="true"></i>&nbsp;En Düşük Faiz Oranları</div>
            <br>
            <span class="col-md-12 straight-line"></span>
      </div>
      <div id = "loan-Matrix-tabs">
        <ul class="nav nav-tabs mbr-fonts-styles display-7 justify-content-center" id="loanMatrixTabs" role="tablist" style="margin-bottom:1rem;">
          <li class="nav-item">
            <a class="nav-link active" id="GPLMatrix-tab" data-toggle="tab" href="#GPLMatrix" role="tab" aria-controls="GPLMatrix" aria-selected="false">İhtiyaç Kredisi</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="MORMatrix-tab" data-toggle="tab" href="#MORMatrix" role="tab" aria-controls="MORMatrix" aria-selected="false">Konut Kredisi</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="CARMatrix-tab" data-toggle="tab" href="#CARMatrix" role="tab" aria-controls="CARMatrix" aria-selected="false">Taşıt Kredisi 0 Km</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="CA2Matrix-tab" data-toggle="tab" href="#CA2Matrix" role="tab" aria-controls="CA2Matrix" aria-selected="false">Taşıt Kredisi 2. El</a>
          </li>
        </ul>

        <div class="tab-content mbr-fonts-styles display-7" id="loanMatrixTabsContent">
          <div class="tab-pane fade show active" id="GPLMatrix" role="tabpanel" aria-labelledby="GPLMatrix-tab">
            {% include "home/local/loan_matrix_table.html" with lt="GPL" %}
          </div>
          <div class="tab-pane fade" id="MORMatrix" role="tabpanel" aria-labelledby="MORMatrix-tab">
            {% include "home/local/loan_matrix_table.html" with lt="MOR" %}
          </div>
          <div class="tab-pane fade" id="CARMatrix" role="tabpanel" aria-labelledby="CARMatrix-tab">
            {% include "home/local/loan_matrix_table.html" with lt="CAR" %}
          </div>
          <div class="tab-pane fade" id="CA2Matrix" role="tabpanel" aria-labelledby="CA2Matrix-tab">
            {% include "home/local/loan_matrix_table.html" with lt="CA2" %}
          </div>
        </div>
      </div>
</section>
