{% load static %}
<section class="tabs1 cid-s3ZoaRMIHq fade-in" id="tabs1-5">
    <div class="container">
        <div class="row align-items-start">
            <div class="col-12 col-sm-6">
                <div class="row main-title-div justify-content-center">
                    <span class="step main-title">
                        <i>1</i>
                        <!-- <i class="fa fa-sort-amount-asc fa-2x" aria-hidden="true" style="color:white"></i> -->
                    </span>
                    &nbsp;
                    <span class="align-center title-color-primary main-title">Hemen kredi listele</span>
                </div>
                
                <div class="loan-final-card">
                    <ul class="nav nav-tabs justify-content-center" role="tablist">
                        <li class="nav-item" loan-type="GPL">
                            <a class="nav-link display-7 active" onclick="hideExtraCarLoanFields()" role="tab" data-toggle="tab" href="#tabs1-5_tab0">
                                <i class="fa fa-money"></i>
                                İhtiyaç
                            </a>
                        </li>
                        <li class="nav-item" loan-type="MOR">
                            <a class="nav-link display-7" onclick="hideExtraCarLoanFields()" role="tab" data-toggle="tab" href="#tabs1-5_tab1">
                                <i class="fa fa-home"></i>
                                Konut
                            </a>
                        </li>
                        <li class="nav-item" loan-type="CAR">
                            <a class="nav-link display-7" onclick="showExtraCarLoanFields()" role="tab" data-toggle="tab" href="#tabs1-5_tab2">
                                <i class="fa fa-car"></i>
                                Taşıt
                            </a>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <div class="row">
                            <div class="col-md-12">
                                <form
                                    method = "post" id="loanRequestForm"
                                    data-tenures-url="{% url 'ajax_load_tenures' %}"
                                    get-principal-limits-url="{% url 'ajax_get_principal_limits' %}"
                                    >
                                    {% csrf_token %}
                                    <!-- <input type="hidden" name="request_type" value="main_request" /> -->
                                    <input type="hidden" name="loan_type" id="id_loan_type" value="GPL" />
                                    <input type="hidden" name="request_source" value="home-main" />
                                    <div class="flex-column display-7" id="car-loan-extra-fields" style="display: none;">
                                        <span class="display-7 form-text-color" style="line-height: 2;">Aracın Durumu</span>
                                        <div class="d-flex flex-row input-text-color">
                                            <div> <!-- BURASI COK DANDIK OLDU DEGISSIN -->
                                                <input type="radio" id="0km" name="radio-group" checked>
                                                <label for="0km" style="margin:0;">0 Km</label>
                                            </div>
                                            <div> <!-- BURASI COK DANDIK OLDU DEGISSIN -->
                                                <input type="radio" id="2el" name="radio-group">
                                                <label for="2el" style="margin:0 0 0 1rem;">2. El</label>
                                            </div>
                                        </div>
                                    </div>

                                    <div id = "main-request-principal"></div>
                                    <div id = "main-request-tenure"></div>
                                    
                                    
                                    <input type="submit" name="main-request" class="general-button display-4 w-100 min-height-3rem" style="margin-top: 0.4rem;padding: 0" value="Ara">
                                </form>
                                <div id="min-max-interest-section">
                                    {% include 'home/local/min_max_interest_section.html' %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6">
                <div class="row main-title-div justify-content-center">
                    <span class="step main-title">
                        <i>2</i>
                        <!-- <i class="fa fa-sort-amount-asc fa-2x" aria-hidden="true" style="color:white"></i> -->
                    </span>
                    &nbsp;
                    <span class="align-center title-color-primary main-title">ya da şunlara göz at;</span>
                </div>
                <div class="container" id="main-navigation">
                    <a id="expand-loan-matrix-section" href="#en-dusuk-faiz-oranlari"><div class="row justify-content-center slide-up">
                        <div class="col-1"><i class="fa  fa-sort-amount-asc"></i></div>
                        <div class="col-9">
                            En Düşük Faiz Oranları<br>
                            <i class="display-8 form-info-text-color">Vade ve tutara göre en düşük faiz oranlarını inceleyin.</i></div>
                        <div class="col-1"><i class="fa fa-angle-right"></i></div>
                    </div></a>
                    <a id="expand-loan-summary-section" href="#bankalara-gore-faiz-oranlari" class="mobile-hidden"><div class="row justify-content-center slide-up">
                        <div class="col-1"><i class="fa fa-bar-chart-o"></i></div>
                        <div class="col-9">Banka Bazlı Faiz Oranları<br>
                            <i class="display-8 form-info-text-color">Bankalara göre faiz oranları özeti ve hızlı sorgulama seçeneği.</i></div>
                        <div class="col-1"><i class="fa fa-angle-right"></i></div>
                    </div></a>
                    {% if featured_loans|length > 0 %}
                    <a id="expand-featured-loans-section" href="#one-cikan-krediler"><div class="row justify-content-center slide-up">
                        <div class="col-1"><i class="fa fa-fire"></i></div>
                        <div class="col-9">En çok tercih edilen krediler<br>
                            <i class="display-8 form-info-text-color">Vade ve tutara göre en düşük faiz oranlarını inceleyin.</i></div>
                        <div class="col-1"><i class="fa fa-angle-right"></i></div>
                    </div></a>
                    {% endif %}
                    <a id="expand-bank-list-section" href="#bankalar"><div class="row justify-content-center slide-up">
                        <div class="col-1"><i class="fa fa-university"></i></div>
                        <div class="col-9">Banka Listesi<br>
                            <i class="display-8 form-info-text-color">Bankaları kendi özelinde inceleyebilirsin.</i></div>
                        <div class="col-1"><i class="fa fa-angle-right"></i></div>
                    </div></a>
                    <a id="expand-faq-section" href="#merak-edilenler"><div class="row justify-content-center slide-up">
                        <div class="col-1"><i class="fa fa-question-circle"></i></div>
                        <div class="col-9">Merak Edilenler<br>
                            <i class="display-8 form-info-text-color">Krediler hakkında merak edilen soruları cevapladık.</i></div>
                        <div class="col-1"><i class="fa fa-angle-right"></i></div>
                    </div></a>
                    <a id="expand-blog-section" href="#haberler"><div class="row justify-content-center slide-up">
                        <div class="col-1"><i class="fa fa-newspaper-o"></i></div>
                        <div class="col-9">Güncel Haberler<br>
                            <i class="display-8 form-info-text-color">Kredi, vade, ve faizlerle ilgili en güncel haberleri okuyabilirsin.</i></div>
                        <div class="col-1"><i class="fa fa-angle-right"></i></div>
                    </div></a>
                    {% comment %}
                    <a id="expand-subscription-section" href="#abone-ol"><div class="row justify-content-center slide-up">
                        <div class="col-1"><i class="fa fa-envelope"></i></div>
                        <div class="col-9">E-posta güncellemelerimize ücretsiz abone olun<br>
                            <i class="display-8 form-info-text-color">Vade ve tutara göre en düşük faiz oranlarını inceleyin.</i></div>
                        <div class="col-1"><i class="fa fa-angle-right"></i></div>
                    </div></a>
                    {% endcomment %}
                </div>
            </div>
        </div>
    </div>
    <!-- <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script> -->
    <script>
    function showExtraCarLoanFields() {
      document.getElementById("car-loan-extra-fields").style.display = "block";
    }
    </script>
    <script>
    function hideExtraCarLoanFields() {
      document.getElementById("car-loan-extra-fields").style.display = "none";
    }
    </script>

</section>
