{% load pandas_filters %}
<div class="display-7 row d-flex align-items-stretch mobile-hidden">
	<div class="col-sm d-flex align-items-center justify-content-around min-max-interest-section-left">
		<div class="p-2"><i class="fa fa-arrow-up fa-2x" aria-hidden="true" style="color:#d9534f;"></i></div>
		<div class="d-flex flex-column align-center">
			<div class="p-2">
				<span class="display-8">En yüksek faiz</span><br>
				<span class="font-weight-bold">{{ inferior_loan.interest|as_percentage }}</span>
			</div>
			<!-- <div><i class="fa  fa-arrow-down" aria-hidden="true"></i></div> -->
			<div class="p-2">
				<span class="display-8">Toplam ödeme</span><br>
				<span class="font-weight-bold">{{ inferior_loan.total_payment|as_currency_plain }}</span>
			</div>
		</div>
	</div>
    <div class="col-sm d-flex align-items-center justify-content-around min-max-interest-section-middle">
		<div class="p-2"><i class="fa fa-arrow-down fa-2x" aria-hidden="true" style="color:#f0ad4e;"></i></div>
		<div class="d-flex flex-column align-center">
			<div class="p-2">
				<span class="display-8">En düşük faiz</span><br>
				<span class="font-weight-bold">{{ superior_loan.interest|as_percentage }}</span>
			</div>
			<!-- <div><i class="fa  fa-arrow-down" aria-hidden="true" style="color:gray;padding-right:4px;"></i></div> -->
			<div class="p-2">
				<span class="display-8">Toplam ödeme</span><br>
				<span class="font-weight-bold">{{ superior_loan.total_payment|as_currency_plain }}</span>
			</div>
		</div>
	</div>
	<div class="col-sm d-flex align-items-center justify-content-around min-max-interest-section-right">
		<div class="p-2"><i class="fa fa-check-circle-o fa-2x" aria-hidden="true" style="color:#5cb85c;"></i></div>
		<div class="d-flex flex-column align-center">
			<span class="font-weight-bold">{% subtract inferior_loan.total_payment|as_float superior_loan.total_payment|as_float 'currency' %} kâr</span> etmek için kredileri listeleyin!
		</div>
	</div>
</div>