<!-- LOAN REQUEST OPERATIONS -->
{% load static %}
{% comment %}
<script src="{% static 'home/js/loan_request_ops.js' %}"></script>
<script src="{% static 'home/js/subscribe_home.js' %}"></script>
<script src="{% static 'assets/mbr-tabs/mbr-tabs.js' %}"></script>
<script src="{% static 'loans/js/subscribe.js' %}"></script>
{% endcomment %}