<section class="mbr-section form3 cid-s3nKaBMSpf subscription-section-homepage" id="form3-t">
    <div class="container">
        <form action="/subscribe" method="POST" id="home-subscription-form">
        {% csrf_token %}
        <input type="hidden" name="subscription_type" value="general" />
        <div class="row">
            <div class="col-lg-8 col-sm-12">
                <div class="align-left display-6">Digi Kredi'den kredilerle ilgili haber almak ister misiniz? E-posta adresinizi birakin.</div>
                <br>
                <label for="permission_check" class="display-8"><input type="checkbox" name="permission_check" style="margin:0 0.5rem 0 0;" checked required />Kişisel verilerimin Açık Rıza Metni nde belirlenen şartlarda işlenmesine izin verdiğimi ve Kişisel Verilerin Korunması Hakkında Bilgilendirme ’yi okuduğumu ve kabul ettiğimi onaylıyorum.</label>
                <br>
                <label for="marketing_check" class="display-8"><input type="checkbox" name="marketing_check" style="margin:0 0.5rem 0 0;" checked />DigiKredi.com’a özel indirimli banka kredileri ve çeşitli fırsatlardan e-posta, sms ve telefon ile bilgi almak istediğimi onaylıyorum.</label>
            </div>

            <div class="col-lg-4 col-sm-12">
                <div class="form-group col" data-for="email" style="padding:0; margin-bottom:0.5rem;">
                    <input type="email" name="email" placeholder="E-posta adresiniz" data-form-field="Email" required="required" class="form-control display-7" id="email-form3-t" style="height: 3rem;">
                </div>
                <button type="submit" class="general-button display-6 w-100" style="height: 3rem;">Gönder</button>
            </div>
        </div>
        </form>
    </div>
</section>